img.pull-right(src=image alt="Iluminação")

p.mg-first Com meu #[=""]
  a(href=`${public.montegasppa.blog.url}2017/12/entre-lobos.html`)
    | recentíssimo diagnóstico
  | , sinto-me compelido a escrever uma série de desabafos por algums motivos,
  |  como #[em catartizar] algumas emoções e posicionar-me frente ao mundo.

p Primeiro é muito importante deixar claro (pra todos, inclusive
  |  #[strong pra mim mesmo]) que o diagnóstico não muda minha condição – eu
  |  não me torno autista – eu #[strong continuo] sendo autista. Apenas me torno
  |  consciente disso.

p O objetivo #[=""]
  a(href=current.url) desta publicação
  |  é desabafar quanto a um texto que li sobre culpar os outros por nossos
  |  próprios fracassos. É preciso antes deixar claro que:

ol
  li Não é um justificativa ou resposta, é um desabafo. Não tenho obrigação
    |  alguma de me justificar pra ninguém.
  li Não é uma resposta. Não quero confrontar ninguém.
  li É tão somente um #[strong desabafo].

p No texto que li dizia pras pessoas pararem de procurar desculpas pras coisas
  |  que não dão certo, pararem de culpar os outros, a sociedade, o demônio, a
  |  cultura.

p Em parte concordo, uma vez que, quando caímos na asneira de jogar a culpa dos
  |  males que nos afligem em fatores externos, tendemos a acomodar-nos à
  |  posição de vítimas, sem nada podermos fazer. Por outro lado, o extremo
  |  proposto dá a entender a #[=""]
  a(href="https://www.revistaforum.com.br/2015/06/01/quadrinho-desconstroi-o-conceito-de-meritocracia/")
    | meritocracia
  | , que também é uma farsa, ao desconsiderar a influência do contexto na vida
  |  das pessoas.

p Em que isso tem a ver com autismo?

p Posso falar por mim mesmo e como eu lido (em sempre lidei, mesmo não sabendo)
  |  com o autismo, ou melhor, com um mundo feito para não incluir autistas.

p Não fico culpando os outros pelos meus fracassos, pior: tenho pensamentos de
  |  menos valia (palavras de minha psicóloga), mesmo assim atingi tudo o que
  |  pude, contra todas as expectativas para um autista, mesmo um leve. Porém
  |  se as pessoas com quem lido diariamente fossem educadas para serem
  |  tolerantes com o diferente, eu teria muito menos dificuldades.

p É #[strong exatamente] o mesmo caso da mulher que sofre preconceito da
  |  sociedade machista, do negro que sofre racismo, do homossexual que sofre
  |  homofobia. Neurotípicos sofrem preconceito #[strong sim].

p É por isso que precisamos parar de acusar as pessoas de vitimismo, parar com
  |  essa palhaçada de heterofobia, cristofobia, misandria e outras mentiras
  |  pró-opressoras e começarmos a trabalhar uma sociedade mais inclusiva, menos
  |  preconceituosa.
