img.pull-right(src=image alt="T.E.A.")

p.mg-first Ontem finalmente recebi o resultado de uma avaliação que estou
  |  fazendo há algumas sessões: aos 42 anos recebo o diagnóstico de #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F84.1")
    | autismo
  | . Na verdade dupla-excepcionalidade: #[=""]
  a(href="https://pt.wikipedia.org/wiki/Espectro_autista")
    | Transtorno do Espectro Autista
  |  e #[=""]
  a(href="https://pt.wikipedia.org/wiki/Superdotado")
    | Altas Habilidades
  | .

p O autismo não foi nenhuma surpresa, já tinha o prognóstico e não tinha
  |  dúvidas. Achei que chegaria em casa e continuaria meu dia-a-dia, no máximo
  |  escreveria uma publicação neste #[em blog] falando sobre o assunto.

p Não foi assim.

p Por um lado foi um alívio: um monte de coisas na minha vida que não se
  |  encaixavam passaram a fazer sentido. Todo o #[em bullying] que sofri na
  |  escola e no trabalho (e ainda sofro) passou a fazer sentido. As pessoas
  |  não aceitam o diferente, perseguindo e atacando sem trégua. Pretendo
  |  escrever uma publicação específica sobre isso.

p Meu #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F41.1")
    | Transtorno de Ansiedade
  |  – e os consequentes #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F42") TOC
  |  e #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F91.3") TOD
  |  – são resultado de viver sob esses constantes ataques, conviver com
  |  protocolos sociais que não sou capaz de entender, não fazem sentido pra
  |  mim, como se eu vivesse entre lobos.

p Chorei. Chorei e precisei de uma noite de sono para digerir. Chorei de alívio,
  |  mas não somente. Também por uma tremenda #[=""] #[strong frustração] em
  |  perceber uma realidade nefasta e inevitável.

p Uma parte dessa realidade provém das AH/SD: eu não esperava esse diagnóstico
  |  e não fazia ideia do quão alto era meu QI. Isso significa que eu me sentir
  |  rodeado por pessoas “burras” não é simplesmente por eu perceber o mundo
  |  de forma qualitativamente diferente, mas porque, mesmo as pessoas não
  |  sendo burras de fato, do meu ponto de vista #[strong são]. E sempre serão.

p Entenda: cada um é a referência para si mesmo. Sendo eu referência de
  |  cognição para mim mesmo, eu não me percebo alto habilidoso, mas mediano.

p Em relação a minha referência de inteligência, seria como viver em uma
  |  sociedade onde a grande maioria das pessoas tivesse capacidade cognitiva
  |  média mais ou menos equivalente a #[=""]
  u(title=about_iq) QI 65
  | . Soa arrogante? Não é a intenção. Pra mim na verdade é
  |  #[strong assustador].

p Mas isso não é o pior.

p O pior vem da percepção que os neurotípicos têm dos neurodiversos e o
  |  consequente preconceito.

p Sempre senti que não sou respeitado, recorrentemente as pessoas me tratam como
  |  criança, desrespeitando minha idade, minha experiência, minha maturidade.
  |  Por exemplo: ao ler minha avaliação para minha esposa, minha psicóloga
  |  comentou:

p — É como ter outra criança em casa? É…

p Porra, #[strong não] é. O problema é que, para o neurotípico, a referência de
  |  maturidade, de “ser adulto”, é a neurotipicidade. Portanto, desse ponto de
  |  vista, um neurodiverso #[strong jamais] será adulto.

p Assim, um neurotípico imaturo, incapaz de lidar com frustrações, é considerado
  |  mais adulto do que qualquer neurodiverso jamais será, o que é uma
  |  #[strong injustiça].

p Uma injustiça que estou condenado a sofrer por toda minha vida – não por culpa
  |  da neurodiversidade, do autismo, mas por culpa do preconceito e da
  |  incompreensão dos neurotípicos – e dos neurodiversos que se acham
  |  neurotípicos.

p Foi essa sentença – de viver numa sociedade de lobos, a perspectiva de nunca
  |  ser respeitado como igual, nunca ser compreendido – que me fez desabar.

p Não tenho qualquer rancor do autismo, da neurodiversidade, sinto-me bem
  |  reconhecendo-me autista, mas meu rancor pelo preconceito e incompetência
  |  cognitiva da sociedade só piora.
