img.pull-right(src=image alt="Anhangá")

p.mg-first Conheci uma história indígena muito interessante: a história de Iwa.

p Ora sua história é misturada à de #[=""]
  a(href="https://pt.wikipedia.org/wiki/Anhangá") Anhangá (Añangá)
  | , ora à de #[=""]
  a(href="https://pt.wikipedia.org/wiki/Jurupari_(mitologia)")
    | Jurupari (Îurupari)
  | .

p Certa vez os caçadores de uma aldeia encontraram um bebê largado na floresta.
  |  Ele tinha a pele branca e feições diferentes das que eles estavam
  |  habituados. O levaram para a aldeia, onde foi adotado por uma mulher
  |  respeitada.

p Ele recebeu o nome de #[strong Iwa (Iûa)], “imprestável”. Ao crescer, em seu
  |  corpo cresciam mais pelos do que das outras pessoas (como um europeu?). Iwa
  |  também tinha muita afinidade com os animais.

p Devido a sua aparência e comportamento estranhos, Iwa era discriminado,
  |  ninguém queria estar com ele, e ele passou a preferir a companhia dos
  |  animais da floresta, fazendo amizade com um cervo de pelos brancos.

p Como é natural em culturas silvestres, os índios começaram a desconfiar do
  |  animal de pelagem diferente, acreditando tratar-se de um espírito maligno,
  |  e resolveram sair à caça para livrar a aldeia daquela criatura “das
  |  trevas”.

p Sabendo disso, Iwa foi na frente para tentar salvar o amigo, mas como
  |  resultado acabou assassinado pelos caçadores junto com o cervo.

p Qual a moral dessa história? Para os índios serve para explicar o surgimento
  |  de Anhangá ou Jurupari, de acordo com o folclore local, mas para nós fica
  |  uma moral bem diferente.

p Algumas pessoas tentem a angelicar os povos aborígines, crendo na pureza e
  |  bondade do ser humano em seu estado selvagem, mas na verdade o aborígine é
  |  o que é: #[strong ser humano], com todos os defeitos do ser humano, e o ser
  |  humano não aceita o diferente, perseguindo e destruindo.

p — #[=""]
  em Vamos destruir o que não entendemos!

p Cada um de nós deve se policiar para exercitar a tolerância e a empatia,
  |  tentando entender o diferente.

hr/

p: small Crédito da imagem #[=""]
  a(href="http://www.imgrum.org/media/1142413999022033032_1149352321")
    | Bruxaria Brasil no Imgrum
  | .
