img.pull-right(src=image alt="T.E.A.")

p.mg-first As pessoas acham que ser literal significa não entender sentido
  |  figurado, ter dificuldade com conotações. Bem, talvez algumas pessoas
  |  não entendam, mas esse não é meu problema.

p Entendo conotação: não passa de um outro sentido da palavra ou expressão,
  |  parte do vocabulário. Sei que “chover canivetes” significa chover muito,
  |  não literalmente canivetes.

p Meu problema é não entender o subentendido, as entrelinhas. As pessoas dizem
  |  coisas, mas deixam de dizer outras por acharem obviamente subentendido.
  |  Pois então, pra mim não é óbvio.

p Um exemplo clássico é quando alguém faz algum comentário negativo sobre si
  |  mesmo esperando um elogio. Pra mim não é óbvio.

p — Ah! Hoje estou me sentido feio(a).

p E eu respondo: Verdade, já teve dias melhores.

p E a pessoa fica me olhando com cara de tacho.

p Ou quando minha esposa fica chateada comigo porque ela pediu “limpe a
  |  cozinha”, e eu não limpei o fogão. Obviamente limpar o fogão faz parte de
  |  limpar a cozinha. Não pra mim.

p Ser literal significa que eu nunca sei se a pessoa está falando sério ou
  |  brincando, representando um personagem, a menos que ela seja explicitamente
  |  sarcástica.

p Ser literal significa que vou dar preferência a usar as palavras com o sentido
  |  mais literal possível, inclusive usando palavras que as outras pessoas não
  |  usam em substituição a expressões de duplo sentido.

p Ser literal significa que vou definir os conceitos que usar numa conversa, a
  |  ponto das pessoas se irritarem.

p Mas isso é parte de quem eu sou.
