img.pull-right(src=image alt="T.E.A.")

p.mg-first Participando de alguns grupos de pais de autistas, alguns #[=""]
  |  #[em on-line], outros presenciais, tenho percebido uma tentiva – até uma
  |  necessidade – de padronizar o autista, mesmo pelos próprios #[em aspies].

p Pais de autistas tentam classificar os filhos com rótulos quadrados e fáceis:
  |  “autistas são assim”, “autistas agem daquele jeito”. Os próprio autistas
  |  comentam “#[u nós] somos assim”, “#[u nós] pensamos dessa forma”,
  |  “#[u nós] sentimos isso”.

p Bem, tenho uma informação para vocês: não existe “nós”.

p A neurotipicidade – “normalidade” para os leigos – é que é uma caixa restrita
  |  e limitante, que define de forma estéril os neurotípicos, sem muita margem
  |  pra diferenças.

p A neurodiversidade, pelo contrário, é todo o resto: #[=""]
  strong todo o espectro de possibilidades do cérebro humano
  | . Portanto cada autista é tão diferente do outro quanto os autistas são dos
  |  neurotípicos.

p Querer colocar todos os neurodiversos na mesma caixa é como dizer “nós
  |  humanos” vs “eles todo o resto: animais, vegetais e minerais”, simplesmente
  |  não encaixa.

p Uns autistas são hipersensíveis, outro hipossensíveis; uns têm
  |  hipersensibilidade a algumas coisas e hipossensibilidade a outras, outros
  |  são o contrário. Uns são extremamente inteligentes, outros têm dificuldade
  |  com percepção básica; uns são discálculos, outros gênios matemáticos; uns
  |  são #[em pattern thinkers], outros #[em photo-realistic visual thinkers]
  |  e outros ainda #[em verbal minds].

p Não é possível colocar todos os autistas sob o mesmo rótulo ou com as mesmas
  |  características.

p Autismo não é uma doença: a diversidade parece doença à mente limitada assim
  |  como o voo parece doença ao pássaro na gaiola.

p Nem tão pouco uma deficiência: isso vai ofender alguns que se consideram mais
  |  “eficientes” que os autistas, mas a meus olhos de autista superdotado todos
  |  os neurotípicos parece deficientes cognitivos. É claro que isso não
  |  significa que sejam, assim como os autistas terem deficientes algumas
  |  características do desenvolvimento não significa que sejam deficientes.

p No entanto classificar oficialmente neurodiversos como deficientes é o único
  |  mecanismo disponível parar integrar indivíduos diversos a uma sociedade
  |  #[strong excludente], que #[strong rejeita] o singular, o diferente.

p Isso porque doente é a sociedade que não consegue lidar como nada além de
  |  uma pequena gama de possibilidades restritas do universo humano.
