
img.pull-right(src=image alt="")

br/

p.mg-first Mais uma lista de trabalhos interessantes a serem ouvidos, desta vez
  |  incluindo #[em folk], #[em post rock] e #[em fusion]:

br/
br/

+ul
  a(href="https://open.spotify.com/artist/1WgXqy2Dd70QQOU7Ay074N"): +li
    | AURORA
  a(href="https://open.spotify.com/artist/5qOfTfMzTj2dvvpWKzIFk6"): +li
    | The Bad Plus
  a(href="https://open.spotify.com/artist/2JFljHPanIjYy2QqfNYvC0"): +li
    | Chon
  a(href="https://open.spotify.com/artist/2zm8cgPfdXVZYQEJJFWWyM"): +li
    | Computer vs. Banjo
  a(href="https://open.spotify.com/artist/014v7wyYEzOsxoWbiqXFOA"): +li
    | Distorted Harmony
  a(href="https://open.spotify.com/artist/2AsusXITU8P25dlRNhcAbG"): +li
    | Gotye
  a(href="https://open.spotify.com/artist/0aeLcja6hKzb7Uz2ou7ulP"): +li
    | Noah and the Whale
  a(href="https://open.spotify.com/artist/606C212UlG23PcixrcBGI4"): +li
    | Planet X
  a(href="https://open.spotify.com/artist/3Gs10XJ4S4OEFrMRqZJcic"): +li
    | Plini
  a(href="https://open.spotify.com/artist/2rIRxLNznXw6Nj7wllGtuj"): +li
    | Sarah Longfield
  a(href="https://open.spotify.com/artist/64z8Vr12q5qFaJfBZdIURB"): +li
    | Sheriffs of Shroedingham

p Usei apenas #[em links] do #[=""]
  a(href="https://www.spotify.com/br/") Spotify
  |  desta vez porque não tenho referências do Youtube para todos.
