body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  background-color: #97b3c9;
  color: #fff;
  text-shadow: #4b5964 1px 1px 1px;
}
.title {
  width: 100%;
  height: 64pt;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("/misc/vortaro.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.vortaro {
  text-align: center;
  padding: 0% 20% 0% 20%;
  width: 100%;
  height: 30em;
}
.vortaro iframe {
  border: none;
  width: 100%;
  height: 30em;
}
