include ../../../_widgets/list-group-item.pug

img.pull-right(src=image alt="O Sutra [β-pre-release]")

p.mg-first Aproveito #[=""]
  a(href="https://pt.wikipedia.org/wiki/The_Hitchhiker's_Guide_to_the_Galaxy#/media/File:Answer_to_Life.png")
    | meu aniversário
  |  para fazer o #[=""]
  a(href="https://www.patreon.com/posts/o-sutra-b-pre-15464951") pré-lançamento
  |  do novo EP de minha banda, #[=""]
  a(href="https://www.patreon.com/saekla") Sækla Saklōrum
  | .

p Esse pré-album possui apenas duas músicas do álbum, que será lançado completo
  |  ano que vem. A primeira é uma regravação de #[=""]
  a(href="https://www.youtube.com/watch?v=zt1nERWDZ24")
    | Anões jogando boliche no Céu
  | , música de minha banda anterior. A segunda é a parte Ⅱ de #[=""]
  a(href="https://open.spotify.com/track/1LgJWpiUyH9HaFV0xfZjKV") Nimbo
  | .

p Você pode encontrar o álbum em:

+ul
  a(href="https://open.spotify.com/album/1riy2fOZqcC99o7WVS1MBc")
    +li Spotify
  a(href="https://play.google.com/store/music/album/S%C3%A6kla_Sakl%C5%8Drum_O_Sutra_%CE%B2_pre_release?id=Bm5hdfp3jspx5hfeombtlhnoebi")
    +li Google Play Music
  a(href="https://itunes.apple.com/us/album/o-sutra-%CE%B2-pre-release-single/1315364813")
    +li iTunes
  a(href="https://www.microsoft.com/pt-BR/store/music/album/sekla-saklorum/o-sutra-%CE%B2-pre-release/8d6kgwxqh1xc")
    +li Groove

p E mais algumas mídias ainda por vir.
