img.pull-right(src=image alt="The Punisher" width="100px" height="100px")

p.mg-first Terminei de assistir ontem a série #[=""]
  a(href="https://www.netflix.com/title/80117498") Marvel’s The Punisher
  |  no Netflix. A primeira coisa que gostaria de comentar é que nunca fui muito
  |  fã do Justiceiro, não gosto da proposta de vigilantismo e sempre achei um
  |  personagem fraco frente a outros da Marvel.

p Dito isso, sigo para minhas impressões da série.

h3(style="color: red;") ALERTA: #[em SPOILERS]‼️

p A primeira coisa que me cativou na série, fazendo-a merecer minhas quatro
  |  estrelinhas, foi ter apresentados personagens “cinzentos”: ninguém no
  |  começo da série é totalmente bom ou mal, todos apresentam nuances de
  |  personalidade. Frank Castle, o Justiceiro, sofre de uma psicose muito
  |  clara e é atormentado pela morte de sua família e pelos crimes que cometeu
  |  no passado. Só vê alívio para sua dor em situações de extrema violência, e
  |  a única cura seria sua própria morte, que ele busca durante a série.

p Com exceção de Curtis Hoyle, todos os outros personagens são cinzentos.

p Mas isso se perde ao longo da série: gradualmente os mocinhos vão perdendo
  |  suas características ruins e aquelas com as quais nos identificamos vão
  |  sendo acentuadas, enquanto os vilões vão ficando cada vez mais vis,
  |  perdendo os ganchos de empatia. Isso deixa a série muito chato do meio para
  |  o fim.

p Uma coisa desnecessária na série é o #[em filler] secundário de Lewis Wilson.
  |  Nesse conto, a série nos conduz a crer que quem defende o desarmamento da
  |  população é covarde e vil, que armas são coisas boas. Creio que essa parte
  |  sem qualquer contexto com a história principal – os ganchos são forçados e
  |  desnecessários – seja porque o público principal da franquia seja
  |  majoritariamente de psicopatas que só se sentem seguros quando armados.

p O final também é muito #[strong fraco]: a série termina com um “final feliz”,
  |  onde todos os mocinhos terminam bem e todos os vilões recebem “o que
  |  merecem”, quando o fluxo da história claramente conduzia a um final não
  |  tão feliz, porém muito mais elegante e refinado. No entanto, o público
  |  alvo da série não teria inteligência emocial para apreciá-lo.

p Em resumo: a série é boa, vale a pena, mas ainda fica aquém de outras séries
  |  da Marvel no Netflix, como #[=""]
  a(href="https://www.netflix.com/title/80002537") Luke Cage
  | , #[=""]
  a(href="https://www.netflix.com/title/80002311") Jessica Jones
  |  e mesmo a fraca #[=""]
  a(href="https://www.netflix.com/title/80002612") Iron Fist
  | .
