img.pull-right(src="/img/cinismo/ridiculo.jpg" alt="Ridículo é o fascista.")

p.mg-first Vamos deixar o cinismo de lado e colocar todas as cartas na mesa,
  | o que desfavorece o fascista, já que sua abordagem é lidar com informações
  | rasas e frases de efeito: a intenção do autor nessa imagem foi traçar
  |  paralelos entre a cassação da #[]
  a(href="https://pt.wikipedia.org/wiki/Dilma_Rousseff") Dilma
  |  e a cassação de #[]
  a(href="https://pt.wikipedia.org/wiki/Eduardo_Cunha") Eduardo Cunha
  | .

p Basta um mínimo de inteligência que qualquer adulto sadio possui para
  | desmentir cada suposto paralelo sugerido na imagem, porém é preciso deixar
  | de lado a má fé antipetista que cria um prisma de ódio, impedindo a razão e
  | a cognição.

p Vamos aos detalhes que, para a felicidade dos fascistas, não cabem em frases
  | de efeito de 140 caracteres:


h3 Cunha foi eleito decraticamente

p Não, não foi.

p Democraticamente se tivesse alçado ao poder por voto popular, como a Dilma,
  |  porém ele chegou à Câmara através do #[]
  a(href="http://tre-mt.jusbrasil.com.br/noticias/2363109/saiba-o-que-e-quociente-eleitoral-quociente-partidario-e-voto-em-legenda")
    | quociente partidário
  | , que, a grosso modo, é quando o povo vota em alguns políticos e outros são
  | levados pelos votos desses.

p No mais, ele chegou a presidente da Câmara por voto indireto, que é quando
  | representantes do povo elegem um líder em vez do próprio povo elegê-lo.

p Tudo isso foge às definições mais flexíveis de Democracia. Porém o fim desse
  | sistema antidemocrático depende do voto de políticos favorecidos justamente
  | por esse mesmo sistema.


h3 Cunha não inventou a corrupção

p Sim, mas, enquanto a Dilma sofreu #[em impeachment] porque não quis parar o
  |  Lava Jato, Cunha é parte essencial da corrupção brasileira desde os tempos
  | do Collor.

p Pra quem não sabe, Cunha era o braço de #[]
  a(href="https://pt.wikipedia.org/wiki/Paulo_César_Farias") PC Farias
  |  dentro da Eletrobrás.

p No mais, Cunha vem engendrando os detalhes legais de todos os políticos
  | envolvidos em política cinza desde então, dado seu grande domínio das
  | brechas legais. Desde a década de ’90 ele é o mestre de fantoches, puxando
  | as cordinhas dos políticos.

p De outro lado, nas palavras do pai do #[]
  a(href="http://www.rafinhabastos.com.br/") Rafinha Bastos
  | , #[]
  a(href="https://www.facebook.com/rafinhabastos/posts/1142529049160208")
    | Dilma não faz conchavos
  | , por isso não duraria na política. Pelo visto estava certo.


h3 O plenário que cassará o mandato dele é corrupto

p Verdade, por isso mesmo acho ingenuidade quem acredita que a cassação dele
  | serviu a outro fim que não acalmar a opinião pública e permitir que Cunha
  | escape pela tangente de volta para as sombras do cenário político, de onde
  | ele mesmo deve achar que nunca deveria ter saído.


h3 Tirar Cunha não acabará com a corrupção

p Verdade, mas pode ser um passo importante para reduzi-la, enquanto tirar a
  | Dilma apenas representa o fim do Lava Jato e de direitos civis.


h3 Quem viu a votação da Câmara sabe que o problema do Brasil não é o Cunha

p Como #[strong não]?!

p É o Cunha sim senhor, mas também essa corja que lá dentro está com o rabo
  | preso. Cunha é um dos mestres de fantoches – não é o único, mas é um dos
  | mais importantes.


h3 Conclusão

p Dito isso, esclarecidos os detalhes do cinismo e o maucaratismo, não são os
  | argumentos que são ridículos, mas a má fé de quem fez essa imagem.

p Aliás, a imagem repete o tempo todo “corrupção”. Sabe quem subiu ao poder
  |  com esse discurso anti-corrupção? #[]
  a(href="https://pt.wikipedia.org/wiki/Adolf_Hitler") Hitler
  | , #[]
  a(href="https://pt.wikipedia.org/wiki/Benito_Mussolini") Mussolini
  | , #[]
  a(href="https://pt.wikipedia.org/wiki/Augusto_Pinochet") Pinochet
  | … mas se eu disser isso vão me acusar de #[]
  a(href="https://en.wikipedia.org/wiki/Reductio_ad_Hitlerum")
    | Redutio ad Hitlerum
  | , que é o argumento que os neonazistas usam pra agir livremente sem serem
  |  revelados.
