include ../../../_includes/list-group-item.jade

p.mg-first
  a(href="http://sml-family.org/") Standard ML
  |  é a definição padrão (#[em standard], duh) de#[=" "]
  a(href="https://en.wikipedia.org/wiki/ML_(programming_language)") ML
  | , uma família de linguagens de programação funcional impura. O representante
  | mais expressivo dessa família é a linguagem francesa#[=" "]
  a(href="http://caml.inria.fr/") OCaml
  | , e uma linguagem prima é#[=" "]
  a(href="https://www.haskell.org/") Haskell
  | , um parente funcional puro.

p A implementação de Standard ML que recomendo é a da#[=" "]
  a(href="http://www.cs.princeton.edu/") Princeton University
  | ,#[=" "]
  a(href="http://www.smlnj.org/") SML/NJ
  | .

p Gostaria de, antes de tudo, pedir desculpas pelos códigos que passarei aqui,
  | pois Standard ML é uma linguagem que não domino, então alguns conceitos
  |  podem estar errados. Se quiser me enviar erratas, comente abaixo.

h3 Linguagem funcional pura vs impura

p Para uma linguagem ser considerada funcional pura, ela precisa respeitar
  |  algumas #[em constraints]:

+ul
  +li
    | O algoritmo deve ser baseado em chamadas de função, que recebem
    | parâmetros e retornam valores. O estado do programa não muda, apenas os
    | dados são reconstruídos através do encadeamento de funções.

  +li
    | As funções devem ser “avaliadas” (não achei palavra melhor) sob demanda,
    | de modo não-estrito.

  +li
    | As funções devem ser idempotentes, seja, dado determinado(s)
    | parâmetro(s), ela deve invariavelmente retornar sempre o mesmo resultado.

  +li
    | Não pode haver mudança de estado: uma vez um valor vinculado a um
    |  #[em slot], não pode ser mudado. Neste sentido, a palavra “variável” não
    |  representa bem o #[em slot]. Pessoalmente prefiro #[strong incógnita].

  +li
    | Assim, #[em loops] são resolvidos com recursão. Para que a recursão não
    | estoure a pilha de instâncias de função, como ocorre em algumas linguagens
    | imperativas, a máquina virtual ou interpretador precisa implementar#[=" "]
    a(href="https://en.wikipedia.org/wiki/Tail_call") Tail-call optimisation
    | .

p Se a linguagem funcional não atende a todas as #[em constraints] – ou atende
  | parcialmente – ela é considerada impura.

p A família ML é impura porque usa um recurso de linguagens imperativas: a
  | mudança de estado. Assim uma variável do tipo referência (
  code a' ref
  | ) pode ter seu valor alterado. Havendo mudança de estado, uma função pode
  | não ser idempotente.

p Por exemplo:

pre.prettyprint: code.language-ml.
  - val x = ref 0;
  val x = ref 0 : int ref
  - x := !x + 1;
  val it = () : unit
  - !x;
  val it = 1 : int

p A variável #[code x] foi criada como uma referência a uma posição de memória
  |  que guarda um inteiro, onde foi colocado o valor zero (#[code 0]).

p Na avaliação seguinte, o conteúdo da posição de memória referenciada por
  |  #[code x] foi incrementado. É possível ver na última avaliação que aquela
  |  posição de memória agora guarda o valor #[code 1].

p: small As linguagens da família ML também suportam que uma variável seja
  | associada a outro valor.

h3 Gerador de inteiros

p Vamos então ao código!!! 😃

p Vamos criar um gerador de números inteiros e uma função que use este gerador
  | para gerar uma lista de números inteiros.

p As assinaturas de nossas funções serão:

pre.prettyprint: code.language-ml.
  val xrange : (int * int) -&gt; unit -&gt; int option
  val range : (int * int) -&gt; int list

p Tomei os nomes emprestados de#[=" "]
  a(href="https://docs.python.org/2.7/library/functions.html") Python 2.7
  | . #[code xrange] recebe como parâmetro uma tupla de dois inteiros
  |  (#[code (int * int)]) e retorna uma função que recebe uma#[=" "]
  a(href="https://en.wikipedia.org/wiki/Unit_type") unidade
  | , retornando uma “opção” de inteiro.

p A tupla recebidas por #[code xrange] representa o começo e o fim da
  | reiteração.

p Então o parâmetro #[code (a, b)] representa matematicamente reiteração sobre o
  | conjunto #[tt [a, b)].

p #[code range] recebe o mesmo tipo de parâmetro que #[code xrange], retornando
  | a lista já composta.

p: span(class=["glyphicon", "glyphicon-alert mg-alert"])
  |  — Mas o que diabos é uma #[strong opção] de inteiro?

p É um valor que #[strong pode ser] “algum” (#[code SOME]) inteiro ou “nenhum”
  |  (#[code NONE]).

pre.prettyprint: code.language-ml.
  - SOME 42;
  val it = SOME 42 : int option
  - NONE;
  val it = NONE : 'a option

p Usaremos #[code NONE] para marcar o fim da reiteração. Precisamos também de
  | um#[=" "]
  a(href="https://en.wikipedia.org/wiki/Closure_(computer_programming)")
    em closure
  |  para armazenar o próximo retorno do gerador (já que geradores não são
  |  idempotentes). Usaremos um #[code int ref] para o #[em closure].

p: small Atualizei o código removendo a necessidade de usar #[code fn].

pre.prettyprint: code.language-ml.
  local
    fun xrange' i finish () =
      if !i &gt;= finish then
        NONE
      else
        let
          val r = !i
        in
          i := !i + 1;
          SOME r
        end
  in
    fun xrange (start, finish) = xrange' (ref start) finish
  end

p Vamos testar nosso #[code xrange]:

pre.prettyprint: code.language-ml.
  - val x = range (0, 10);
  val x = fn : unit -&gt; int option
  - x ();
  val it = SOME 0 : int option
  - x ();
  val it = SOME 1 : int option
  - x ();
  val it = SOME 2 : int option
  - x ();
  val it = SOME 3 : int option
  - x ();
  val it = SOME 4 : int option
  - x ();
  val it = SOME 5 : int option
  - x ();
  val it = SOME 6 : int option
  - x ();
  val it = SOME 7 : int option
  - x ();
  val it = SOME 8 : int option
  - x ();
  val it = SOME 9 : int option
  - x ();
  val it = NONE : int option

p OK! Nossa função se comporta como esperado! Agora precisamos criar a função
  |  #[code range].

h3 Gerador para lista

p Para criar a função #[code range], criaremos uma função que receba um gerador
  |  e retorne uma lista de todos os valores gerados.

p Esta função precisa de um acumulador: uma lista que começa vazia (#[code nil])
  |  e vai sendo preenchida conforme o gerador é reiterado. Então ela precisa
  | validar o gerador (passando a unidade como parâmetro) e tratar o resultado:

pre.prettyprint: code.language-ml.
  fun genToList' (acc : int list) (gen : unit -&gt; int option) : int list =
    case gen () of NONE       =&gt; rev acc
      | SOME value =&gt; genToList' (value::acc) gen

p Perceba que, passando #[code value::acc], a lista é gerada de trás para
  |  frente. Portanto, ao recebermos o valor de parada (#[code NONE]),
  |  precisamos retornar a inversão do acumulador (#[code rev acc]).

p Nossa#[=" "]
  code genToList'
  |  tem assinatura#[=" "]
  code int list -&gt; (unit -&gt; t option) -&gt; t list
  | , o que significa que, se chamada com um único parâmetro (o acumulador),
  | retorna uma função com a assinatura#[=" "]
  code (unit -&gt; t option) -&gt; t list
  | . Vamos criar o variante com acumulador embutido:

pre.prettyprint: code.language-ml.
  val genToList = genToList' nil

p Podemos usar essa segunda função para construir a função #[code range].
  |  Colocando tudo junto:

pre.prettyprint: code.language-ml.
  local
    fun genToList' (acc : int list) (gen : unit -&gt; int option) : int list =
      case gen () of NONE       =&gt; rev acc
                   | SOME value =&gt; genToList' (value::acc) gen
    val genToList = genToList' nil
  in
    val range = genToList o xrange
  end

p A construção #[code o] funciona como #[tt o] de matemática, por exemplo,
  |  #[tt fog(x)] é o mesmo que #[tt f(g(x))].

p Vamos testar:

pre.prettyprint: code.language-ml.
  - range (0, 10);
  val it = [0,1,2,3,4,5,6,7,8,9] : int list

p <em>It works!!!</em> 😋

h3 Próximo artigo

p No#[=" "]
  a(href=public.kodumaro._data.blog.url+"2016/03/sml-2.html") próximo artigo
  |  vamos tornar o gerador mais robusto e genérico com #[em structures] e
  |  #[em functors].
