img.pull-right(src=image alt="The Yes Album")

p.mg-first Sempre me considerei um musicista progressivo. Mas como isso começou?

p Minha mãe fora cantora e gostava muito de #[=""]
  a(href="http://www.thebeatles.com/") Beatles
  |  e cantores de serenata. Cresci ouvindo isso. Quanto eu tinha algo entre dez
  |  e doze anos meus pais deram dois álbuns de presente pra mim e meu irmão:
  |  não me recordo que álbum ganhei, mas meu irmão ganhou #[=""]
  a(href="https://pt.wikipedia.org/wiki/The_Yes_Album") The Yes Album
  | .

p Nós jamais tínhamos ouvido algo assim, ficamos fascinados! Porém o nome da
  |  banda (
  a(href="https://pt.wikipedia.org/wiki/Yes") Yes
  | ) não nos dizia nada. Sabíamos apenas que era #[em rock], mas ninguém de
  |  nosso círculo de conhecidos ou de nossos pais tinha ouvido falar em Yes.
  |  Era diferente, subversivo, exótico demais.

p De alguma forma aquilo me definiu. Quando comecei a fazer música, aquele som
  |  exótico de alguma forma direcionava o que eu escrevia. Minha primeira
  |  composição, #[=""]
  a(href="https://open.spotify.com/track/1LgJWpiUyH9HaFV0xfZjKV") Nimbo
  | , estava contaminada por aquela música subversiva demais até para roqueiros.
  |  O resultado é que ninguém queria tocar comigo por muito tempo.

p — Você faz “RPG #[em music]”!
p — Esse som é muito estranho, ninguém gosta disso!
p — Mas que música esquisita é essa?!

p Nesse contexto, certa vez ouvi #[=""]
  a(href="https://pt.wikipedia.org/wiki/Delicate_Sound_of_Thunder")
    | The Delicate Sound of Thunder
  | , álbum deveras #[em pop] do #[=""]
  a(href="http://www.pinkfloyd.com/") Pink Floyd
  | . Gostei – não mais que gostei.

p Uns meses depois uma namorada minha me perguntou se eu gostava de Pink Floyd.
  |  Em minha inocência e desconhecimento respondi que sim – afinal de contas
  |  havia ouvido aquele álbum e curtido. Ela tinha outro álbum do Pink Floyd
  |  do qual não havia gostado, então me deu de presente: #[=""]
  a(href="https://pt.wikipedia.org/wiki/The_Final_Cut_(álbum)")
    | The Final Cut
  | .

p Ouvi e #[strong amei].

p Comecei a ouvir tudo de Pink Floyd, aprendi sobre as fases da banda, #[=""]
  a(href="https://pt.wikipedia.org/wiki/Syd_Barrett") Syd Barrett
  | .

p Descobri o #[=""]
  a(href="https://pt.wikipedia.org/wiki/Rock_progressivo")
    | #[em rock] progressivo
  | . Fui a uma loja de progressivo da cidade, #[=""]
  a(href="https://www.facebook.com/renaissance.discos.35") Renaissance Discos
  | , onde aprendi tudo o que pude sobre o gênero. Eu era um parasita, não
  |  comprava nada (ou quase nada), passava os dias na loja ouvindo
  |  #[strong todos] os álbuns, aprendendo com o pessoal da loja tudo o que
  |  podia sobre #[em rock] progressivo.

p Ali descobri que o Yes que eu tanto havia admirado na infância era uma banda
  |  lendária de progressivo. Descobri também tantos outros músicos e bandas do
  |  gênero.

p Essa é minha relação com o progressivo.

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/aO0erLpktSE"
                               frameborder="0"
                               allowfullscreen=true)
