img.pull-right(src=image alt="𝄞")

p.mg-first Há um tempo fiz uma #[=""]
  a(href=`${public.montegasppa.blog.url}2017/02/escalas-anemitonicas-e-semitonicas.html`)
    | postagem
  |  sobre a diferença entre escalas anemitônicas e semitônicas, porém de modo
  |  muito superficial. Agora é hora de aprofundar um pouco o assunto.

p As escalas anemitônicas costumam possuir baixa gravidade, como por exemplo a
  |  escala de segundas maiores, de gravidade nula. No entanto pretendo ser um
  |  pouco mais ortodoxo nesta publicação e abordar escalas de maior gravidade.

p As escalas anemitônicas de maior gravidade são as pentatônicas. #[=""]
  small Observação: nem toda escala pentatônica é anemitônicas.

h3 Pentatônicas

p Escalas pentatônicas são escalas de cinco graus, geralmente resultado da
  |  supressão de dois graus da escala diatônica, mas não exclusivamente.
  |  Surgiram na China baseadas em estudos da teoria de Pitágoras pelos músicos
  |  daquela região.

p A primeira escala pentatônica acredita-se ter sido a #[=""]
  a(href="https://en.wikipedia.org/wiki/Yo_scale") escala #[em yo]
  | . Acredita-se que a característica de modo maior ou menor muito bem definida
  |  em todos os modos da escala diatônica incomodava os orientais devido a
  |  diferenças culturais. Para resolver isso, os chineses removeram da escala
  |  os graus muito característicos.

p Então foram suprimidos o sétimo grau, que caracterizava demasiadamente a
  |  tônica, e o terceiro grau, que marcava o modo como maior.

p Temos então:

.text-center: img(src="/img/anemitonicas/yo-scale.png" alt="escala Yo")
br/

p Seu uso costuma ser #[em adagio], explorando semínimas e colcheias.
  |  #[em Appoggiaturas] duplas crescente-decrescente são comuns nos intervalos
  |  de tom e meio:

.text-center: img(src="/img/anemitonicas/evolucao-yo.png" alt="evolução na escala Yo")
br/

p A mesma #[appoggiatura] pode ser explorada da sexta para a tônica.

h3 Modulando para menor

p Já para ouvidos ocidentais, a ausência de uma definição de modo maior ou menor
  |  pode ser incômoda, mas basta uma modulação de grau para resolver isso.

p Se modularmos pelo segundo grau, ganhamos uma terça menor – a quarta é a terça
  |  menor da segunda – e uma sétima da dominante. Temos então a pentatônica
  |  menor:

.text-center: img(src="/img/anemitonicas/pentatonica-menor.png" alt="pentatônica menor")
br/

p Esta escala é muito usada no #[em rock’n’roll].

.text-center: img(src="/img/anemitonicas/evolucao-rock.png" alt="evolução na pentatônica menor")
br/

h3 Pentatônica maior

p Porém o #[em rock] foi muito influenciado pelo #[em blues], que também foge
  |  do modo bem definido, mas usando uma abordagem diametralmente oposta à
  |  oriental: a escala de #[em blues] faz uso das duas terças, menor e maior.

p Devido a essa influência, no #[em rock] também encontramos a mesma abordagem,
  |  porém um tanto diferente: a escala de #[em blues] é extremamente
  |  complexa, e poucas pessoas a dominam de verdade; já o #[em rock] optou por
  |  simplesmente alternar entre duas escalas pentatônicas, uma menor e outra
  |  maior.

p A pentatônica maior faz a mesma jogada da menor, partindo da escala oriental e
  |  modulando por um grau que gere uma terça. No caso da maior, é modulado pela
  |  quarta, cuja terça maior é a sexta, presente na escala oriental.

p Assim, a pentatônica maior fica:

.text-center: img(src="/img/anemitonicas/pentatonica-maior.png" alt="pentatônica maior")
br/

p Por si só essa escala já rende algo:

.text-center: img(src="/img/anemitonicas/evolucao-pmaior.png" alt="evolução na pentatônica maior")
br/

p Agora combinando as duas coisas:

.text-center: img(src="/img/anemitonicas/dois-modos.png" alt="evolução sobre os dois modos")

h3 Conclusão

p Pentônicas são ótimas referências para o entendimento de anemitonia, no
  |  entanto há também escalas petatônicas semitônicas, como a #[=""]
  a(href="https://en.wikipedia.org/wiki/In_scale") escala #[em sakura]
  | , acossemitônica, mas isso é matéria para outro momento.
