img.pull-right(src="/img/schecter-c8.jpg" alt="Schecter C-8 Deluxe")

p.mg-first Tenho feito há alguns meses dois experimentos em paralelo: ➀ comprei
  |  uma #[=""]
  a(href="http://www.schecterguitars.com/international/guitars/c-8-deluxe-detail")
    | guitarra de oito cordas
  | , e ➁ afinei meu violão de nylon em #[=""]
  a(href="https://en.wikipedia.org/wiki/Open_C_tuning") #[em open]-C
  | .

p Como expliquei em #[=""]
  a(href=`${public.montegasppa.blog.url}2016/06/dad-gad.html`) outro artigo
  | , comecei com uma afinação de oito cordas muito própria, um misto de #[=""]
  a(href="https://en.wikipedia.org/wiki/List_of_guitar_tunings#Dad-Gad") Dad-Gad
  |  com afinação para música clássica, mas logo fui obrigado a optar por uma
  |  afinação mais tradicional, a de #[em jazz].

p Depois de vários meses usando esta afinação, percebi um inconveniente: é muito
  |  fácil se perder em qual região você se encontra, qual a afinação da(s)
  |  corda(s) onde você está tocando no momento. É claro que senti essa
  |  dificuldade logo no começo, mas acreditei que, como tudo na música, fosse
  |  apenas questão de prática. Mas o fato é que, após meses tocando assim,
  |  a dificuldade não desaparece.

p Isso veio de encontro ao outro experimento: a afinação #[em open]-C. Após
  |  um bom tempo me habituando a essa afinação, tenho a sensação de que é muito
  |  mais simples usá-la, pois qual corda você está usando determina apenas a
  |  oitava, enquanto a casa determina a nota naquela oitava.

p Tive então um #[em insight]! Ficará muito mais simples usar a guitarra de
  |  oito cordas usando uma afinação aberta. Minha ideia é usar a seguinte
  |  afinação:

table.table
  thead
   tr
     th 8ª
     th 7ª
     th 6ª
     th 5ª
     th 4ª
     th 3ª
     th 2ª
     th prima

  tbody
    tr
      td 49Hz#[br][G1]
      td 65,4Hz#[br][C2]
      td 98Hz#[br][G2]
      td 130,8Hz#[br][C3]
      td 196Hz#[br][G3]
      td 261,6Hz#[br][C4]
      td 392Hz#[br][G4]
      td 329,6Hz#[br][E4]

p A ideia é ter à mão sempre pares de cordas em quinta, um para cada oitava;
  |  mais uma corda mais grave para acessar regiões mais graves sem ter de mudar
  |  de posição no braço; mais uma corda aguda, ainda que mais grave  que a 2ª,
  |  com a terça maior do grau regente da casa.

p A bitola seria:

table.table
  thead
   tr
     th 8ª
     th 7ª
     th 6ª
     th 5ª
     th 4ª
     th 3ª
     th 2ª
     th prima

  tbody
    tr
      td .064"
      td .046"
      td .036"
      td .026"
      td .016"
      td .011"
      td .008"
      td .009"

p Ainda não posso fazer esta mudança, já que preciso terminar as gravações do
  |  projeto atual de minha banda, #[=""]
  a(href="http://patreon.com/saekla") Sækla Saklōrum
  | , e a nova afinação seria uma complicação extra desnecessária. Porém, para
  |  os próximos trabalhos, certamente usarei esta afinação.
