img.pull-right(src=image alt="Lâmpada")

p.mg-first A rotina oferece uma segurança em relação às inseguranças da vida,
  |  no entanto está é uma sensação falsa, já que a rotina consiste em ações
  |  repetitivas que apenas garante a manutenção do que já é, sem jamais
  |  avançar em direção alguma.

p Essa repetição sem progresso drena a vontade, tornando a existência sem
  |  sentido, vazia.

p Em vez de intercalar a rotina com quebras – salutares focos produtivos de
  |  energia ou ócio criativo – as pessoas procuram preencher esse vazio com
  |  significado artificial – é aí que entra a religião.

p Em lugar de espiritualidade, a religião como configurada na maioria das
  |  culturas não passa de palha de enchimento para o espaço vazio deixado pela
  |  ausência de sentido causada pelo excesso de rotina.

p Não devemos entregar nossas vidas à rotina. A rotina não pode ser nada além
  |  de recurso para manter as coisas nos eixos enquanto nos dedicamos a
  |  processos construtivos de crescimento, seja pessoal ou social.

p Não devemos permitir que dogmas religiosos substituam a religiosidade; não
  |  devemos permitir que ideias artificiais importadas de livros e gurus
  |  substituam o processo de religamento com o Numinoso, com o Eu
  |  Superior/Interior.
