img.pull-right(src=image alt="G key")

p.mg-first Why may you pay a hundred (or hundreds of) dollars for a famous
  |  band’s show, but only some quarters for a local band’s?

p The answer lies on a kinda addiction, a psychopathology indeed: people can’t
  |  decide for themselves, they need someone to tell ’em which’s right and
  |  which‘s wrong.

p Without an authority telling what they must like, people get confused and
  |  lost.

p So, back in 50’s, the Rock’n’Roll got exposed to the mainstream media,
  |  starting the first Rock’s boom, that lasted until the end of the 70’s.

p That gave a lesson to the music industry: they needed to classify, label, and
  |  fit into a box every future musical expression, in order to control it.

p And it happened that way in 90’s: the second Rock’s boom was industry driven.
  |  Only the songs that fit into the music industry’s desirability could come
  |  to the mainstream light.

p As well as the bands could be successful only under industry’s terms, their
  |  songs was controlled too: even when a band had 2 or 3 hits got into the
  |  media, if the rest sounded unlike them, the band tended to be forgotten
  |  – literally #[strong driven to oblivion]. The music industry doesn’t
  |  tolerate diversity.

p So we grow up programmed to depend on the music industry to tell us what we
  |  must like or dislike.

p That program tells us that famous band worths a hundred dollar ticket, but
  |  the local one – as good and qualified as the first – doesn’t. We don’t
  |  even question it.

+medium-link
