img.pull-right(src=image alt="Lamp")

p.mg-first In 2012 my first wife was dying of cancer, and I tried every
  |  treatment I could find. So I was looking for doctors and alternative
  |  healers.

p When I told an oncologist about my desperate approach, he told me that
  |  every attempt on saving a life is valid.

p I once went for a thoroughly recommended healing nun, using natural
  |  herbal medicines to treat and cure cancer.

p She prescribed an iron and fiber rich vegetable-based juice, but under one
  |  condition: my wife should abandon all traditional treatments. The nun said
  |  she didn’t want her treatment results attributed to doctors’ medicines.

p Thence I had no doubt: I stuck to the traditional doctors and left her
  |  behind.

p Why?

p That oncologist was concerned about my wife’s health, at any cost. For him,
  |  the patient’s wealth was what matters. So I knew I could rely on him.

p The healing nun was more worried about her own reputation. It’s called
  |  vanity, #[strong pride]. She wasn’t giving a shit to my wife’s life.

p Being honest, I still made use of other alternative treatments for my first
  |  wife’s welfare, and every single one counted.

p The moral lesson is: religion doesn’t grant ethic, skepticism doesn’t mean
  |  indifference. Good is a subjective construction.

+medium-link
