img.pull-right(src=image alt="Iwa")

p.mg-first
  != content
  |  No entanto isso não tem a ver com vontade ou displicência: autistas têm os
  |  sentidos “descalibrados”.

p Eu tenho #[=""]
  a(href="#hypo") hiporresponsividade
  |  #[=""]
  a(href="https://pt.wikipedia.org/wiki/Propriocepção") proprioceptiva
  | . Isso significa que os sinais sensoriais sobre onde estão as partes de meu
  |  corpo são insuficientes.

p Se eu ficar parado, sem me mover, em algum tempo perco totalmente a noção de
  |  onde minhas mão, braços e pernas estão: algumas partes parecem que
  |  desaparecem, dissovem-se, enquanto outras parecem torcidas em posições
  |  impossíveis totalmente diferentes de onde estão de verdade.

p Isso, combinado a minha hiporresponsividade #[=""]
  a(href="https://pt.wikipedia.org/wiki/Aparelho_vestibular") vestibular
  |  me torna um total #[em pato], a ponto de praticar caratê por mais de cinco
  |  anos, amar o caratê e ser um dos alunos mais dedicados, e mesmo assim ver
  |  todos os outros alunos evoluindo enquanto eu não passava da #[=""]
  a(href="https://karatedobrasil.org.br/faixas-e-graduacoes-karate/")
    | faixa laranja
  | . O resultado é frustração e abandono da prática.

p Meus pais me forçavam a frequentar uma escola de futebol – eu
  |  #[strong odiava]. Não conseguia nem correr com a bola.

p Toco diversos instrumentos desde que tinha idade para conseguir segurá-los,
  |  e mesmo com toda prática e exercício nunca consegui tocar bem nenhum, meu
  |  conhecimento musical é praticamente só teórico.

p Por causa disso minha adolescência foi sofrida: ninguém quer ser visto andando
  |  com um #[em pato]; eu era sempre o último a ser escolhido para o time,
  |  aquele que sobrava; #[=""]
  u(title="bullying") as&nbsp;“brincadeiras”
  |  contra mim chegavam a níveis de extrema #[strong crueldade] (repetidas
  |  boladas no saco, rasteiras, ser empurrado pra cair de costas no cascalho).
  |  Preconceito e discriminação são a resposta dos neurotípicos.

p Minha preocupação hoje é o que eu posso fazer para que isso não aconteça com
  |  meu filho. Ainda não sei quais divergências sensoriais serão mais graves
  |  nele, nem como isso o afetará física e socialmente. Como fazê-lo entender
  |  que ele tem diferenças, que ele precisa conhecê-las e que elas não devem
  |  limitar suas escolhas?

p Vejamos como e quais serão os próximos desafios.

hr/

p: small #[sup#hypo 1] Originalmente a palavra usada era
  |  #[strong hipossensibilidade], mas alguns médicos começaram a cogitar a
  |  posibilidade dos sentidos na verdade estarem intactos, apenas a resposta do
  |  cérebro ser descalibrada. Então passaram a usar a palavra
  |  #[strong hiporresponsividade], que vale para os dois casos (sentido
  |  descalibrado ou resposta neurológica descalibrada). O mesmo vale para
  |  hiperresponsividade.
