p.pull-right: img(src=image alt="Lampa")

p.mg-first Io ne ben cognosce le Interlingua, assi isto es le opinion de un
  |  #[em esperantisto]…

p
  a(href="https://ia.wikipedia.org/wiki/Interlingua") Interlingua
  |  es un lingua artificial basate del similaritate de radices inter linguas
  |  europee. Usa como base quatro linguas: hispano, italiano, francese e
  |  anglese, ma le germano e le russo anque pote esser considerate. Un radice
  |  o un regula grammatical require esser commun al minus a tres de is linguas
  |  pro esser includite in Interlingua.

p Esperanto e Interlingua son instrumentos de communication con focos un pauc
  |  differente, assi cata uno ha su spatio.

p Le foco del Esperanto es le velocitate de apprendemento, assi omnes son multo
  |  regular e ha #[=""]
  a(href="http://montegasppa.blogspot.com/2006/10/esperanto.html")
    | parve regulas
  |  (dece-sex de facto). Ja in le Interlingua le foco es el intendimento per
  |  communes que #[strong non] ha studiate lo, assi ha permulte regulas e
  |  permulte exceptiones, e omnes son pauco irregular expresso pro que sonda
  |  familiar.

p Per exemplo, litteras e syllabas sonda heterogenemente: T pote sondar como
  |  <code>[t]</code> <code>[s]</code> o <code>[ts)]</code>; C pote sondar como
  |  <code>[k]</code>, <code>[s]</code> o <code>[ts)]</code>. Sed ne es tanto
  |  complicate como pote parer.

p Plus re Interlingua tu trova in le #[=""]
  a(href="http://www.interlingua.org.br/") sito del Union Brasilian pro
    |  Interlingua
  | . Dictionario in #[=""]
  a(href="http://interlingua.wikia.com/wiki/English-Interlingua_Dictionary") hic
  | .

hr/

p.text-right: small Articulo original in #[=""]
  a(href="http://montegasppa.blogspot.com/2009/10/interlingua.html") hic
  | .
