img.pull-right(src=image alt="T.E.A.")

p.mg-first A Síndrome Neurotípica é um distúrbio neurobiológico caracterizado
  |  pela preocupação com questões sociais, #[strong delírios de superioridade]
  |  e obsessão por #[strong conformidade].

p Os indivíduos neurotípicos frequentemente assumem que sua experiência do mundo
  |  seja a única correta ou possível; acham difícil ficar sozinho.
  |  Frequentemente são #[strong intolerantes] com diferenças pequenas nos
  |  outros. Quando em grupos, neurotípicos são social e comportamentalmente
  |  inflexíveis, e constantemente insistem na realização de rituais
  |  #[strong disfuncionais], destrutivos e até impossíveis, como forma de
  |  manter a identidade do grupo. Os neurotípicos têm dificuldade em
  |  comunicar-se diretamente e #[strong mentem] com muito maior frequência se
  |  comparados a pessoas do espectro autista.

p Acredita-se que a Síndrome Neurotípica seja de origem genética. As autópsias
  |  demonstram que o cérebro neurotípico é tipicamente #[strong menor] que o de
  |  um indivíduo autista e pode ter áreas superdesenvolvidas relacionadas ao
  |  comportamento social.

hr/

p.text-right: small Original: #[=""]
  a(href="http://erikengdahl.se/autism/isnt/")
    | Instititue for the Study of the Neurologically Typical
  | .
