p.text-center: img(src=image alt="Museu Nacional")

p.mg-first Já no dia seguinte à #[=""]
  a(href="https://g1.globo.com/rj/rio-de-janeiro/noticia/2018/09/03/bombeiros-seguem-no-rescaldo-da-estrutura-do-museu-nacional-chamas-ainda-podem-ser-vistas-em-alguns-pontos.ghtml")
    | tragédia
  |  do #[=""]
  a(href="http://www.museunacional.ufrj.br/") Museu Nacional
  | , já vejo diversos comentários pelas redes sociais dizendo que luto pelo
  |  museu é “modinha”.

p Talvez seja mesmo modinha para quem defende a #[=""]
  a(href="https://brasil.elpais.com/brasil/2016/10/10/politica/1476125574_221053.html")
    | PEC&nbsp;241
  | , ou para #[=""]
  u(title="Bolsonaro & cia.") quem
  |  vem dizendo que história é #[=""]
  a(href="https://twitter.com/AntonioBander/status/1036573244936134656")
    | coisa de esquerdista
  | . Mas não estendam sua visão retrógrada de mundo sobre o resto das pessoas.

p Sempre que meu filho alcança condições para apreciar algo, eu e minha esposa o
  |  levamos. Levamos na fazendinha conhecer os animais (e continuaremos
  |  levando); levamos ao #[em show] da #[=""]
  u(title="Ou quase isso…") Patrulha Canina
  | ; deixo ele assistir #[=""]
  a(href="https://www.youtube.com/watch?v=GoW8Tf7hTGA") todos
  |  #[=""]
  a(href="https://www.youtube.com/watch?v=c9VYx_dJEDs") os programas
  |  #[=""]
  a(href="https://www.youtube.com/watch?v=fyQrdsTNuo0") de astronomia
  |  que ele quer – toda vez que ele olha pro céu, ele me pergunta “
  a(href="https://www.youtube.com/watch?v=7DaN3saej7I") Saúno
  | ?”…

p E quando ele tivesse idade para apreciar o Museu Nacional, nós o levaríamos
  |  lá. #[=""]
  strong Não mais.

p Não mais porque não há mais museu: seu acervo foi destruído. Foram 200 anos
  |  (ou #[=""]
  a(href="https://pt.wikipedia.org/wiki/Luzia_(fóssil)") 13 mil anos
  | ) queimados, história natural, documentos históricos, tudo feito cinzas. E
  |  não importa o quanto #[=""]
  a(href="https://extra.globo.com/noticias/rio/em-nota-crivella-fala-em-recompor-acervo-do-museu-nacional-causa-indignacao-23033520.html")
    | certo político
  |  diga que vai “recompor” o acervo: #[strong não tem volta], está perdido.

p Então, entenda: nós estamos de #[strong LUTO] sim. Modinha é #[=""]
  a(href="https://imgur.com/gallery/R67KeW0") teu c*
  | .

p Hoje passei por dois grupos de cabos eleitorais, um do PSDB, outro do #[=""]
  u(title="Bolsonaro") PSL
  | . No primeiro as pessoas estavam cabisbaixas, entristecidas, quase dando os
  |  pêsames a cada um na rua.

p No segundo grupo, as pessoas estavam eufóricas, agressivas, atacando
  |  verbalmente as outras pessoas na rua. Pareciam empolgadas com #[=""]
  a(href="https://g1.globo.com/rj/rio-de-janeiro/noticia/2018/09/02/incendio-atinge-a-quinta-da-boa-vista-rio.ghtml")
    | os recentes acontecimentos
  | . Repetiam aos brados “melhor Jair se acostumando”.

p
  a(href="http://metamorfozesnacidade.blogspot.com/2011/04/o-fantasma-do-fascismo-assombra-o.html")
    | Fascistas
  | .

p E deixo aqui as palavras de Elika Takimoto:

blockquote
  p: a(href="https://twitter.com/elikatakimoto/status/1036546828152578053").
    Se riu do fim Ministério da Cultura, se debochou da Lei Rouanet, se defende
    político que votou pelo congelamento dos investimentos por 20 anos em
    Educação, se “história é coisa de doutrinador marxista”, está chorando por
    quê?
