img.pull-right(src=image alg="Robert Johnson")

p.mg-first Legend has it that, in July of 1930, #[=""]
  a(href="https://en.wikipedia.org/wiki/Robert_Johnson") Robert Johnson
  |  got to #[=""]
  a(href="https://en.wikipedia.org/wiki/Son_House") Son House
  |  and #[=""]
  a(href="https://en.wikipedia.org/wiki/Willie_Brown_%28musician%29")
    | Willie Brown
  |  and asked them to let him play a little for the crowd, but he has totally
  |  suck at playing.

p Humiliated, Johnson went away promising to show them who’s the boss.

p He went to a crossroad and made “the deal”. A year later Johnson came back to
  |  where House and Brown was, and broke the house.

p Thence all the Blues and Rock’n’Roll came from, even the British music.

p The records tell Robert Johnson spent a year learning from #[=""]
  a(href="https://de.wikipedia.org/wiki/Ike_Zimmerman") Ike Zimmerman
  |  how to play the guitar at a graveyard in #[=""]
  a(href="https://en.wikipedia.org/wiki/Hazlehurst,_Mississippi") Hazlehurst
  | , everyday at midnight.

p The myth about Robert Johnson came mainly from how he played the guitar, as
  |  #[em no other has done before]. That’s why I’m writing this very post:
  |  I must respectfully disagree.

p If you take some Portuguese #[em viola], Spanish guitar or Gypsy songs from
  |  far before Johnson, you’ll be able to hear exactly the same techniques
  |  Johnson would be creating then. There was nothing really new in Johnson but
  |  slides and blues (even slides are doubtful).

p The Latin European people had ever known the Johnson’s tricks.

p I can understand the American’s failure to know or recognise foreign cultures,
  |  but the British ignorance about their near neighbourhood frightens me.

p So the devil at the Crossroads has a name: #[strong cultural bias].

+medium-link
