img.pull-right(src=image alt="Music")

p.mg-first!= content
  |  #[=""]
  small (No, I’m not talking about Dwayne Johnson, I’m talking about music.)

p The Rock’n’Roll was born as a protest style, confronting the Status Quo and
  |  the established truths. It has evolved into a lot of sub-styles, each one
  |  protesting against some kind of establishment.

p Rock itself faced the eurocentric American culture, Heavy Metal and Industrial
  |  Rock the social pile, Punk the academic formalism, Progressive Rock the pop
  |  music sameness, and so on.

p But it #[strong was] in the beginnings.

p The Rock and its sub-styles gradually have been becoming what they formerly
  |  fought against: the establishment.

p Mainly because of their fans.

p Years ago I was in a Rock show at a moto club, and I was realising everyone
  |  was staring at me. I asked the waitress why, and she told me it was because
  |  of my t-shirt – an #[=""]
  a(href="http://www.opeth.com/") Opeth
  |  one.

p Thereon she asked me what is Opeth, and I told her it’s a Swedish Prog Metal
  |  band, first Death Metal, then increasing its Folk inspiration later.

p So she said that nobody there was liking those #[em colourful bands].

p By “colourful” she meant bands like #[=""]
  a(href="https://en.wikipedia.org/wiki/Hanson_%28band%29") Hanson
  | , #[=""]
  a(href="https://avrillavigne.com/") Avril Lavigne
  | , maybe even #[=""]
  a(href="https://coldplay.com/") Coldplay
  |  and #[=""]
  a(href="https://www.maroon5.com/") Maroon 5
  | . Nothing even near like Opeth.

p.small (When I think about “colourful”, come to my mind #[=""]
  a(href="http://www.pinkfloyd.com/") #[strong Pink] Floyd
  | , #[=""]
  a(href="http://www.deeppurple.com/") Deep #[strong Purple]
  | , #[=""]
  a(href="https://www.blacksabbath.com/") #[strong Black] Sabbath
  | , #[=""]
  a(href="https://fleshandblood.whitesnake.com/") #[strong White]snake
  | …)

p The fact is that those people dressed on classic Rock band merchandising black
  |  t-shirt #[strong refuse] to listen to anything other than what they already
  |  know. It leads into a new establishment: the original Rock songs became the
  |  Status Quo they was created to knock down.

p Another anecdote…

p A couple of months ago I left a Progressive Rock Facebook group due to a
  |  thread: the members started to define what is and what isn’t #[em Prog].

p According to them, Pink Floyd, #[=""]
  a(href="https://www.youtube.com/channel/UCBxEf1UWDjbIEoh2MAQR7zQ")
    | King Crimson
  |  and #[=""]
  a(href="http://www.hawkwind.com/") Hawkwind
  |  cannot be called Prog, because they doesn’t sound like
  |  #[em classical music]. But #[=""]
  a(href="https://www.rush.com/") Rush
  |  can, just because they like it.

p And the freak show went down on classifying what deserve and what doesn’t the
  |  Prog label, so I quit.

p When someone says “the Rock is dead” or something like this, I remember those
  |  situations. #[strong The Rock is really dead], but not because of the
  |  media, or the other musical styles; it’s dead only #[=""]
  strong due to its fans
  | .

p I myself started to #[=""]
  a(href="https://www.patreon.com/posts/taking-over-post-26038380")
    | denied the Prog
  |  label.

p That’s not necessarily bad. The Rock itself is not entirely original: the
  |  break down idea has been reborn again and again through the ages. Beethoven
  |  did it, it has been in Neo Metal and Prog Metal (before they established
  |  too), and now I see it in Post Rock.

p So let the music be! (And the protest too.)

+medium-link
