
p.mg-first Alguns usuários do #[=""]
  a(href="https://www.facebook.com/") Facebook
  |  estão compartilhando a seguinte imagem:

.text-center: img(src=image alt="Por que ela não pode?")

p A imagem tem o seguinte texto:

blockquote
  p — Por que ela não pode #[em (mostrar o peito)]?

  p Pelo mesmo motivo que ela tocar no seu peito é OK, mas você tocar nos dela é
    |  assédio sexual, paspalho.

p O questionamento parece razoável à primeira vista, mas é uma lógica
  |  superficial e falaciosa.

p Primeiramente ela #[=""]
  strong não pode tocar no seu peito
  | , seu #[=""]
  a(href="https://twitter.com/hashtag/imbecil") imbecil
  |. NINGUÉM pode tocar seu corpo sem sua autorização, seja você homem ou
  |  mulher.

p E você #[strong pode sim] tocar nos seios dela, contanto que com a #[=""]
  strong autorização dela
  | .

p Temos então duas falácias #[strong machistas] e sexistas na mesma frase, ambas
  |  baseadas na sexualização do corpo da mulher. A segunda é o autor sexualizar
  |  os seios da mulher como se Deus os tivesse criado exclusivamente para sua
  |  recreação.

p Essa sexualização dos seios expõe uma enorme carência edipiana.

p Então vamos colocar todos os pingos nos i’s:

+ul
  +li Ninguém tem o direito de tocar o corpo de outra pessoa sem seu
    |  consentimento, independente do sexo ou gênero de quem toca ou de quem é
    |  tocado.

  +li Se você tem o consentimento da outra pessoa, você pode tocar seu corpo,
    |  independente do sexo ou gênero de qualquer um dos dois.

  +li Seios têm função de sustentar os bebês, #[strong não] de satisfazer os
    |  desejos de pessoas com complexo de Édipo velado.
