img.pull-right(src="/img/aborto.jpg" alt="")

p.mg-first Aborto é uma questão extremamente polêmica, difidindo o mundo entre
  |  mocinhos e bandidos. De um lado há os vilões, #[em abortistas], comedores
  |  de criancinhas; de outro há os mocinhos, defensores da vida, heróis
  |  salvadores das #[del donzelas em perigo] crianças por nascer – ou pelo
  |  menos assim acham esses que sofrem de preguiça mental.

p Vamos falar algumas palavra sobre o aborto.

h3 Por que legalizar o aborto

p Sou #[strong absolutamente contra] a criminalização do aborto, o que não
  |  significa que eu seja a favor do aborto. É preciso um pouco de raciocínio
  |  e inteligência para entender isso e ficar na zona de conforto de ideias
  |  rasas e fáceis, porém erradas, só vai atrapalhar.

p Então se você está determinado a não entender, pode parar de ler aqui e vá
  |  procurar alguma coisa mais útil pra fazer da vida, como desenhar
  |  unicórnios, jogar #[=""]
  a(href="http://br.leagueoflegends.com/") LoL
  | , ou contar estrelas.

p Estou sendo arrogante? Sim, mas com propósito e propriedade. Não adianta
  |  argumentar com quem já formou opinião prévia (= preconceito).

p Voltando à legalização do aborto, o problema que temos hoje é o seguinte:

p As mulheres vão continuar abortando, legal ou ilegalmente. A diferença é que
  |  mulheres de classes sociais com mais acesso farão abortos seguros, ainda
  |  que ilegais, enquanto as mulheres de classes sociais menos favorecidas vão
  |  passar nas mãos de açougueiros, colocando sua vida e saúde em risco.

p Considerando os casos em que a mãe não conseguirá fazer o aborto e a gravidez
  |  chegar a seu clímax: em muitos casos a vida da mãe é simplesmente
  |  interrompida, pois terá de largar estudo, carreira, o que for para cuidar
  |  de uma criança indesejada.

p Mas tudo bem, né? Quem pariu Mateus que o embale… – mas que argumento mais
  |  #[strong misógino]! E o pai? A mulher quem engravida, ela que se cuide, o
  |  homem só estava indo ao banheiro?!

p Aí dizem que o pai tem de ser responsabilizado. Vão colocar a mulher pra viver
  |  com seu estuprador?

p Mas há casos que não são de estupro… aí responsabilidade do pai é só pagar
  |  pensão, a mãe que se vire de criar? Se não, vão forçar o cara a casar
  |  contra sua vontade, como se faz no interior?

p Então acontece é como casais que conheço, onde o homem, sentido-se podado,
  |  destrata a esposa o dia inteiro, que chora, torturada psicológica e
  |  moralmente todo dia. #[strong Misoginia].

p Vamos falar da criança:

p Você coloca no mundo uma criança não amada, deformada e/ou indesejada,
  |  algum(ns) desses casos, pra ser abandonada pela mesma sociedade que se diz
  |  pró-vida, mas que só se preocupa com o ser humano até ele nascer, depois é
  |  trombadinha, bandido-bom-é-bandido-morto, diminuição da maioridade penal,
  |  bolsa-esmola…

p Ou seja: querem que a lei dê suporte à vida até que o feto nasça, depois é
  |  cada um por si e faça-se a meritocracia.

p Além do mais, o corpo da mulher é propriedade dela própria e #[strong ninguém]
  |  tem direito de legislar sobre o corpo do outro, muito menos um bando de
  |  homens numa sociedade patriarcal.

h3 Incoerências do Espiritismo

p Vou falar do Espiritismo aqui porque fui criado numa família mista de
  |  Espiritismo e Umbanda, e vejo muita #[strong hipocrisia] no meio espírita,
  |  mas muito da lógica aqui se aplica à grande maioria das igrejas cristãs.

p Segundo o Espiritismo, o ser pré-existe à concepção, portanto o aborto em
  |  qualquer etapa da gestão é um assassinato. Também se fala das consequências
  |  para aquele espírito na interrupção do processo.

p Porém o Espiritismo também fala em pré-determinação e planos de reencarnação,
  |  deixando claro que os planos de Deus são ininterruptíveis.

p Vejam a contradição lógica: o que está planejado para cada um acontecerá como
  |  uma consequência inevitável dos fatos do passado, no entanto não podemos
  |  interromper a gestão para não #[em evitar o inevitável]! (??)

p É como o paradoxo da onipotência divina.

p Se a vida pré-existe à concepção e sobrevive à morte biológica, e os planos
  |  divinos são inevitáveis, a interrupção da gestão e a consequente falha na
  |  tentativa de levar a cabo aquela existência são parte dos planos
  |  inevitáveis. Após passada essa provação, aquela alma terá oportunidade de
  |  nova encarnação após se recuperar do trauma.

p Não pretendo justificar o aborto, apenas estou demonstrando que o argumento
  |  religioso não procede.

h3 Como combater o aborto?

p Dito tudo isso, vem a parte importante: como evitar o aborto?

p A primeira parte são políticas sociais de conscientização contraceptiva.
  |  Educação e prevenção são as melhores armas contra o aborto – não a
  |  criminalização da mulher.

p A única causa de abortos é a gravidez indesejada e a principal causa de
  |  gravidez indesejada é a carência de uma cultura de prevenção. Educação
  |  sexual nas escolas, grupos de apoio e conscientização são apenas algumas
  |  abordagens – curiosamente ações que criminalizadores do aborto são contra.

p Outra causa de gravidez indesejada é o estupro. A mulher #[strong precisa]
  |  ter a segurança de andar na rua sem medo, pra isso precisamos de políticas
  |  de segurança mais fortes e menos machistas.

p Precisamos eliminar essa cultura de culpar a vítima e tratar o homem como
  |  coitadinho. Agrediu a mulher física, moral ou emocionalmente? Tem de
  |  responder criminalmente por isso. Acabar com essa história babaca e
  |  hipócrita de delegado, promotor e juíz sugerindo que a vítima estava
  |  pedindo pra ser estuprada ou agredida.

p Agora, próxima etapa: a gravidez indesejada ocorreu. E agora?

p Precisamos de políticas de apoio à gestante para tentar desenconrajá-la da
  |  ideia do aborto. Vejam que isso deve ser feito por meio de conscientização,
  |  nunca intimidação.

p Caso a mãe não queira criar o filho, a adoção precisa ser incentivada e
  |  facilitada. Hoje há muita burocracia, é preciso limpar isso.

p Em último caso, se nada mais consiga dissuadir a gestante do aborto, o
  |  procedimento deve ser o mais seguro e humano possível – não apenas para
  |  as filhinhas de papai rico, com uma esplendorosa carreira pela frente.

h3 **

p Finalmente, parem de querer legislar na vida alheia! Fica muito bonitinho nas
  |  redes sociais defender fetos, gatinhos, cachorrinhos, coelhinhos, etc., mas
  |  a empatia de sentir a dor do outro está em falta justamente em vocês que se
  |  acham o exército do bem no mundo.

p O mundo não é preto no branco, bem e mal. As nuances da realidade são muito
  |  mais profundas que uma mente rasa consegue alcançar.

