include ../../../_includes/list-group-item.pug

img.pull-right(src="/img/manes.jpg" alt="ܡܐܢܝ ܚܝܐ")

p.mg-first
  a(href="https://pt.wikipedia.org/wiki/Manes_(profeta)") Manes
  |  foi um famoso profeta #[=""]
  a(href="https://pt.wikipedia.org/wiki/Zoroastrismo") masdeísta
  |  do século III. Ele criou um sistema filosófico-religioso completamente
  |  baseado na ideia de uma luta entre o Bem e o Mal.

p Sua teoria de mundo reduzia a realidade a um simplório dualismo onde de um
  |  lado estariam todas as pessoas e coisas boas servindo a Deus, e de outro
  |  todas as pessoas e coisas más servindo ao Diabo.

p Em sua época Manes viajou por toda sua região pregando sua filosofia,
  |  identificando nos #[em sutras] sagrados elementos de dualismo e assim
  |  convencendo os líderes religiosos de suas teorias.

p Desta forma ele conseguiu corromper com sua visão limitante de mundo as três
  |  maiores religiões de seu tempo: o Cristianismo, o Judaísmo e o Masdeísmo.

p Mais tarde o Islamismo também nasceu intoxicado pelas ideias maniqueístas.

h3 Maniqueísmo

p Dei essa pequena introdução histórica para em seguida tentar explicar da forma
  |  mais didática que conseguir o que é o #[=""]
  a(href="https://pt.wikipedia.org/wiki/Maniqueísmo") maniqueísmo.

p As pessoas têm usado nas redes sociais o maniqueísmo como uma ofensa contra
  |  aqueles que discordam de suas ideias (basta você discordar de alguma coisas
  |  pra ouvir/ler um “seu maniqueístas”), sem entender o real sentido da
  |  palavra – e geralmente aquele que acusa os outros de maniqueísmo é o
  |  verdadeiro maniqueísta.

p Primeiro, o que #[strong não] é maniqueísmo:

+ul
  +li Maniqueísmo #[strong não] é o conceito de certo e errado em si.
  +li Maniqueísmo #[strong não] é ser contra ou a favor a alguma coisa.
  +li Maniqueísmo #[strong não] é discordar de você.

p Mas há relações.

p
  a(href="https://pt.wikipedia.org/wiki/Moral") Moral
  |  é o sistema de conceitos que definem o que é certo e o que é errado. A
  |  moral é contextual quanto a localidade e época.

p Moral é um sistema necessário para a saúde e o bom funcionamento de qualquer
  |  sociedade, porém precisa ser questionada, debatida e revista
  |  constantemente, caso contrário se torna obsoleta e injusta.

p Em relação à moral, o maniqueísmo consiste em definir certo e errado em
  |  relação a grupos.

p Eu explico melhor.

p No maniqueísmo há duas forças conflitantes: o Bem e o Mal. O que não está do
  |  lado do Bem, está necessariamente do lado do Mal.

p O Bem é um grupo fechado: para você participar, você precisa concordar sem
  |  questionamentos com tudo o que faz parte desse conjunto.

p Para o maniqueísmo tudo o que vem do Bem é certo e tudo o que provém do Mal
  |  é errado. Se uma mesma ideia ou atitude vem do Bem e do Mal, ela está
  |  certa quando vem do Bem e errada quando vem do Mal.

p Por exemplo: matar cristãos é errado, mas cristãos matarem muçulmanos está
  |  certo, já que os cristãos são o Bem (do ponto de vista dos cristãos, óbvio)
  |  e os muçulmanos, por não serem cristãos, são o Mal.

p Da mesma forma que uma mesma atitude pode ser certa e errada dependendo apenas
  |  de quem a pratica, atitudes conflitantes podem estar igualmente certas ou
  |  erradas também em relação ao lado que as pratica.

p Matar é pecado, mas bandido bom é bandido morto, já que “bandido” faz parte do
  |  Mal.

p Homossexual tem de queimar no inferno, mas Fidel Castro era um monstro porque
  |  era homofóbico.

p Já é possível perceber como se desenha a contradição e inconsistência dessa
  |  filosofia?

h3 No aborto

p Estou escrevendo este artigo por causa dessa polêmica sobre o #[=""]
  a(href=`${public.montegasppa.blog.url}2016/12/aborto.html`) aborto
  | #[=" "]
  small [leia a porra do artigo antes de me procurar pra encher meu saco]
  | . Vou dizer como o maniqueísmo se aplica a esse caso.

p Acusaram-me de maniqueísmo por me posicionar contra a criminalização #[=""]
  small [não vou ficar #[=""]
    a(href=`${public.montegasppa.blog.url}2016/12/aborto.html`) me repetindo
    |  aqui]
  | . Segundo
  |  a pessoa que me acusou, qualquer posição a favor ou contra é maniqueísmo.
  |  Ledo engano: como eu disse acima, maniqueísmo não é ser a favor ou contra.

p Maniqueísmo é tomar uma das seguintes posições:

+ul
  +li O aborto é ruim. Portanto, tudo o que é contra o aborto é do Bem, mesmo
    |  que seja marginalizar as mulheres e tirar-lhes o direito sobre seu
    |  próprio corpo, afinal, não importa se faz mal a alguém, se é do Bem é
    |  bom. Se você questionar isso, você é do Mal.
  +li O aborto é bom. Portanto, tudo o que é a favor do aborto é do Bem, mesmo
    |  que seja incentivar as mulheres a abortarem à torta e à direita. Se você
    |  questionar isso, você é do Mal.

p Sincertamente ainda não vi uma única pessoa assumindo a segunda opção, citei
  |  apenas ilustrativamente. Já quanto à primeira, está cheio de gente “do Bem”
  |  por aí que não admite que se questione a criminalização do aborto ou que
  |  sejam sugeridas políticas de conscientização, apoio e saúde pública. Em sua
  |  visão dualista de mundo, se alguém levantar qualquer questionamento quanto
  |  à forma repressora e cruel como se lida atualmente com o aborto, essa
  |  pessoa é do Mal, é um #[em abortista] – implícito fica: bandido assassino
  |  de criancinhas, defensor de #[em gayzistas], #[em feminazi], comunista sem
  |  vergonha. #[=""]
  small Eu fui chamado de “abortífero”.

h3 Não seja maniqueísta

p O mundo não é preto no branco, dividido entre o Bem e o Mal. Um grupo de
  |  pessoas que tem ideias bacanas pode ter (e certamente tem) ideias nefastas,
  |  e aquele inimigo que quer trazer o Armagedon à Terra pode não ser tão mau
  |  quanto você pensa.