img.pull-right(src=image alt="Heaven vs Hell")

p.mg-first!= content

h3 The Servees’ Heaven

p The servees hadn’t necessarily been masters or served in life. They just
  |  believe they #[strong deserve] to be. They are #[em better people],
  |  respected citizens, right people.

p The servees expect respect and awe. They simply deserve it. The heaven is the
  |  place where they’d receive everything they might earned.

p They dislike the servants, being with servants is a torture. The servees that
  |  were served in life tolerated the servants present in exchange for being
  |  served.

p The servant servees were martyrs, enduring their condition, expecting to be
  |  paid in heaven.

p So, for servees, the servers’ heaven is the #[strong hell]. Imagine spending
  |  the eternity along with servants?!

h3 The Servers’ Heaven

p In contrast, the servers are that people who feel good helping others. They
  |  serve for pleasure.

p If the servees are the #[em right people], the servers must be the [#em left]:
  |  in life they were not necessarily servants, but they still served. Not for
  |  credit, but just because they like. The act is the payment itself for them,
  |  it’s part of them.

h3 Same or Different

p After life in heaven, there are two heavens. One for servees, other for
  |  servers.

p However…

p The both heavens are pretty the same in certain aspects: in both, there is a
  |  free feast for joy of all; in both, every guest has the arms reversed,
  |  turned back.

p There is a curious difference between the heavens: in the servees’ one, they
  |  all are sad, unable to feed themselves with arms turned back. But, in the
  |  servers’, everybody’s glad.

p Why?

p Every servee waits for someone to serve him (or her). He/she deserves, he/she
  |  expects, but no one ever comes.

p In other hand, in the servers’ heaven, everyone serves each other, thus nobody
  |  is starving, everyone gets fed.

p In short: the only difference between heaven and hell is who’s there.

+medium-link
