img.pull-right(src=image alg="A.S.D.")

p.mg-first I have usually posted something about Autism awareness on April 2nd,
  |  but yesterday I was dealing with a depressive episode (that voidness
  |  feeling), so I couldn’t.

p Nothing new under the Sun, it’s just something I must do. I think it outcomes
  |  from the slight chronic social exclusion I’ve been facing my whole life.

p Same about my #[=""]
  a(href="https://icd.who.int/browse11/l-m/en#/http://id.who.int/icd/entity/1487528823")
    | ODD
  | . As a high-functioning autistic, I’m not always recognised as autistic, but
  |  #[strong I am still]. As well as every other autistic, I’m not used to
  |  speech hues, they’re unnatural to me; I’m got #[=""]
  a(href="https://www.nidcd.nih.gov/health/apraxia-speech") Childhood AoS
  |  and #[=""]
  a(href="https://autismawarenesscentre.com/the-dsm-v-and-sensory-processing-disorder/")
    | SPD
  |  too; my thought process is hybrid between photo-realistic visual and
  |  pattern, way different from the usual verbal mind.

p Therefore I suffer from Anxiety Disorder. To deal with a society which doesn’t
  |  support the differences, in a world built for neurotypics, it produces
  |  anxiety. Worse: Anxiety Disorder. From Anxiety Disorder to depressive
  |  episodes, it’s just an aught.

p This is what I want you to be aware about Autism this day after:

ol
  li We don’t perceive the world the same way you do (actually not even the way
    |  each other of us does).
  li The society is not ready to include us.
  li All of it leads to anxiety.
  li Anxiety leads to depression.
  li Depression leads to suicide, one of the high-functioning autistics’ main
    |  death causes.
  li It’s not autistics’ fault, but neurotypicism-centredness’.

+medium-link
