include ../../../_widgets/list-group-item.pug

img.pull-right(src=image alt="MoonScript")

p.mg-first Há muito pouco tempo atrás um amigo meu me sugeriu dar atenção a
  =" "
  a(href="http://moonscript.org/") MoonScript
  | . Admito que eu via a linguagem com preconceito, mesmo assim resolvi dar uma
  | olhada.

p Resultado: todos os meus códigos em #[=""]
  a(href="http://www.lua.org/") Lua
  |  acabaram migrados para MoonScript. 😋

p A linguagem é extremamente enxuta, limpa e poderosa. Para lidar com o
  | paradigma funcional, a sintaxe de MoonScript é bem mais concisa e que a de
  | Lua. O mesmo vale para orientação a objetos. Não vou entrar em detalhes, se
  |  estiver curioso, leia o #[=""]
  a(href="http://moonscript.org/reference/") guia da linguagem
  | .

h3#luajit LuaJIT

p
  a(href="http://luajit.org/") LuaJIT
  |  é uma implementação alternativa #[=""]
  a(href="https://pt.wikipedia.org/wiki/JIT") JIT
  |  de Lua, com suporte a #[=""]
  a(href="https://pt.wikipedia.org/wiki/Interface_de_função_externa") FFI
  |  nativo.

p Colocar MoonScript para trabalhar com LuaJIT não é trivial. É preciso uma
  |  série de pequenos #[em hacks] pra funcionar.

p Vamos começar pelas dependências.

h3#dependencias Dependências

p MoonScript depende de quatro outros módulos para funcionar:

+ul
  +li
    a(href="http://luaforge.net/projects/alt-getopt/"): code alt-getopt

  +li
    a(href="http://keplerproject.github.io/luafilesystem/") LuaFileSystem

  +li
    | LPeg

p Instale #[code alt-getopt] normalmente no #[code LUA_PATH] de seu LuaJIT. Aqui
  |  para mim é #[code /usr/share/lua/jit].

p Para instalar LuaFileSystem, clone o repositório do #[=""]
  a(href="https://github.com/keplerproject/luafilesystem") GitHUB
  |  e não se esqueça de editar o arquivo <code>config</code>. As mudanças
  | principais são:

pre.prettyprint: code.language-sh.
  PREFIX=/usr
  LUA_LIBDIR=$(PREFIX)/lib/lua/jit
  LUA_INC=$(PREFIX)/include/luajit-2.0

p Isso considerando que seu <code>LUA_CPATH</code> esteja em
  |  #[code /usr/lib/lua/jit].

p Compile e instale normalmente.

p Já LPeg merece uma atenção extra, já que ele #[strong não] funciona com
  |  LuaJIT. No lugar, use #[=""]
  a(href="https://github.com/sacek/LPegLJ") LPegLJ
  | .

p Clone e instale LPegLJ no seu #[code LUA_PATH], depois execute o seguinte
  |  comando:

pre.prettyprint: code.language-sh.
  cd $LUA_PATH
  sudo ln -s lpeglj.lua lpeg.lua

p Isso fará com que MoonScript pense tratar-se do LPeg original.

h3#moonscript Instalando MoonScript

p Com as três dependências instaladas, clone o projeto do #[=""]
  a(href="https://github.com/leafo/moonscript") GitHUB
  | . Edite o #[code Makefile], substituindo as ocorrências de #[code lua5.1] e
  |  #[code lua] por #[code luajit].

p Remova as entradas #[code local] e #[code global] do #[code Makefile].

p Edite o #[em hashbang] dos arquivos #[code bin/moon] e #[code bin/moonc],
  |  trocando #[code lua] por #[code luajit].

p Execute #[code make compile]

p Copie os diretórios #[code moon/] e #[code moonscript/] para seu
  |  #[code LUA_PATH].

p Copie os arquivos #[code bin/moon] e #[code bin/moonc] para o diretório
  |  #[code /usr/bin/] do sistema.

p E pronto! Já deve estar funcionando! Qualquer dúvida, me avisem pra eu
  | revisar o texto.
