p.text-center: img(src=image alt="Pink")

p.mg-first In I.T. (and some other areas) we’re living an odd age, when people
  |  worship the entrepreneurship for itself, with open attacks to the
  |  professional experience and academic knowledge hereat.

p It’s a kinda talkshow version of the #[=""]
  a(href="https://kottke.org/16/11/the-14-features-of-eternal-fascism")
    | Cult of Action for Action’s Sake
  | , or the Cult of the Common Man: the idea that the unlearned man knows
  |  better than the connoisseur; that the knowledge would subvert man.

p We’re experiencing lots of articles, papers, and talks entitled “What I
  |  Learned in My First Year as #[em X]” (and some variations), despising the
  |  professional experience at all.

p Aside that, there has been a flood of books, videos, and podcasts about “How
  |  to Learn #[em X] in 24 Hours”, as if it’s possible to learn in such a short
  |  time what the experts have learned for so many years.

p I saw that coming.

p Ten years ago I was already a 6-year-experienced worker and a
  |  22-year-experienced programmer, and then I just started to watch
  |  professional speakers, really newbie guys at work, telling their audience
  |  that the experience is worthless – literally.

p I heard for myself one of them saying:

p — You have years of experience, but you’re all bullshit. All you seniors know
  |  are bad habits. Only sticking rigidly to the newest methodologies,
  |  following questionless their directions you can be a #[=""]
  em fruitful developer
  | .

p Convenient.

p Unskilled workers wanting to be paid as well as seniors… for them such speech
  |  is very pleasing, saying they deserve what others take years to earn.

p And that easy-way speech has been getting stronger and stronger, catching more
  |  and more carefree youngsters.

p The aftermath is a pack of bad developers filling the labour market, unskilled
  |  louder-noise winners, but cheaper – which is the most important to the
  |  companies.

p Why do we have to do better if we can do lower-costed?

p And this view is leading the I.T. market into the mud. It’s a downbeat
  |  assessment, however it’s where we’re indeed going to, if we’re not gonna
  |  take that view down.

hr/

p: small Also in #[=""]
  a(href=medium_url) Medium
  | .
