img.pull-right(src=image alt="Cortex")

p.mg-first A few days ago, my son’s speech therapist was interviewing me for a
  |  better understanding of my son. Then she told me I get #[=""]
  a(href="https://www.nidcd.nih.gov/health/apraxia-speech") Childhood Apraxia of
    |  Speech
  | .

p It means that my interface between thinking and talking is defective. My
  |  thoughts need some translation for speech performance, which is quite
  |  slower than most people, ’cause my mind type isn’t linear. It’s not
  |  conformable to the speech structure.

p Speaking Portuguese, I have (more than) 40 years of daily experience, so I
  |  learned how to hide the apraxia. But, when I speak every other language, I
  |  sound #[strong very] autistic.

p It’s been a nuisance to me. When I start talking, the counterpart soon notices
  |  there’s something weird. “That guy can’t speak…?”

p I choke, I stutter, I freeze, my mind overloads and gets blank… Sometimes I
  |  just can’t “translate” what I’m thinking into speech.

p Not that it doesn’t happen in Portuguese. I choke in Portuguese too; also
  |  stutter, freeze, get blank mind. But in every other language it happens
  |  more often.

p Worse: it’s more evident. Thus I sound very autistic.

p People think trouble-speaking autistics can’t think properly, that we are
  |  #[em lesser people].

p To preserve my self-worth, I say to myself it’s better this way: I wouldn’t
  |  like dealing day-to-day with someone who doesn’t respect me. I’ve been
  |  there, don’t wanna be back.

p I am odd, I sound even odder. That’s it.

hr/

p: small Also in #[a(href=medium_url) Medium].
