img.pull-right(src=image alt="Guitar")

p.mg-first!= content
  |  He mostly doesn’t even know what he’s talking about. Usually you got a
  |  guitarist that has learned some diatonic greek modes just yesterday, and
  |  he already counts himself as pro, disdaining others following closely,
  |  biting his heels.

p If you start to talk about exotic, anhemitonic, hemitonic, cohemitonic, and
  |  ancohemitonic scales, they hear any Greek.

p So let’s go ahead and talk about pentatonic.

h3#pentatonic Pentatonic

p The Pythagorean pentatonic is quite similar to the diatonic: its minor mode
  |  lacks just the major second and minor sixth degrees from the Aeolian mode;
  |  and its major mode is behind the Ionian mode just by the fourth and the
  |  leading notes.

p It means the pentatonic is indeed the path to the diatonic.

h3#slash The major target: Slash

p The major target for the #[em antipentatonic] attacks is usually the #[=""]
  a(href="https://www.gunsnroses.com/") Guns N’Roses
  | ’ guitarist #[=""]
  a(href="http://www.slashonline.com/") Slash
  | .

p On one hand we have the diatonic-budding guitar players, claiming Slash knows
  |  only pentatonics; on other hand there are #[em 84-scale] teachers defending
  |  how wondrously awesome he is, with his incredibly complex scales.

p Neither.

p Slash takes advantage of some trivial Blues’ tricks. He uses pentatonic,
  |  filling with diatonic degrees when appropriate, but not limited to that.
  |  He’s not afraid of the Blues’ chromatic nonharmonic tones.

p And not only this.

h3 Vertical development

p Something Slash uses a lot is the “thinking vertically” melody development.

p: small Don’t know why, but I’ve seen everyone referring to it as “thinking
  |  vertically”, never “vertically thinking”.

p In the Blues and the Jazz there are two kinds of melody development: “thinking
  |  horizontally” and “thinking vertically”, the first one preferred by the
  |  Blues, and the second one by the Jazz.

p In the “thinking horizontally” development, the same tonic chord scale is
  |  respected across the whole song, enhanced by embellishing tones.

p In the “thinking vertically” development, the musician changes the scale key
  |  according to the current chord. That’s what Slash does when he seems to use
  |  complex scales: he simply switches the key. Nothing trickier than that.

p And it doesn’t diminish him! It’s a great approach, you don’t have to pretend
  |  something else to make anyone look better. It is what it is.

hr/

p So take the tricks, learn what things are before you try to jump onto the
  |  higher steps.

p: small Also in #[=""]
  a(href="https://medium.com/@cacilhas/the-pentatonics-undeserved-stigma-c4b23966f405")
    | Medium
  | .
