img.pull-right(src=image alt="Anthropomorphic God")

p.mg-first I’m not a strict-sense atheist. I still believe in higher powers, in
  |  an omniscience, in the Divine Providence.

p But not in an anthropomorphic deity. If there’s an over-all consciousness,
  |  #[strong it cannot be human] – not even close. It must be #[em The Sense]
  |  from deep within #[small (or behind)] an atom – and by “atom” I mean its
  |  original meaning: the unbreakable smallest whit. Something far away from
  |  how we’ve seen the Numinous.

p That said, we can go on and talk a little about how taking God away of the
  |  math has helped me.

p As autistic, I have a lot of side issues to deal (notta mention the social
  |  biases). I suffer from #[=""]
  a(href="https://autismawarenesscentre.com/the-dsm-v-and-sensory-processing-disorder/")
    | Sensory Processing Disorder
  | . The worst deviation is my hyporesponsive proprioception, added to an also
  |  hyporesponsive vestibular sense.

p As result, I’ve never had a good dexterity. I let stuff fall down, hit the
  |  furniture, suck at sports, and some other annoying things out of my
  |  control.

p It means that old guy up there has messed with my whole life, shaking stuff
  |  for me to break, and putting unseen things in front of my march.

p It was making me hate him ☝. Why would such a good God be that evil to me? And
  |  hate is #[strong never] a good thing, even when one hates an imaginary
  |  friend. Hate makes grow what’s worse inside.

p And it was consuming me… until I put the human god idea away.

p Done that, there was nothing left to hate. I could only deal with the
  |  acceptance.

p Thereafter there has been no more #[small (that kind of)] hate. It simply
  |  vanished.

p The Universe works how it does, I’m who I am, and there’s nothing wrong with
  |  none of this.

p But still, leaving aside the matter about God, the society #[strong must]
  |  adapt to include the differences.

p: small Also in #[=""]
  a(href="https://medium.com/@cacilhas/how-taking-god-away-of-the-math-made-me-a-better-person-ea7efcc14807")
    | Medium
  | .
