img.pull-right(src=image alt="Manes")

p.mg-first Nossa cultura patriarcal nos ensina a respeitar incondicionalmente
  |  a autoridade. No entanto isso faz sentido?

p Autoridade é uma extrapolação do conceito familiar de respeito das crianças
  |  pelos pais: os filhos devem respeito à autoridade dos pais até que sejam
  |  capazes de tomar suas próprias decisões.

p O problema é que esse conceito é distorcido para “até que tomem as mesmas
  |  decisões que os pais”, ou seja: todo mundo passa necessitar de
  |  monitoramento dos pais por toda a vida, uma vez que jamais serão os
  |  próprios pais.

p Isso gera uma condição de eterna subordinação que acaba extrapolada para o
  |  contexto social.

p São criadas então hierquias de autoridade para que as pessoas sejam vigiadas
  |  e jamais tenham espaço para pensar por si mesmas.

p Portanto #[=""]
  strong toda autoridade deve ser confrontada, questionada e desrespeitada
  | , com a única exceção da autoridade dos pais sobre crianças que ainda não
  |  sejam capazes de tomar as próprias decisões.

p Isso #[strong não] implica nesse desrespeito pelo conhecimento crescente na
  |  Web, em especial no #[=""]
  a(href="https://www.facebook.com/") Facebook
  | .

p Há uma confusão semântica aqui: quando se fala em “autoridade de
  |  conhecimento”, o termo correto seria #[strong propriedade de conhecimento].

p Há uma distância entre quem leu sobre um assunto e quem passou tempo imerso
  |  naquele assunto, experienciando suas peculiaridades e detalhes. Há uma
  |  diferença entre quem leu um livro e quem tem toda uma bagagem que lhe dê
  |  #[em propriedade] para questionar o conteúdo desse livro.

p Não ter entendido a Teoria da Relatividade não há a ninguém (nem mesmo
  |  ao astrólogo #[=""]
  a(href="https://pt.wikipedia.org/wiki/Olavo_de_Carvalho")
    | Olavo de Carvalho
  | ) “autoridade” para questioná-la – pelo contrário.

p Voltando à autoridade (não propriedade intelectual), há pouco mais de um ano
  |  durante uma mudança, a zeladora disse que eu não poderia passar com a
  |  mudança pela portaria.

p Eu respondi que, assim sendo, poderíamos parar o caminhão de mudança atrás do
  |  prédio, na saída de serviço. Ela disse que não, que minha equipe de mudança
  |  deveria parar o caminhão na frente da portaria, sair por trás, pela saída
  |  de serviço e dar a volta pelo prédio carregando peso para então embarcar a
  |  mudança no caminhão na frente da portaria.

p Respondi que não iria obrigar minha equipe de mudança a andar toda essa
  |  distância desnecessariamente carregando peso, que continaríamos passando
  |  pela portaria, e pedi para ela chamar a síndica.

p Mas eu disse isso de boa, pois ela não tem culpa das ordens que recebe.

p Além dela #[strong não] ter chamado a síndica, parou de falar comigo e esperou
  |  a gente ir embora pra só então chamar a síndica e dizer que eu
  |  desrespeitei a “autoridade” dela.

p Estamos tão condicionados a obedecer ordens que, quando alguém questiona a
  |  autoridade, tomamos esse “desrespeito” como ofensa pessoal.

p E esse vício mental nos impede de questionar. Questionar é o único meio de
  |  nos tornarmos seres pensantes, ou seja, sem questionar somos apenas
  |  #[strong autômatos] irracionais.

p Por isso é tão importante enfrentar toda forma de autoridade – salvo os casos
  |  citados acima por motivos compreensíveis.
