img.pull-right(src=image alt="Lâmpada")

p.mg-first É preciso extirpar o conceito de #[strong normalidade] da sociedade,
  |  caso contrário a evolução humana estagnará e consequentemente a humanidade
  |  irá à extinção em algumas gerações.

p Não quero que meu filho seja #[em normal]. Quero que ele seja produtivo e
  |  contribua para a evolução da humanidade. O potencial produtivo da
  |  normalidade é muito aquém do potencial da diversidade.

p Porém para isso é preciso que ele esteja integrado. A integração depende de
  |  duas coisas:

ol
  li Primeiramente depende dele mesmo entender e aceitar que é diferente, mas
    |  que está tudo bem, não importa o que as pessoas #[em normais] digam.

  li Infelizmente depende também da sociedade aceitar a diferença, a #[=""]
    a(href="https://en.wikipedia.org/wiki/Neurodiversity") diversidade
    | ¹. Isso é um trabalho diário de todos nós pra mudar nossa cultura
    |  preconceituosa.

p Estou criando um filho melhor pro mundo, espero que o mundo seja um lugar
  |  melhor onde ele tenha oportunidade de ser essa pessoa melhor.

hr/

p: small Texto original no #[=""]
  a(href="https://www.facebook.com/rodrigo.cacilhas/posts/10207661809501674")
    | Facebook
  | .

p: small ¹Referenciei a página em inglês sobre neurodiversidade na Wikipédia
  |  proque a tradução para o português está carregada de preconceito velado.
