img.pull-right(src=image alt="Sækla Saklōrum")

p.mg-first Há poucos meses minha banda, #[=""]
  a(href="https://www.patreon.com/saekla/posts") Sækla Saklōrum
  | , lançou seu primeiro álbum, #[=""]
  a(href="https://open.spotify.com/album/000nnYxd5pwSnufilHh8a4") O Nimbo
  | .

p Como divulgação, lançamos a música “
  a(href="https://open.spotify.com/track/1LgJWpiUyH9HaFV0xfZjKV")
    | Nimbo, Pt. 1
  | ” no #[=""]
  a(href="https://www.numberonemusic.com/cacilhas/song/632186-Nimbo-parte")
    | N1M
  |  e a música “
  a(href="https://open.spotify.com/track/1cNUXxP9aWfyVrgKSJq8gk")
    | La dame urbain n’est pas
  | ” no #[=""]
  a(href="https://www.youtube.com/watch?v=C79x6hliPYo") YouTube
  | .

p  Agora estamos prestes a fechar o segundo EP, por enquanto codinome
  |  #[strong O Sutra]. Faltando poucos ajustes, lançamos “Anões jogando
  |  boliche no Céu” no #[=""]
  a(href="https://www.numberonemusic.com/cacilhas/song/684101-Anes-jogando-boliche-no-Cu")
    | N1M
  |  e uma versão #[em videosong] de “End Credits” no #[=""]
  a(href="https://www.youtube.com/watch?v=udAI2YseXXA") YouTube
  |  para divulgação.

p Deixo vocês então com esta última:

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/udAI2YseXXA"
                               frameborder="0"
                               allowfullscreen=true)
