include ../../../_widgets/list-group-item.pug

img.pull-right(src=image alt="Lâmpada")

p.mg-first Em função da condição de meu filho, tenho pesquisado bastante
  |  sobre #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F84") TEA
  | , as síndromes envolvidas e suas diferenças. Resolvi escrever este artigo
  |  apenas como referência pessoal, mas de alguma forma tentando ser útil e
  |  o mais informativo possível dentro do tópico a que me propus.


blockquote
  p: strong Observação

  p: small Pessoalmente não considero a neurodiversidade uma doença, mas uma
    |  condição. No entanto, como este artigo tem proposta informativa, me
    |  ative ao que diz a literatura oficial da OMS, que trata o autismo como
    |  transtorno (#[em disorder]).


h3 Autismo (CID-10 F84)

p A #[=""]
  a(href="http://who.int/") OMS
  |  classificou em 2016 o autismo como #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F84")
    | Transtornos Globais do Desenvolvimento
  |  (em português na página da #[=""]
  a(href="http://www.medicinanet.com.br/cid10/1569/f84_transtornos_globais_do_desenvolvimento.htm")
    | MedicinaNET
  | ), código F84. A partir de 2018, passará a ser chamado #[=""]
  a(href="https://icd.who.int/dev11/l-m/en#/http://id.who.int/icd/entity/437815624")
    | Transtorno do Espectro Autista
  |  (TEA) no CID-11, código 6A02, sob o tópico 6 (transtornos mentais,
  |  comportamentais e de desenvolvimento neurológico).

p Por ora, há cinco transtornos relacionados com TEA:

+ul
  a(href="#kanner"): +li Síndrome de Kanner ou autismo infantil (F84.0)
  a(href="#asperger"): +li Síndrome de Asperger (F84.5)
  a(href="#heller"): +li Síndrome de Heller (F84.3)
  a(href="#rett"): +li Síndrome de Rett (F84.2)
  a(href="#pdd-nos"): +li PDD-NOS ou autismo atípico (F84.1)

p Além desses transtornos, ainda há duas condições associadas, mas que não são
  |  TEA: #[=""]
  a(href="#savant") Savantismo (F84.9)
  |  e #[=""]
  a(href="#ah-sd") AH/SD
  | .


h3#kanner Síndrome de Kanner ou autismo infantil (F84.0)

p A Síndrome de Kanner ou autismo infantil é aquele autismo clássico do qual
  |  todos nos lembramos como referência quando se fala em autismo.

p Apresenta as seguintes características:

+ul
  +li Incapacidade de se relacionar afetivamente com as pessoas desde os
    |  primeiros anos (questionável).
  +li Uma ansiedade excessiva e desejo de manter-se na mesmice.
  +li Falta da linguagem falada ou uso da linguagem sem intenção comunicacional.
  +li Sensibilidade acima da média para estímulos internos e externos.
  +li Fascinação por objetos como uma folha, tampas ou cordas, que são tratados
    |  com habilidade e destreza.

p Foi identificada pela primeira vez pelo austríaco #[=""]
  a(href="https://pt.wikipedia.org/wiki/Leo_Kanner") Leo Kanner
  | , que publicou seus estudos em 1943.


h3#asperger Síndrome de Asperger (F84.5)

p Atualmente a Síndrome de Asperger vem ganhando popularidade com o crescente
  |  número de #[em aspies] (nome dado aos autistas com esse transtorno)
  |  palestrando em nome dos neurodiversos.

p Suas características:

+ul
  +li Falta de reciprocidade e empatia nas interações sociais, apesar de desejar
    |  certo grau de interação.
  +li Dependência de rotinas repetitivas e uma necessidade de uniformidade nos
    |  ambientes.
  +li Habilidade de memorização de detalhes dentro de um estreito campo de
    |  interesse.
  +li Fala formal desenvolvida prematuramente, mas mecânica e pode parecer
    |  estranha e pedante.
  +li Atenção acima da média para estímulos externos e internos.
  +li Falta de destreza motora – marcha e postura diferenciadas.

p Foi identificada pelo autríaco #[=""]
  a(href="https://pt.wikipedia.org/wiki/Hans_Asperger") Hans Asperger
  | , que também fez suas publicações em 1943.

p Asperger e Kanner foram as primeiras pessoas a usarem a palavra “autista” no
  |  contexto da Saúde.


h3#heller Síndrome de Heller (F84.3)

p Também chamada Transtorno Desintegrativo da Infância. O autista com esta
  |  síndrome apresenta entre 2 e 10 anos perda quase total de pelo menos duas
  |  das seguintes funções:

+ul
  +li Linguagem expressiva.
  +li Linguagem receptiva.
  +li Habilidades sociais e cuidados pessoais.
  +li Controle do esfíncter.
  +li Habilidades de jogo.
  +li Habilidades motoras.

p A Síndome de Heller também apresenta falta de função normal de:

+ul
  +li Interação social.
  +li Comunicação.
  +li Comportamento repetitivo.

p Foi descrito pelo educador austríaco Theodor Heller em 1910.


h3#rett Síndrome de Rett (F84.2)

p É uma sídrome degenerativa que acomete quase exclusivamente o sexo feminino.

p Cada período de idade, chamado fase, tem características próprias. A #[=""]
  a(href="https://pt.wikipedia.org/wiki/Síndrome_de_Rett") Wikipédia
  |  possui um artigo bem razoável, com informações precisas.

p Não pretendo me alongar sobre esta síndrome porque ela é tão diferente do
  |  restante dos transtornos do espectro que, no CID-11, será separada em
  |  uma #[=""]
  a(href="https://icd.who.int/dev11/l-m/en#/http://id.who.int/icd/entity/201200685")
    | classificação
  |  totalmente separada, código LE14, sob o tópico 20 (anomalias de
  |  desenvolvimento).


h3#pdd-nos PDD-NOS ou autismo atípico (F84.1)

p Autismo atípico é como são classificados todos os neurodiversos que apresentam
  |  quadro compatível com o espectro autista, mas que não se encaixam em
  |  nenhuma das síndromes relacionadas na literatura.


h3#savant Savantismo (F84.9)

p Apesar de estar na categoria F84, o Savantismo #[strong não] é uma forma de
  |  autismo. Porém é comum estar associado em dupla-excepcionalidade.

p Aproximadamente 10% dos autistas são #[em savants], porém nem todo
  |  #[em savant] pode ser classificado como autista.

p O #[em savant] apresenta as seguintes características:

+ul
  +li Q.I. muito baixo.
  +li Extremamente brilhante em uma área específica.
  +li Desenvolvimento comprometido em todas as demais áreas, ao ponto da
    |  demência.

p Uma característica fenotípica marcante dos #[em savants] é que eles apresentam
  |  mecanismos de raciocínio muito diferentes, como por exemplo usar cores
  |  para efetuar cálculos matemáticos.


h3#ah-sd AH/SD

p Altas Habilidades (superdotado) não são citadas no CID-10 pois não são
  |  consideradas um transtorno, mas uma condição.

p Nem todo superdotado é autista e vice-versa, e AH/SD também não está
  |  relacionado a Q.I., mas sim à capacidade cognitiva do indivídio.

p Principais características:

+ul
  +li Criatividade.
  +li Curiosidade.
  +li Boa memória.
  +li Obstinação.
  +li Fácil aprendizagem.
  +li Iniciativa.
  +li Impaciência.
  +li Inconformismo.
  +li Vocação para liderança.
  +li Senso de humor.
  +li Egocentrismo.
  +li Elevado senso crítico.
  +li Independência e autonomia.
  +li Alto desempenho em determinadas áreas.
  +li Amplo conhecimento geral.
  +li Difícil sociabilização por falta de interesses em comum.
  +li Alta capacidade de influenciar e ou liderar / adaptabilidade social /
    |  empatia.
  +li Elevado senso competitivo.
  +li Autodidatas.

p AH/SD, quando em dupla-excepcionalidade com um TEA e outros transtornos,
  |  podem sobrepor e descaracterizar alguns indicadores e comportamentos
  |  clássicos deles.


h3 Conclusão

p Este artigo não acrescenta nada a quem lida com TEA diariamente, propõe-se
  |  apenas a ser um informativo impessoal.
