include ../../../_widgets/list-group-item.pug

img.pull-right(src=image alt="Kickante")

br/

p.mg-first Iniciei uma campanha de #[em crowdfunding] no #[=""]
  a(href="https://www.kickante.com.br/") Kickante
  | , que vai até dia 22 de abril.

br/
br/

p Preciso levantar fundos para adquirir alguns equipamentos que preciso para
  |  dar prosseguimento às gravações do projeto #[=""]
  a(href="https://www.patreon.com/cacilhas") Prognose
  | :

+ul
  a(href="https://www.boss.info/br/products/me-25/"): +li Um pedal em
    |  substituição a meu velho, de efeitos muito artificial.

  a(href="https://www.amazon.com/Traveler-Ultra-Light-Nylon-Guitar-Gig/dp/B001HRYD0I")
    +li Um violão de nylon com melhor captação que meu atual.

  a(href="https://www.americanas.com.br/produto/14068452/cabecote-amplificado-predator-head-pdt125h-landscape?opn=YSMESP&WT.srch=1&loja=8403105000101&epar=bp_pl_00_go_im_todas_geral_gmv&epar=bp_pl_00_go_im_todas_geral_gmv&gclid=CjwKCAiAt8TUBRAKEiwAOI9pAPLhhR2x2a31zy6Bcz27PvOP9J45qihNUxbRjRjB9_vhSpVCF3JY-hoCCSgQAvD_BwE")
    +li Um #[em amphead] para meu #[em talkbox].

  a(href="http://global.novationmusic.com/launch/launchpad#"): +li Um
    |  #[em launchpad] para controlar os #[em soundscapes].

  +li Uma mesa de som.

p Apesar de eu precisar realmente de fundos para comprar os equipamentos, o
  |  objetivo principal desta campanha não é esse, mas testar o potencial de
  |  financialmente desse tipo de abordagem.

p Se funcionar, pretendo fazer outra vaquinha para bancar os custos da gravação
  |  do projeto de fato, dessa vez com recompensas para os patrocinadores.

p Caso alguém se sinta altruísta e benevolente (espero), pode colaborar com
  |  minha campanha #[=""]
  a(href="https://www.kickante.com.br/campanhas/prognose-compra-equipamentos"
    title="Prognose :: Compra de Equipamentos")
    | neste #[em link]
  | .
