img.pull-right(src=image alt="Lâmpada")

p.mg-first Desde que decidi aceitar meu autismo, o maior problema que venho
  |  enfrentando é entender o que me incomoda, o que me causa desconforto.
  
p Minha mãe me educou a acreditar que todo descoforto é “frescura”, que eu
  |  deveria sempre ignorar. Se os outros conseguem, por que não eu?
  
p A resposta eu não sei se ela realmente sabia: porque eu sou autista! Meus
  |  sentidos são descalibrados em relação às demais pessoas. Ando de cabeça
  |  baixa na rua não por timidez ou medo, mas porque o excesso de estímulo
  |  visual me sobrecarrega. Evito ambientes com muitas pessoas não por não
  |  querer estar com elas, mas porque o excesso de barulho me sobrecarrega.
  
p Então passei minha vida toda fingindo que nada estava acontecendo, que eu não
  |  estava incomodado. Isso me causou dois problemas: o primeiro é que toda
  |  essa pressão para parecer normal e tolerar o que eu acreditava
  |  equivocadamente que os outros também aguentam me causa um acúmulo
  |  sobre-humano de #[=""]
  a(href="https://www.nimh.nih.gov/health/topics/anxiety-disorders/"
    title="Transtornos de Ansiedade")
    strong ansiedade
  | .
  
p O segundo problema é que, de tanto mentir pra mim mesmo, acabei perdendo a
  |  a capacidade de perceber e identificar o que me incomoda. Quando algo me
  |  causa desconforto, eu nem chegou a perceber, apenas vou ficando irritado,
  |  até perder o controle, sem nem ao mesmo me dar conta do motivo.
  
p Meu conselho é que #[strong jamais] tratem desconforto como #[em frescura],
  |  vocês não sabem o mal que fazem a seus filhos ou a si mesmos. Aprendi a
  |  tolerar níveis de desconforto muito acima do que a maioria das pessoas,
  |  no entanto com alto prejuízo para minha saúde e efeitos danosos nas
  |  relações sociais.
