img.pull-right(src=image alt="Input Magazine vol. 1 cover")

p.mg-first I’ve seen a lot of job ads that include the words “passionate about
  |  technology.” At first sight, it seems consistent, after all, who’d work
  |  with anything without enjoying it? The happier, the more productive, isn’t
  |  it?

p However there’s a catch here.

p Consistently and by definition, all #[em tech-passionate] workers have their
  |  technology to advocate for, and look for issues that fit it. They aren’t
  |  interested in the problems, but in the solution. It’s called “
  strong silver bullet
  | ,” and there’s no way being passionate without the passion object.

p That mindset leads to more troubles than solutions.

p By focusing on the problem, one can find the best solution for it. When
  |  technology’s on focus, it’s only possible to force the problem into the
  |  box, never solving it.

p Thus far, it’s way more productive not being tech-passionate, and instead #[=""]
  strong focus on the real issues
  | . Technology is a tool and shall be used by us, not the opposite.

+medium-link
