img.pull-right(src=image alt="Ugh!?")

p.mg-first The worth concept is very subjective and private. Everyone has its
  |  own, and it diverges one from another.

p Once I worked with a Linux kernel committer. The guy was a genius in serveral
  |  different ways. But he had a weakness: he failed under pressure.

p He needed a stable and quiet environment to perform.

p But in that time, another developer had reached an influence position in the
  |  company. That other guy’s qualities was light-years behind the first
  |  one’s, both in knowledge and in practice.

p The “influencer”, besides his influence position, had another advantage:
  |  pressure wasn’t a problem for him. So he used his influence to convince
  |  the company’s board that cold blood under pressure was an employee’s
  |  required ability.

p Thence the company made the “kernel committer” a hell, until he himself quit
  |  the job.

p The aftermath was: without a really qualified developer, the underqualified
  |  influencer was free to take all possible bad decisions he could, leading
  |  the company down the hill.

p My recommendation is: learn to credit who’s really worth, not who says what
  |  you want to be said.
