#footer.panel-footer
  block footer
    p.small
      | Página pessoal de ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας &nbsp;
      a(rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.pt")
        img(alt="[CC-BY 4.0]" src="https://i.creativecommons.org/l/by/4.0/80x15.png"
            style={"border-width" :"0"})

block final-scripts
  script(src="/js/bootstrap.min.js")
  script(src="/js/ie10-viewport-bug-workaround.js")
