div.col-md-4
  div.list-group
    h3(class=["mg-title", "list-group-item", "active"]) Mapa
    a(class=["list-group-item", "small"] href="/") Início
    a(class=["list-group-item", "small"] href="/about.html") Sobre
    a(class=["list-group-item", "small"] href="/montegasppa/")!= public.montegasppa._data.blog.title
    a(class=["list-group-item", "small"] href="/kodumaro/")!= public.kodumaro._data.blog.title
