div.col-md-4
  div.list-group
    h3(class=["mg-title", "list-group-item", "active"]) Mapa
    a(class=["list-group-item", "small"] href="/") Início
    a(class=["list-group-item", "small"] href="/about.html") Sobre
    a(class=["list-group-item", "small"] href="/montegasppa/") Reflexões de ℳontegasppα e Giulia C.
    a(class=["list-group-item", "small"] href="/kodumaro/") Kodumaro
