- var tags = {}
- var response = []

each yearDir, yearSlug in public.montegasppa
  each monthDir, monthSlug in yearDir
    each page, slug in monthDir._data
      - var url = "montegasppa/" + yearSlug + "/" + monthSlug + "/" + slug + ".html"
      each tag in page.tags
        if (typeof tags[tag] === "undefined")
          - tags[tag] = {name: tag, pages: [{url: url, title: "Reflexões… :: " + page.title}]}
          - response.push(tags[tag])
        else
          - tags[tag].pages.push({url: url, title: "Reflexões… :: " + page.title})

each yearDir, yearSlug in public.kodumaro
  each monthDir, monthSlug in yearDir
    each page, slug in monthDir._data
      - var url = "kodumaro/" + yearSlug + "/" + monthSlug + "/" + slug + ".html"
      each tag in page.tags
        if (typeof tags[tag] === "undefined")
          - tags[tag] = {name: tag, pages: [{url: url, title: "Kodumaro :: " + page.title}]}
          - response.push(tags[tag])
        else
          - tags[tag].pages.push({url: url, title: "Kodumaro :: " + page.title})
