- function getTags(siteMap) {var tags = {}; var response = []; siteMap.forEach(function(page) {page.tags.forEach(function(tag) {if (typeof tags[tag] === 'undefined') {tags[tag] = {name: tag, pages: [page]}; response.push(tags[tag]); } else tags[tag].pages.push(page);});}); return response.sort(function(a, b) {if (a.tag < b.tag) return -1; if (a.tag > b.tag) return 1; return 0;});}
