div(class=["panel", "panel-default"])
  .panel-heading
    h2.mg-title Licença

  .panel-body
    img.pull-right(src="/img/cc-by.jpg" alt="[CC-BY 4.0]")

    p
      | CC-BY: Os textos contidos nas páginas sob #{mainTitle} podem ser
      | reproduzidos contanto que sejam informados autor e origem, exceto os
      |  marcados com a #[em tag] #[code Reblogging], que pertencem a outros
      |  autores, sob suas próprias licenças.

    center: a(href="http://creativecommons.org/licenses/by/4.0/deed.pt")
      | Creative Commons Atribuição 4.0 Não Adaptada 
      small (CC BY 4.0)
