div(class=["panel", "panel-default"])
  .panel-heading
    h2.mg-title License

  .panel-body
    img.pull-right(src="//cacilhas.info/img/cc-by.jpg" alt="[CC-BY 4.0]")

    p CC-BY: You are free to copy and redistribute the material under
      |  #{public.main.title} in any medium or format, and to remix, transform,
      |  and build upon the material for any purpose, even commercially.

    center: a(href="http://creativecommons.org/licenses/by/4.0/deed")
      | Creative Commons Attribution 4.0 International
      br/
      small (CC BY 4.0)
