mixin ul
  ul.list-group
      block

mixin li
  li.list-group-item
    i.glyphicon.glyphicon-hand-right
    if block
      | #[=" "]
      block

mixin li2
  li.list-group-item
    i.glyphicon.glyphicon-chevron-right
    if block
      | #[=" "]
      block
