p.mg-first Recomendo a #[=""]
  a(href="http://www.okmusicfoundation.org/") O’Keefe Music Foudation
  | .

blockquote
  | — A song can write itself if you just dig deep and put the needs of the song
  |  first. You can feed your ego or feed the song. (Henry Graham #[=""]
  a(href="http://www.okmusicfoundation.org/uncategorized/6-year-old-breaks-the-law/")
    | aos 6 anos de idade
  | )

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/V-MAnp6N65U"
                               frameborder="0"
                               allowfullscreen=true)
