img.pull-right(src=image alt="Futurama")

p.mg-first Why are conspiracy theories so attractive? Flat Earth, anti-vaccine,
  |  historical and science denialism…

p All those conspiracy theories share a common aspect: they (awarely intend to)
  |  make you feel cleverer and special.

p Everyone wanna find oneself special. Thinking that you know something that
  |  nobody else knows makes you feel special – or pretending that you know.

p The hard truth is #[strong nobody’s special], there’s no concealed sooth or
  |  hidden great treat in deed.

p Thereat every information that makes you feel special or cleverer tends to be
  |  #[strong false]. On the other hand, that information that makes you say
  |  “That’s so simple! How could I’ve been so stupid?” tends to be the right
  |  one.

p Anyone who’s not fear of finding oneself idiot becomes less idiot every time
  |  he or she finds himself or herself an idiot.

p Anyone who’s seeking to find oneself special stays aye an idiot.

p That’s very convenient… idiot people are cattle. #[=""]
  em You’re not paid to think. A mindless worker is a happy worker! Shut up and
    |  do your job!

+medium-link
