img.pull-right(src=image alt="Heim?")

p.mg-first!= content
  |  Bacana, porém a mãe de um coleguinha fez uma reclamação, pois o filho dela
  |  não podia ficar sem leite e trigo um dia só por causa da “frescura” de
  |  outras crianças.

p Percebam a #[strong perversidade] desse comportamento:

ol
  li Que mal pode acontecer a uma criança por passar um dia sem leite e trigo?

  li Por que ela não poderia dar leite e biscoito (trigo) para o filho em casa?

  li O mais explícito: quando o lanche são frutas, ninguém reclama.

p Na verdade quem tem privilégios não admite que o outro tenha direitos. O filho
  |  dela tem o privilégio de poder comer leite e trigo, enquanto meu filho é
  |  alérgico à caseína e faz reação ao trigo. Então a pessoa perversa vê no
  |  direito de meu filho de também comer um bolo, assim como o filho dela,
  |  um #[em privilégio], e queixa-se disso, não admite que seja servido um bolo
  |  que todos possam comer. 😡

p Depois o antissocial sou eu por não querer lidar com essa gente mesquinha,
  |  ignorante e pequena.
