img.pull-right(src=image alt="Ferdinand Lassalle")

p.mg-first Tenho lido alguns críticos de #[=""]
  a(href="https://pt.wikipedia.org/wiki/Karl_Marx") Karl Marx
  |  usarem argumentos “lacradores” para refutá-lo. A nova moda é um diálogo
  |  mais ou menos assim:

blockquote: p — Se a classe operária tudo produz, tudo a ela pertence.
  |  (Karl Marx)
  br/
  |  — Mas se #[strong EU] tive a ideia do produto e #[strong EU] financiei a
  |  produção com #[strong meu] dinheiro, por que o resultado pertenceria a
  |  simples robôs? Pois se o operário apenas operou as máquinas para produzir
  |  o produto, ele não passa de um robô.

p Este argumento é fruto de pura #[strong desonestidade intelectual] e está
  |  carregado de #[strong falácias], as quais pretendo expor uma a uma.

h3 A frase não é de Karl Marx

p Esta frase não foi dita por Karl Marx, mas sim por #[=""]
  a(href="https://pt.wikipedia.org/wiki/Ferdinand_Lassalle") Ferdinan Lassalle
  | .

p Se pretendem criticar Karl Marx, critiquem-no por algo que ele tenha dito,
  |  como:

p: a(href="https://citacoes.in/citacoes/103260-karl-marx-de-cada-um-de-acordo-com-suas-habilidades-a-cada/").
  — De cada um, de acordo com suas habilidades, a cada um, de acordo com suas
  necessidades.

p: a(href="https://citacoes.in/citacoes/103274-karl-marx-os-trabalhadores-nao-tem-nada-a-perder-em-uma-revo/").
  — Os trabalhadores não têm nada a perder em uma revolução comunista, a não ser
  suas correntes.

p: a(href="https://citacoes.in/citacoes/594977-karl-marx-o-caminho-do-inferno-esta-pavimentado-de-boas-inte/").
  — O caminho do inferno está pavimentado de boas intenções.

p: a(href="https://citacoes.in/citacoes/569923-karl-marx-o-medo-cala-a-boca-dos-inocentes-e-faz-prevalecer/").
  — O medo cala a boca dos inocentes e faz prevalecer a verdade dos culpados.

p: a(href="https://citacoes.in/citacoes/599445-karl-marx-jesus-faz-milagres-e-da-o-homem-nao-faz-milagres/").
  — Jesus faz milagres e dá, o homem não faz milagres e vende.

p: a(href="https://www.bibliaonline.com.br/acf/mc/10/21" title="PEGADINHA!! 👹").
  — Vai, vende tudo quanto tens, e dá-o aos pobres, e terás um tesouro no céu; e
  vem, toma a cruz, e segue-me.

p: small (Espero que você perceba a pegadinha…)

p Ainda assim Lassalle foi socialista (pré-marxista), então alguém pode alegar
  |  que a crítica ainda vale. Vamos então ao próximo erro.

h3 A frase está errada

p A frase correta é:

p — Se a classe operária tudo produz, tudo ela merece.

p “Merecer” significa que #[=""]
  strong o pagamento pelo serviço prestado deve ser suficiente
  |  para que o trabalhador possa adquirir o bem que produziu.

p Então, segundo o pensamento lassalista, o operário que trabalha na produção
  |  de um iPhone deve ter salário condizende para que ele possa adquirir um
  |  iPhone. Veja que isso não quer dizer que ele tenha de ganhar um iPhone por
  |  mês, mas seu pagamento deve ser suficiente para que ele pague suas contas,
  |  tenha seu lazer de direito #[=""]
  strong e ainda sobre para ele comprar um iPhone
  | , ainda que a prazo.

p O mesmo vale para um carro, alimentos no mercado ou serviços, mesmo
  |  #[em software].

p O que vemos é que o crítico não possui competência para questionar o argumento
  |  original, então o distorce para algo que ele possa contra-argumentar.
  |  Típico.

h3 Quem teve a ideia?

p Aqui entra uma das falácias mais repetidas da meritocracia: como alguém
  |  poderia resolver um problema matemático sem todo o conhecimento humano
  |  sobre matemática anterior a ele e que ele recebeu #[strong de graça] como
  |  elemento cultural?

p Como alguém criaria um “#[em software] matador” sem toda ciência que veio
  |  dele? Sem #[=""]
  a(href="https://pt.wikipedia.org/wiki/John_von_Neumann") Neumann János
  | ? Sem #[=""]
  a(href="https://pt.wikipedia.org/wiki/Alan_Turing") Alan Turing
  | ? Sem #[=""]
  a(href="https://pt.wikipedia.org/wiki/Charles_Babbage") Babbage
  | ?

p Absolutamente #[strong nada] nos é exclusivo, tudo o que sabemos ou alcançamos
  |  nós conseguimos sobre os ombros daqueles que nos precederam.

p Então nenhuma ideia que você possa eventualmente ter em toda sua vida é sua
  |  de verdade. Somos frutos de nossa cultura.

p É óbvio que se alguém é autor de uma ideia, merece crédito, reconhecimento e
  |  retorno por ela, mas não pode desmerecer sua bagagem cultural. Tal
  |  desmerecimento é um apelo ao ego individualista com premissas falsas.

h3 Mas o dinheiro investido é meu⁉️

p E esse dinheiro veio de onde? De seu esforço?

p De duas, uma: ou 1️⃣ o investidor não tem dinheiro por merecimento próprio
  |  (é herança, foi adquiro ilicitamente por meios “legalistas”, privilégios,
  |  etc), ou 2️⃣ obteve através de sua própria força de trabalho, portanto,
  |  #[strong é também operário] – e, equanto operário, merecedor do produto de
  |  seu trabalho #[strong exatamente] como disse Lassalle.

p Aqui ainda há um elemento extra de maucaratismo: para tentar ludibriar o
  |  interlocutor, o crítico ainda usa de apelo emocional ao escrever o diálogo
  |  na primeira pessoa, como no argumento da “minha” ideia.

hr/

blockquote
  p: tt [update]
  p Lembrei de outro problema com esta lorota: a palavra #[=""]
    u(title="Do eslavo “robota”, trabalho escravo.") robô
    |  significa #[strong escravo], ato falho do autor da crítica, explicitando
    |  como ele enxerga as outras pessoas.
  p: tt [/update]

p Percebe que #[strong invariavelmente] os argumentos contra a luta trabalhista
  |  consistem em #[strong desonestidade intelectual].
