img.pull-right(src="/img/cacilhas.jpg"
               alt=mainAuthor)

p(style={"text-align": "center"})
  span(class=["glyphicon", "glyphicon-hand-right"])
  | &nbsp;&nbsp;
  strong #{mainAuthor}
  |, um hipopótamo num campo de flores&nbsp;&nbsp;
  span(class=["glyphicon", "glyphicon-hand-left"])
br/

p.mg-first Nasci #[strong Rodrigo M. Cacilhas] em Petrópolis/RJ no final de
  |  1975, ganhei o apelido de #[]
  a(href="https://pt.wikipedia.org/wiki/Arquimedes") Arquimedes
  |  aos 10 anos por ter muita facilidade com ciências matemáticas – e também
  |  por #[em bullying], já que colegas de colégio queriam fazer piada com o
  |  episódio da coroa de ouro. Mais tarde, troquei a grafia para
  |  #[strong Arĥimedeς] quando me tornei #[]
  a(href="http://www.esperantio.net/") esperantista
  |  (o sigma final nada tem a ver com Esperanto).

p Aprendi música desde a mais tenra idade com minha mãe, que fora cantora.

p Estudei Química no #[]
  a(href="https://www.iq.ufrj.br/") Instituto de Química da UFRJ
  | , mas não me formei.

p Aprendi a lidar com computadores desde muito cedo, iniciei em um #[]
  a(href="http://www.mci.org.br/micro/microdigital/tk85.html") TK85
  | . Comecei a programar aos 12 anos em um #[]
  a(href="http://www.mci.org.br/micro/outros/hotbit.html")
    | MSX-1.1 Hotbit HB-8000
  | , usando linguagem MS XColour BASIC. Mais tarde passei para #[]
  a(href="https://www.perl.org/") Perl 5
  | , #[]
  a(href="http://www.open-std.org/jtc1/sc22/wg14/") C
  |  e finalmente #[]
  a(href="https://www.python.org/") Python
  | , àquela época na versão 1.5, que se tornou minha linguagem principal.
  |  Desenvolvi profissionalmente também em #[]
  a(href="http://www.lua.org/") Lua
  | , #[]
  a(href="https://www.oracle.com/java/") Java
  | , #[]
  a(href="http://www.cplusplus.com/") C++
  | , #[]
  a(href="http://cython.org/") Cython
  |  e mais recentemente #[]
  a(href="http://es6-features.org/") ECMAScript 2015.

p Estudei também uma série de outras linguagens a fim de aperfeiçoamento, entre
  |  elas #[]
  a(href="http://racket-lang.org/") Scheme
  | , #[]
  a(href="http://moonscript.org/") MoonScript
  | , #[]
  a(href="http://www.erlang.org/") Erlang
  | , #[]
  a(href="http://www.swi-prolog.org/") Prolog
  | , #[]
  a(href="http://sml-family.org/") Standard ML
  | , #[]
  a(href="http://www.cincomsmalltalk.com/main/") Smalltalk
  | , #[]
  a(href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html")
    | Objective-C
  | , #[]
  a(href="http://tcl.tk/") Tcl/Tk
  |  e #[]
  a(href="http://www.ruby-lang.org/pt/") Ruby
  | .

p Cursei FORTIC no #[]
  a(href="http://www.passeiweb.com/vestibular/faculdades/rj/istccp") ISTCC-P
  | , tendo completado todas as cadeiras com CR 9,5. Fui jubilado por não ter
  | entregue as horas de estágio (já trabalhava na área há anos), as horas de
  | palestras obrigatórias, nem ter defendido o TCC.

p Trabalhei desde como servente de pedreiro e carroceiro, até #[em storyteller],
  |  administrador de redes, consultor de sistemas de informação e desenvolvedor
  |  de #[em software].

p Meu trisavô se chamava Gasppar Montini em #[]
  a(href="https://pt.wikipedia.org/wiki/San_Marino") San Marino
  | , mas se registrou Monte Gasppa ao chegar ao Brasil, de onde tirei o nome
  |  #[strong ℳontegasppα], terminando assim de compor meu nome público. O nome
  |  de minha trisavó, esposa de Gasppar, era Giulia Campimori, que foi
  | registrada Julia Monte no Brasil.

h3 Contatos

ul.list-group
  a(href="https://twitter.com/Montegasppa")
    li.list-group-item
      img(src="/img/twitter.png" alt="Twitter:" style={width: "24px", height: "24px"})
      |  Arĥimedeς ℳontegasppα
  a(href="https://www.facebook.com/rodrigo.cacilhas")
    li.list-group-item
      img(src="/img/facebook.png" alt="Facebook:" style={width: "24px", height: "24px"})
      |  Archimedes Montegasppa
  a(href="https://plus.google.com/+RodrigoCacilhas")
    li.list-group-item
      img(src="/img/gplus.png" alt="Google+:" style={width: "24px", height: "10px"})
      |  Arĥimedeς Montegasppα Cacilhας
  a(href="https://br.linkedin.com/in/rodrigocacilhas")
    li.list-group-item
      img(src="/img/linkedin.png" alt="LinkedIn:" style={width: "24px", height: "24px"})
      |  Rodrigo Cacilhas
  a(href="https://soundcloud.com/rodrigo-cacilhas")
    li.list-group-item
      img(src="/img/soundcloud.png" alt="SoundCloud:" style={width: "24px", height: "10px"})
      |  Arĥimedeς ℳontegasppα
