include ../_includes/list-group-item.jade

img.pull-right(src="/img/cacilhas.jpg"
               alt="ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας")

p
  strong ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας
  |, um hipopótamo num campo de flores
br/

p.mg-first Nascido #[strong Rodrigo M. Cacilhas] em Petrópolis/RJ no ano de
  |  1975, ganhou o apelido de 
  a(href="https://pt.wikipedia.org/wiki/Arquimedes") Arquimedes
  |  aos 10 anos por ter muita facilidade com ciências matemáticas – e também
  |  por #[em bullying], já que os colegas de colégio queriam fazer piada com o
  |  episódio da coroa de ouro. Mais tarde, trocou a grafia para
  |  #[strong Arĥimedeς] quando se tornou 
  a(href="http://www.esperantio.net/") esperantista
  |  (o sigma final nada tem a ver com Esperanto).

p Aprendeu música desde a mais tenra idade com sua mãe, que fora cantora.

p Estudou Química no 
  a(href="https://www.iq.ufrj.br/") Instituto de Química da UFRJ
  | , não tendo se formado.

p Aprendeu a lidar com computadores desde muito cedo, tendo iniciado em um 
  a(href="https://www.iq.ufrj.br/") TK85
  | . Começou a a programar aos 12 anos em um 
  a(href="http://www.mci.org.br/micro/outros/hotbit.html") MSX-1 Hotbit
  | , usando linguagem MS XColor BASIC. Mais tarde passou para 
  a(href="https://www.perl.org/") Perl 5
  | , 
  a(href="http://www.open-std.org/jtc1/sc22/wg14/") C
  |  e finalmente 
  a(href="https://www.python.org/") Python
  | , na época na versão 1.5, que se tornou sua linguagem principal. Desenvolveu
  | profissionalmente também em 
  a(href="http://www.lua.org/") Lua
  | , 
  a(href="https://www.oracle.com/java/") Java
  |  e 
  a(href="http://www.cplusplus.com/") C++
  | .

p Estudou também uma série de outras linguagens a fim de aperfeiçoamento, entre
  | elas JavaScript, Scheme, MoonScript, Erlang, Prolog, Standard ML, Smalltalk,
  | Objective-C, Tcl/Tk e Ruby.

p Cursou FORTIC no 
  a(href="http://www.passeiweb.com/vestibular/faculdades/rj/istccp") ISTCC-P
  | , tendo completado todas as cadeiras com CR 9,5. Foi jubilado por não ter
  | entregue as horas de estágio (já trabalhava na área há anos), as horas de
  | palestras obrigatórias, nem ter defendido o TCC.

p Teve trabalhos desde servente de pedreiro e carroceiro, até #[em storyteller],
  |  administrador de redes, consultor de sistemas de informação e desenvolvedor
  |  de #[em software].

p Seu trisavô se chamava Gasppar Montini em 
  a(href="https://pt.wikipedia.org/wiki/San_Marino") San Marino
  | , mas se registrou Monte Gasppa ao chegar ao Brasil, de onde o autor tirou
  |  o nome #[strong ℳontegasppα], terminando de compor seu nome público. O nome
  |  de sua trisavó, esposa de Gasppar, era Giulia Campimori, que foi registrada
  | Julia Monte no Brasil.

h3 Contatos

+ul
  +li Twitter: 
    a(href="https://twitter.com/Montegasppa") Arĥimedeς ℳontegasppα
  +li Facebook: 
    a(href="https://www.facebook.com/rodrigo.cacilhas") Archimedes Montegasppa
  +li LinkedIn: 
    a(href="https://br.linkedin.com/in/rodrigocacilhas") Rodrigo Cacilhas
