include ../_includes/list-group-item.jade

p.mg-first
  | Sempre que conversava com algum amigo #[em blogueiro], ele me sugeria
  |  criar um #[em blog] meu. Não pensei a sério até 
  a(href="http://montegasppa.blogspot.in/2006/07/prlogo.html") julho de 2006
  | , quando criei a primeira encarnação das 
  strong Reflexões de Monte Gasppa e Giulia C.
  | .

p
  | O #[em blog] era sobre Informática, Software Livre e programação, mas acabou
  |  se tornando um #[em blog] político, muito em função da parte de programação
  |  ter se tornado responsabilidade do 
  a(href="/kodumaro/") Kodumaro
  | .

p
  | Mais tarde Reflexões acabou virando de fato meu #[em blog] pessoal, onde
  |  vomito tudo o que me afeta nesse mundo, de religião a música, de Computação
  | a política.

p
  | Renasce então sob minha 
  a(href="http://cacilhas.info/") página pessoal
  | , com um nome ligeiramente diferente, já que resolvi mudar “Monte Gasppa”
  |  para “ℳontegasppα”, mas cada vez mais meu #[em blog] #[strong pessoal].

+ul
  each yearDir, yearSlug in public.montegasppa
    if yearDir
      each monthDir, monthSlug in yearDir
        if monthDir._data
          each page, slug in monthDir._data
            - var url = "/montegasppa/" + yearSlug + "/" + monthSlug + "/" + slug + ".html"
            +li: a(href=url) [#{yearSlug}/#{monthSlug}] !{page.title}
