img.pull-right(src=image alt="Toy")

p.mg-first Yesterday I was having lunch with some developers, and one of them
  |  (a #[=""]
  a(href="https://www.ruby-lang.org/" title="Toy") Ruby
  |  one) began to bash some bad attributes of that technology.

p He was criticising the hard debugging, the forced metaprogramming, and the
  |  code injections (a.k.a. monkey patch). He has spoken with authority,
  |  because he is an experienced Ruby programmer and knows some other languages
  |  too.

p So another programmer seemed offended and fell in the defense of Ruby. However
  |  that other guy knows no other programming platform but Ruby.

p Thus the arguments sounded shallow and generalised.

p I took his arguments and some others I’ve been collecting for a while. Let’s
  |  take a look at them.

h3 Ruby foots my bills

p Well…

+ul
  +li
    a(href="https://python.org/" title="Programming language") Python
    |  foots the Pythonists’ bills;
  +li
    a(href="https://www.java.com/" title="Programming language") Java
    |  foots the Javists’ bills;
  +li C foots the C-programmers’ bills;
  +li and so on.

p “Foots the bills” doesn’t find ground as argument itself.

h3 I can develop faster than any other language programmer

p No, man. You can develop faster than #[strong yourself] in any other language.

p It happens ’cause you’re unaware or unqualified to code in every other
  |  programming language. Your disability is no evidence of superiority (quite
  |  the opposite).

p My team has been quickly developing applications from scratch and supporting
  |  others using (believe it or not) #[strong Java] – that language everyone
  |  says the development’s slow.

p And I’ve done rapid application development using Python, #[=""]
  a(href="https://golang.org/" title="Programming language") Go
  | , #[=""]
  a(href="https://nodejs.org/" title="Something close to a programming language")
    | Node.js
  | , #[=""]
  a(href="https://www.scala-lang.org/" title="Programming language") Scala
  | , Ruby (yes, it I have), and even #[=""]
  a(href="http://www.cplusplus.com/" title="Programming language") C++
  | . RAD comes from #[strong good practices] and a great team, not the
  |  technology.

h3 Ruby runs on any operating system

p Bogus. Ruby runs only on a set of few runtime machines – and you still
  |  #[strong have] to supply your source code to the customer.

p You could compile it using #[=""]
  a(href="https://crystal-lang.org/" title="Toy") Crystal
  | , but its syntax is slightly different from Ruby’s, leading to many issues
  |  not so one-off.

h3 Ruby is better than PHP

p
  a(href="https://www.w3.org/Style/XSL/" title="Oh m’Gosh, da shit is that?!")
    | XSL
  |  is better than #[=""]
  a(title="I refuse to link PHP.") PHP
  | . #[=""]
  a(href="https://curlie.org/Computers/Programming/Languages/Cobol/"
    title="Thank goodness it’s gonna die.") Cobol
  |  is better than PHP. Killing yourself rather than coding is better than PHP.
  |  Even #[=""]
  a(href="https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-basic-6/visual-basic-6.0-documentation"
    title="Shame on you!") Visual Basic
  |  is.

p PHP is no reference at all.

h3 All cool kids are using it

p That’s my favorite one! When everything else fails, Rubyists make use of that
  |  #[em killer] argument. It’s a kind of #[=""]
  a(href="https://en.wiktionary.org/wiki/ad_verecundiam"): em argumentum ad
    | verecundiam
  | .

p In case #[em all cool kids] jump off the bridge, I wonder if you do so.

hr/

p Ruby has nothing qualifying it above any other technology – indeed Ruby dives
  |  into some bad approaches that can be considered anti-pattern by other
  |  developer communities (like the near-mandatory metaprogramming e.g.)

p However that false impression #[strong isn’t Ruby’s exclusivity]. I’ve seen
  |  that in many other communities, like #[=""]
  strong Python, Java, Node.js, and #[=""]
    a(href="https://code.visualstudio.com/docs/languages/csharp"
      title="Programming language") C#
  | . It’s a self-enclosedness bias, every blind-to-others community gets to it.
  |  It’s the Dunning-Kruger effect associated to the herd behavior.

p Ruby is a toy language for those who like pretending to fight on great quests
  |  (like killing dragons and saving the princess). Of course eventually grown
  |  ups may make good use of it, but kids will be kids.

+medium-link
