@import "_default-fancy.css"


$alert_color = #bbbb55
$link_color = #337ab7
$grid_color = #dddddd


blockquote
  font-family Futura, "Trebuchet MS", Arial, sans-serif
  font-size small
  font-weight normal

  strong
    font-weight bolder


.mg-title
  :first-letter
    font-family "Default Fancy"


.mg-first
  :first-letter
    font-family "Default Fancy"
    font-size 180%
    vertical-align text-top
    float left
    margin-right 8px


.mg-highlighted
  :hover
    text-decoration none

  p.lead
    min-height 5em !important


.mg-alert
  color $alert_color


.mg-close
  letter-spacing -1px


.mg-box-grid
  td
    border-right 1px solid $grid_color !important


.mg-grid
  td
    border-right 1px solid $grid_color !important

    :last-child
      border-right none !important


.mg-hidden-link
  color white

  :hover
    color $link_color


#footer
  position fixed
  left 0px
  bottom 0px
  width 100%
  padding 8px 12px 0px 12px
  text-align right
