@import "_default-fancy.css"


$alert_color = #bbbb55


blockquote
  font-family Futura, "Trebuchet MS", Arial, sans-serif
  font-size small
  font-weight normal


blockquote
  strong
    font-weight bolder


.mg-title:first-letter
  font-family "Default Fancy"


.mg-first:first-letter
  font-family "Default Fancy"
  font-size 180%
  vertical-align text-top
  float left
  margin-right 8px


.mg-nou:hover
  text-decoration none


.mg-alert
  color $alert_color


#footer
  position fixed
  left 0px
  bottom 0px
  width 100%
  padding 8px 12px 0px 12px
  text-align right
