$code = #cc6600


body
  background-image url(/img/kodumaro-bg.jpg) !important
  background-repeat repeat !important
  background-attachment fixed !important
  background-position initial !important
  background-origin initial !important
  background-clip initial !important


.panel-heading
  background-image url(/img/kodumaro-title-bg.png) !important
  background-repeat repeat !important


h3
  color $code !important


li > code,
p > code,
tr > code
  color $code !important
  background-color inherit !important


h3 > code,
a > code
  color inherit !important
  background-color inherit !important
