@import "_mixins.styl"

$bg_color = #97b3c9
$shadow = #788fa0


body
    background-color $bg_color !important


.panel-heading
    color white !important
    background-image url(/img/montegasppa-title-bg.jpg) !important
    background-repeat no-repeat !important
    background-position center !important
    bg-size cover !important


.panel-heading > h2
    text-shadow $shadow 2px 2px 2px
