img.pull-right(src="/img/heim.jpg" alt="Heim?")

p.mg-first
  | Verdades absolutas são burras por desconsiderar a realidade factual, por
  | exemplo: se alguém disser “todos os cisnes são brancos”, está
  | desconsiderando que pode haver cisnes negros ou azuis por aí, que ninguém
  | viu ainda.

p
  | Até 1938 acreditava-se que todas as subespécies de celacanto estivessem
  | extintas, até pescarem um vivo no litoral da África.

p
  | Então, a afirmação correta seria “não se conhece cisnes que não sejam
  | brancos”.

p
  | Finalmente chegando à classe política, a afirmação “todos os políticos são
  | corruptos” por si só é uma falácia, porque pressupõe que a pessoa que afirma
  | conhece em detalhes a idoneidade de todo e cada político no mundo – ou no
  | Brasil, caso reduzamos o escopo ao que nos interessa.

p
  | Até aqui falamos do porque afirmações absolutas são falaciosas. Elas são 
  |  também #[strong burras] porque, ao aceitar uma verdade absoluta, a
  |  tendência do ser humano é desconsiderar qualquer evidência de que aquela
  | verdade esteja errada.

p
  | Esse é um mecanismo psicológico de proteção, mas muito ruim, pois sabota a
  | cognição e embota a visão.

p
  | Em outras palavras, quando a pessoa aceita verdades absolutas como
  | princípios – tipo “todo político é corrupto” – ela está limitando sua
  | capacidade de perceber a realidade, se tornando escrava dessas verdades.
  |  Literalmente #[strong emburrecendo].

p
  | — Então por que quem acredita que todo político é corrupto se acha mais
  | inteligente e age como se fosse? Com propriedade?

p
  | Resposta: 
  a(href="https://pt.wikipedia.org/wiki/Efeito_Dunning-Kruger")
    efeito Dunning-Kruger
  | .

p
  | Com a percepção de realidade reduzida, a pessoa também perde a capacidade de
  | perceber o quanto não sabe, tendo assim a ilusão de ser mais inteligente do
  | que realmente é – e certamente a ilusão de ser mais inteligente do que quem
  | explora a realidade livremente, sem as amarras das verdades absolutas.

p
  | O escravo de verdades absolutas sente-se amparado por essas verdades – mesmo
  |  que elas sejam falsas –, dando-lhe o conforto de #[em saber tudo]. A
  |  #[strong certeza] é o pior inimigo do conhecimento.

p
  | Assim essa pessoa irá descartar toda informação que defenda a idoneidade de
  | qualquer político, enquanto aceitará como verdade qualquer difamação da
  | imagem de qualquer político.

p
  | Por isso sugiro que o leitor fuja das verdades absolutas e avalie os
  | políticos caso a caso; não confie no que é informado pelo político ou sobre
  | ele, assim como não confiaria em informações sobre um estranho. Seja
  |  #[strong cético], abra espaço à dúvida.
