p(style={"text-align": "center"})
  img(src="/img/shiva-back.jpg" alt="Oṁ Namah Shivaya!")

p.pull-right: small
  a(href="http://montegasppa.blogspot.com.br/2012/07/om-namah-shivaya.html")
    | 2012-07-01
