include ./_includes/tags.jade

div(class=["panel", "panel-default"])
  div.panel-heading
    h2.mg-title Apresentação

  div.panel-body
    p.mg-first
      | Meu nome é ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας e este é meu
      |  #[em site] pessoal.

    p
      | Minha intenção neste espaço é concentrar coisas de minha extinta página,
      | como Konsulta Vortaro e meu trabalho musical, e trazer meu #[em blog] 
      a(href="http://montegasppa.blogspot.com.br/")
        | Reflexões de Monte Gasppa e Giulia C.
      |  para cá.

    p
      | Também pretendia #[em reblogar] as publicações do 
      a(href="http://kodumaro.blogspot.com.br/") Kodumaro
      |  aqui, sem desativar o #[em blog] original, mas limitações na interface
      | do 
      a(href="https://www.blogger.com/") Blogger.com
      |  me obrigaram a transferir este #[em blog] também pra cá.

    p
      | Aos poucos irei preenchendo as lacunas aqui e em breve estarei com o
      |  #[em site] ressuscitado!
