div(class=["panel", "panel-default"])
  div.panel-heading
    h2.mg-title Licença

  div.panel-body
    img.pull-right(src="/img/cc-by.jpg")

    p
      | CC-BY: Os textos contidos nas páginas sob ℭacilhας.INFO podem ser
      | reproduzidos contanto que sejam informados autor e origem, exceto os
      |  marcados com a #[em tag] #[code Reblogging], que pertencem a outros
      |  autores, sob suas próprias licenças.

    center: a(href="http://creativecommons.org/licenses/by/3.0/deed.pt")
      | Creative Commons Atribuição 3.0 Não Adaptada 
      small (CC BY 3.0)
