p.small Esta é a versão original do artigo #[]
  a(href="/montegasppa/2016/06/escalas-exoticas-c.html") Escalas exóticas
  | . Se preferir, leia a versão atualizada.

hr

img.pull-right(src="/img/clave-sol.jpg" alt="𝄞")

p.mg-first No #[]
  a(href="/montegasppa/2016/06/modos-gregos.html") último artigo
  |  falei sobre os modos gregos. Dando continuidade, falarei de algumas
  | escalas exóticas.

p Escalas exóticas são aquelas que, em nenhuma modulação casam com a escala
  | diatônica.

p É impossível abordar completamente todas as escalas exóticas, pois,
  | matematicamente falando, são 2.041 escalas
  a(href="#update-2016-06-19"): sup 1
  | , se não desconsiderarmos as
  | interpermutáveis entre si. Vou me ater a fazer um apanhado de algumas poucas
  | mais importantes, que todo músico deveria dominar.

blockquote
  tt [update 2016-06-19]
  p
    sup#update-2016-06-19 1
    | Eliminando-se as permutações, sobram 350 escalas exóticas possíveis.
  tt [/update]

h3#modos-gregos Modos gregos

p Antes de começarmos, vou apenas colocar aqui um resumo dos modos gregos:

table.table
  thead
    tr #[th Modo] #[th Ⅰ]#[th Ⅱ]#[th Ⅲ]#[th Ⅳ]#[th Ⅴ]#[th Ⅵ]#[th Ⅶ]

  tbody
    tr #[td Lídio]
      | #[td fá]#[td sol]#[td lá]#[td si]#[td dó]#[td ré]#[td mi]
    tr #[td Jônico]
      | #[td fá]#[td sol]#[td lá]#[td si#[sup ♭]]#[td dó]#[td ré]#[td mi]
    tr #[td Mixolídio]
      | #[td fá]#[td sol]#[td lá]#[td si#[sup ♭]]#[td dó]#[td ré]#[td mi#[sup ♭]]
    tr #[td Dórico]
      | #[td fá]#[td sol]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó]#[td ré]#[td mi#[sup ♭]]
    tr #[td Eólico]
      | #[td fá]#[td sol]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó]#[td ré#[sup ♭]]#[td mi#[sup ♭]]
    tr #[td Frígio]
      | #[td fá]#[td sol#[sup ♭]]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó]#[td ré#[sup ♭]]#[td mi#[sup ♭]]
    tr #[td Lócrio]
      | #[td fá]#[td sol#[sup ♭]]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó#[sup ♭]]#[td ré#[sup ♭]]#[td mi#[sup ♭]]

p Representei aqui os graus na escala de fá em vez de outro tou ou em vez de
  | usar os nomes relativos para mostrar que cada modo é exatamente igual ao
  | anterior, aprecescentando-se apenas um bemol.

p Repare também que o grau alterado de um modo para outro é sempre o a quarta
  | do grau alterado no modo anterior.

h3#superlocria Escala superlócria

p Eram apenas seis modos gregos clássicos. Observando-se os acidentes na escala
  | de fá vemos que começamos com nenhum acidente no modo lídio, um acidente no
  | no modo jônico, e assim até cinco acidentes no modo frígio.

p Acadêmicos acrescentaram um acidente sobre o modo frígio, seguindo a ordem de
  | quartas, e assim criaram o modo lócrio, que é o último modo possível da
  | escala diatônica – sete graus, sete modos.

p Porém nada nos impede de continuar acrescentando acidentes sobre as quartas,
  | apenas a escala resultante não é mais intermutável com a escala diatônica.

p Acrescentando-se um oitavo acidente ao quarto grau, temos a escala
  | superlócria:

table.table
  tr #[td ⅠJ]#[td Ⅱm]#[td Ⅲm]#[td Ⅳ-]#[td Ⅴ-]#[td Ⅵm]#[td Ⅶm]
  tr #[td fá]#[td sol#[sup ♭]]#[td lá#[sup ♭]]#[td si#[sup ♭♭]]#[td dó#[sup ♭]]#[td ré#[sup ♭]]#[td mi#[sup ♭]]

p A escala superlócria também pode ser entendida como o modo jônico com a
  | tônica aumentada:

table.table
  tr #[td Ⅰ+]#[td ⅡM]#[td ⅢM]#[td ⅣJ]#[td ⅤJ]#[td ⅥM]#[td ⅦM]
  tr #[td fá#[sup ♯]]#[td sol]#[td lá]#[td si#[sup ♭]]#[td dó]#[td ré]#[td mi]

h3#classica Escala clássica menor

p Esta é uma escala mista, combinando-se o primeiro tetracorde do modo eólico
  | com o segundo tetracorde do modo jônico:

table.table
  tr
    td(rowspan="2") Modo eólico
    td: strong ⅠJ
    td: strong ⅡM
    td: strong Ⅲm
    td: strong ⅣJ
    td ⅤJ
    td Ⅵm
    td Ⅶm
  tr
    td: strong fá
    td: strong sol
    td: strong lá#[sup ♭]
    td: strong si#[sup ♭]
    td dó
    td ré#[sup ♭]
    td mi#[sup ♭]

  tr
    td(rowspan="2") Modo jônico
    td ⅠJ
    td ⅡM
    td ⅢM
    td ⅣJ
    td: strong ⅤJ
    td: strong ⅥM
    td: strong ⅦM
  tr
    td fá
    td sol
    td lá
    td si#[sup ♭]
    td: strong dó
    td: strong ré
    td: strong mi

  tr
    td(rowspan="2") Escala menor
    | #[td ⅠJ]#[td ⅡM]#[td Ⅲm]#[td ⅣJ]#[td ⅤJ]#[td ⅥM]#[td ⅦM]
  tr #[td fá]#[td sol]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó]#[td ré]#[td mi]

p Esta escala é muito usada na música erudita.

h3#blues Escala de #[em blues]

p De origem mista afro-americana, o #[em blues] traz elementos tanto europeus,
  |  quanto africanos.

p Como música africana, o #[em blues] é #[strong modal].

p Escala modal é aquela em que não é possível determinar se seu modo é maior ou
  | menor. Esse efeito é obtido mascarando a mediante – omitindo-a ou
  | duplicando-a, usando as terças menor e maior na mesma escala.

p: small Observação: alguns estudiosos dizem ser possível determinar o modo pelo
  | sexto grau quando a mediante é omitida.

p O #[em blues] usa duas mediantes, maior e menor, com a restrição de que a
  |  evolução entre elas deve ser sempre ascendente – da menor para a maior,
  | mesmo em evoluções descendentes.

p Outra característica não-europeia do #[em blues] é a presença do #[]
  a(href="https://pt.wikipedia.org/wiki/Trítono") trítono
  | , grau intermediário entre a subdominante (quarta) e a dominante (quinta),
  |  abolido pela Igreja Católica por ser considerado #[]
  em Diabŏlus in Musĭca
  | .

p O sétimo grau da escala do #[em blues] é menor (da dominante), porém é aceita
  |  a sensível na chamada da tônica para descanso.

p Por último, a segunda #[strong não] faz parte da escala, mas também é aceita
  |  na chamada da tônica para descanso.

p A escala fica assim na ascendente:

table.table
  tr
    td ⅠJ
    td Ⅲm
    td ⅢM
    td ⅣJ
    td T
    td ⅤJ
    td Ⅶm
    td: small (ⅦM)
    td ⅧJ

  tr
    td fá
    td lá#[sup ♭]
    td lá
    td si#[sup ♭]
    td si
    td dó
    td mi#[sup ♭]
    td: small (mi)
    td fá

p E na descendente:

table.table
  tr
    td ⅧJ
    td Ⅶm
    td ⅤJ
    td T
    td ⅣJ
    td Ⅲm
    td ⅢM
    td: small (ⅡM)
    td ⅠJ

  tr
    td fá
    td mi#[sup ♭]
    td dó
    td si
    td si#[sup ♭]
    td lá#[sup ♭]
    td lá
    td: small (sol)
    td fá

blockquote
  tt [update 2016-06-23]
  p Além dos graus principais da escala de #[em blues], #[em blueseiros]
    |  costumam usar de modo ligeiramente criterioso praticamente todos os
    |  acidentes de intervalos, transformado o uso real da escala de #[em blues]
    |  num verdadeiro representante da#[= " "]
    a(href="https://pt.wikipedia.org/wiki/Dodecafonismo") escola dodecafônica
    | .
  tt [/update]

h3#nordestina Escala nordestina

p A escala nordestina, também chamada de lídia #[span.mg-close ♭7], assim como
  |  a menor, é também uma escala mista: consiste no primeiro tetracorde do modo
  |  lídio sob o segundo tetracorde do modo dórico.

table.table
  tr
    td(rowspan="2") Modo lídio
    td: strong ⅠJ
    td: strong ⅡM
    td: strong Ⅲm
    td: strong Ⅳ+
    td ⅤJ
    td ⅥM
    td ⅦM
  tr
    td: strong fá
    td: strong sol
    td: strong lá
    td: strong si
    td dó
    td ré
    td mi

  tr
    td(rowspan="2") Modo dórico
    td ⅠJ
    td ⅡM
    td Ⅲm
    td ⅣJ
    td: strong ⅤJ
    td: strong ⅥM
    td: strong Ⅶm
  tr
    td fá
    td sol
    td lá#[sup ♭]
    td si#[sup ♭]
    td: strong dó
    td: strong ré
    td: strong mi#[sup ♭]

  tr
    td(rowspan="2") Escala nordestina
    | #[td ⅠJ]#[td ⅡM]#[td ⅢM]#[td Ⅳ+]#[td ⅤJ]#[td ⅥM]#[td Ⅶm]
  tr #[td fá]#[td sol]#[td lá]#[td si]#[td dó]#[td ré]#[td mi#[sup ♭]]

p Repare que a escala nordestina é intermutável com a escala menor: equivale à
  | escala menor modulada pelo quarto grau.

h3#harmonica Escala harmônica

p Consiste no modo eólico com a sétima sensível:

table.table
  tr #[td ⅠJ]#[td ⅡM]#[td Ⅲm]#[td ⅣJ]#[td ⅤJ]#[td Ⅵm]#[td ⅦM]
  tr #[td fá]#[td sol]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó]#[td ré#[sup ♭]]#[td mi]

p A passagem mais característica nesta escala é o intervalo de tom e meio entre
  | o sexto e o sétimo graus. Todo o restante é bem trivial.

p Há uma outra escala comumente chamada harmônica maior, que consiste no modo
  | jônico com a segunda menor:

table.table
  tr #[td ⅠJ]#[td Ⅱm]#[td ⅢM]#[td ⅣJ]#[td ⅤJ]#[td ⅥM]#[td ⅦM]
  tr #[td fá]#[td sol#[sup ♭]]#[td lá]#[td si#[sup ♭]]#[td dó]#[td ré]#[td mi]

p Também cria o itervalo característico de tom e meio, desta vez entre o segundo
  | e o terceiro graus.

p Os nomes técnicos são eólica #[span.mg-close 7+] e jônica #[span.mg-close ♭9].

h3#cigana Escala cigana

p Escalas ciganas ou húngaras são variantes da escala harmônica (menor). Há dois
  | variantes:

p A primeira é igual à escala harmônica, subindo a quarta para o trítono:

table.table
  tr #[td ⅠJ]#[td ⅡM]#[td Ⅲm]#[td Ⅳ+]#[td ⅤJ]#[td Ⅵm]#[td ⅦM]
  tr #[td fá]#[td sol]#[td lá#[sup ♭]]#[td si]#[td dó]#[td ré#[sup ♭]]#[td mi]

p A segunda é a igual à harmônica, com a segunda menor:

table.table
  tr #[td ⅠJ]#[td Ⅱm]#[td Ⅲm]#[td ⅣJ]#[td ⅤJ]#[td Ⅵm]#[td ⅦM]
  tr #[td fá]#[td sol#[sup ♭]]#[td lá#[sup ♭]]#[td si#[sup ♭]]#[td dó]#[td ré#[sup ♭]]#[td mi]

p Os nomes técnicos são lídia #[span.mg-close ♭3♭13] e frígia
  |  #[span.mg-close 7+].

h3#bebop Escalas #[em bebop]

p Escalas #[em bebop] são variações das escalas com sétima da dominante,
  |  onde é acrescentada a sétima sensível, o que forma uma escala de oito
  | graus.

p São tradicionalmente executadas #[strong descendentemente], assim a primeira
  |  nota de cada par representa um elemento do acorde principal do tom.

p A mais simples de todas é a mixolídia #[em bebop]:

table.table
  tr
    td ⅧJ
    td ⅦM
    td Ⅶm
    td ⅥM
    td ⅤJ
    td ⅣJ
    td ⅢM
    td ⅡM
    td ⅠJ
  tr
    td: strong fá
    td mi
    td: strong mi#[sup ♭]
    td ré
    td: strong dó
    td si#[sup ♭]
    td: strong lá
    td sol
    td: strong fá

p Tecnicamente há uma escala #[em bebop] para cada um dos modos com sétima da
  |  dominante – mixolídia, dórica, eólica, frígia e lócria, além de outras
  |  modificadas –, mas as duas mais usadas no #[em jazz] são a lócria
  |  #[em bebop]:

table.table
  tr
    td ⅧJ
    td ⅦM
    td Ⅶm
    td Ⅵm
    td Ⅴ-
    td ⅣJ
    td Ⅲm
    td Ⅱm
    td ⅠJ
  tr
    td: strong fá
    td mi
    td: strong mi#[sup ♭]
    td ré#[sup ♭]
    td: strong dó#[sup ♭]
    td si#[sup ♭]
    td: strong lá#[sup ♭]
    td sol#[sup ♭]
    td: strong fá

p E a altamente alterada mixolídia #[em bebop] #[span.mg-close ♭9♭13]:

table.table
  tr
    td ⅧJ
    td ⅦM
    td Ⅶm
    td Ⅵm
    td ⅤJ
    td ⅣJ
    td ⅢM
    td Ⅱm
    td ⅠJ
  tr
    td: strong fá
    td mi
    td: strong mi#[sup ♭]
    td ré#[sup ♭]
    td: strong dó
    td si#[sup ♭]
    td: strong lá
    td sol#[sup ♭]
    td: strong fá

h3#diminuta Escala diminuta

p Já que falamos em #[em jazz], uma escala interessantíssima usada
  |  eventualmente é a escala diminuta, que consiste em duas sequências de
  | terças sobrepostas, separadas por meio tom.

p Isso gera uma escala simétrica, onde qualquer grau pode ser usado para
  | descanso – ou, sendo bem honesto, nenhum funciona bem. A sequência de
  | intervalos é semitom, tom, semitom, tom, semitom, tom, semitom e tom.

table.table
  tr #[td ⅠJ]#[td Ⅱm]#[td Ⅲm]#[td ⅢM]#[td Ⅳ+]#[td ⅤJ]#[td ⅥM]#[td Ⅶm]
  tr #[td fá]#[td sol#[sup ♭]]#[td lá#[sup ♭]]#[td lá]#[td si]#[td dó]#[td ré]#[td mi#[sup ♭]]

h3#aumentada Escala aumentada

blockquote
  tt [update 2016-06-23]
  p: strong Bônus!
  tt [/update]

p Escala aumentada é a principal dentre as #[]
  a(href="https://en.wikipedia.org/wiki/Hexatonic_scale") escalas hexatônicas
  |  e consiste em uma série de tons #[em cheios], nenhum semitom:

table.table
  tr #[td ⅠJ]#[td ⅡM]#[td ⅢM]#[td Ⅳ+]#[td Ⅴ+]#[td Ⅵ+]
  tr #[td fá]#[td sol]#[td lá#[td si]#[td dó#[sup ♯]]]#[td ré#[sup ♯]]

h3#epilogo Epílogo

p Esta foi apenas uma pequena exposição das escalas exóticas que pessoalmente
  | considero importante que todo músico conheça bem.

p Pretendo falar especificamente de uma ou outra futuramente.

h3#addendum: em Addendum

p Relação entre intervalos, escalas e trastes em instrumentos temperados de
  |  corda; #[em n] pode ser corda solta ou um traste qualquer onde esteja o
  |  tom desejado:

table.table
  thead
    tr
      th Escala
      th ⅠJ
      th Ⅱm
      th ⅡM
      th Ⅲm
      th ⅢM
      th ⅣJ
      th T
      th ⅤJ
      th Ⅵm
      th ⅥM
      th Ⅶm
      th ⅦM
      th ⅧJ

  tbody.mg-box-grid
    tr
      td Modo lídio
      | #[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]
    tr
      td Modo jônico
      | #[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]
    tr
      td Modo mixolídio
      | #[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]
    tr
      td Modo dórico
      | #[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]
    tr
      td Modo eólico
      | #[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]
    tr
      td Modo frígio
      | #[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]
    tr
      td Modo lócrio
      | #[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]
    tr
      td Superlócria
      | #[td •]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]
    tr
      td Clássica
      | #[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]
    tr
      td: em Blues
      | #[td •]#[td]#[td ←]#[td →]#[td •]#[td •]#[td •]#[td •]#[td]#[td]#[td •]#[td →]#[td •]
    tr
      td Nordestina
      | #[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td •]#[td]#[td •]
    tr
      td Harmônica (menor)
      | #[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td]#[td •]#[td •]
    tr
      td Harmônica maior
      | #[td •]#[td •]#[td]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]
    tr
      td Cigana#[sup 1]
      | #[td •]#[td]#[td •]#[td •]#[td]#[td]#[td •]#[td •]#[td •]#[td]#[td]#[td •]#[td •]
    tr
      td Cigana#[sup 2]
      | #[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td]#[td •]#[td •]
    tr
      td Lócria #[em bebop]
      | #[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td]#[td •]#[td •]#[td •]
    tr
      td Mixolídia #[em bebop] #[span.mg-close ♭9♭13]
      | #[td •]#[td •]#[td]#[td]#[td •]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td •]#[td •]
    tr
      td Diminuta
      | #[td •]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td •]#[td]#[td •]#[td •]#[td]#[td •]
    tr
      td Aumentada
      | #[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]#[td]#[td •]

  tfoot
    tr
      td Traste
      td: em n
      td #[em n]+1
      td #[em n]+2
      td #[em n]+3
      td #[em n]+4
      td #[em n]+5
      td #[em n]+6
      td #[em n]+7
      td #[em n]+8
      td #[em n]+9
      td #[em n]+10
      td #[em n]+11
      td #[em n]+12
