img.pull-right(src="/img/schecter-c8.jpg" alt="Schecter C-8 Deluxe")

p.mg-first Ouve-se muito falar em escalas #[em Ionian], #[em Dorian],
  |  #[em Phrygian], #[em Lydian], #[em Mixolydian], #[em Aeolian] e
  |  #[em Locrian], mas o que são?

p Não passam de um jeito pedante (inglês) e complicado de se referir aos modos
  | gregos da escala diatônica.

p A #[=""]
  a(href="https://pt.wikipedia.org/wiki/Escala_diatônica") escala diatônica
  |  é a escala de sete graus mais comum nas músicas ocidental e árabe. Por
  | possuir sete graus, há sete formas diferentes de se executá-la, tratando
  | cada um dos sete graus como tom de descanso.

p Essas sete formas de execução (de acordo com o grau de descanso) são chamadas
  | modos gregos.

p Cada modo grego recebeu seu nome de acordo com a região da Grécia – na verdade
  | da Turquia, na época Anatólia – em que era preferido.

h3#jonico Modo jônico

p.text-center
  img(src="/img/modos-gregos/ionian.jpg" alt="Ionian")

p O modo jônico, preferido na #[=""]
  a(href="https://pt.wikipedia.org/wiki/Jônia") Jônia
  | , região litorânea oeste central da Turquia, é o modo grego mais famoso e
  | usado, um dos três modos maiores, muitas vezes chamado simplesmente de
  | escala diatônica maior. É chamado na escola árabe de Maqam Ajam.

p A escala consiste em todos os intervalos justos ou maiores:

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th ⅡM
      th ⅢM
      th ⅣJ
      th ⅤJ
      th ⅥM
      th ⅦM
  tbody
    tr
      td: strong Dó maior
      td dó
      td ré
      td mi
      td fá
      td sol
      td lá
      td si

    tr
      td: strong Fá maior
      td fá
      td sol
      td lá
      td si#[sup ♭]
      td dó
      td ré
      td mi

    tr
      td: strong Sol maior
      td sol
      td lá
      td si
      td dó
      td ré
      td mi
      td fá#[sup ♯]

    tr
      td: strong Lá maior
      td lá
      td si
      td do#[sup ♯]
      td ré
      td mi
      td fá#[sup ♯]
      td sol#[sup ♯]

p Outra forma de encarar a escala é através de seus intervalos – que é como a
  |  escola árabe trata. O Maqam Rast consiste em dois #[=""]
  a(href="https://pt.wikipedia.org/wiki/Tetracorde") tetracordes
  |  idênticos sobrepostos, separados por um tom, cada um consistindo em tom,
  | tom, semitom: dó (T) ré (T) mi (½) fá + sol (T) lá (T) si (½) dó.

h3#lidio Modo lídio

p.text-center
  img(src="/img/modos-gregos/lydian.jpg" alt="Lydian")

p Esse é o modo preferido na #[=""]
  a(href="https://pt.wikipedia.org/wiki/Frígia") Frígia
  | , no centro da Ásia Menor, também um modo maior. Talvez seja o menos
  |  considerado dos modos clássicos devido à presença do #[=""]
  a(href="https://pt.wikipedia.org/wiki/Trítono") trítono
  |  – #[em Diabŏlus in Musĭca].

p É o equivalente ao modo jônico executado a partir do quarto grau. Possui todos
  | os intervalos justos ou maiores, exceto a subdominante, que é aumentada:

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th ⅡM
      th ⅢM
      th Ⅳ+
      th ⅤJ
      th ⅥM
      th ⅦM
  tbody
    tr
      td: strong Dó maior
      td dó
      td ré
      td mi
      td fá#[sup ♯]
      td sol
      td lá
      td si

    tr
      td: strong Fá maior
      td fá
      td sol
      td lá
      td si
      td dó
      td ré
      td mi

    tr
      td: strong Sol maior
      td sol
      td lá
      td si
      td dó#[sup ♯]
      td ré
      td mi
      td fá#[sup ♯]

    tr
      td: strong Lá maior
      td lá
      td si
      td do#[sup ♯]
      td ré#[sup ♯]
      td mi
      td fá#[sup ♯]
      td sol#[sup ♯]

p No #[=""]
  a(href="https://pt.wikipedia.org/wiki/Círculo_de_quintas") círculo de quintas
  |  o modo lídio é o primeiro a ser representado: lídio, jônico, mixolídio,
  | dórico, eólico, frígio e lócrio. Seguindo as escalas em fá, lídio não possui
  | acidentes e cada modo do círculo possui um acidente a mais que o anterior.

h3#mixolidio Modo mixolídio

p.text-center
  img(src="/img/modos-gregos/mixolydian.jpg" alt="Mixolydian")

p O último modo maior era preferido na Germânia (Alemanha antiga), mas no mundo
  | egeu era definido como uma mistura dos modos lídio e dórico.

p Esse módulo é equivalente ao modo jônico executado a partir do quinto grau e
  | possui todos os intervalos justos ou maiores, exceto a sétima. Por isso a
  | sétima menor é chamada de sétima da dominante (dominante é o quinto grau):

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th ⅡM
      th ⅢM
      th ⅣJ
      th ⅤJ
      th ⅥM
      th Ⅶm
  tbody
    tr
      td: strong Dó maior
      td dó
      td ré
      td mi
      td fá
      td sol
      td lá
      td si#[sup ♭]

    tr
      td: strong Fá maior
      td fá
      td sol
      td lá
      td si#[sup ♭]
      td dó
      td ré
      td mi#[sup ♭]

    tr
      td: strong Sol maior
      td sol
      td lá
      td si
      td dó
      td ré
      td mi
      td fá

    tr
      td: strong Lá maior
      td lá
      td si
      td do#[sup ♯]
      td ré
      td mi
      td fá#[sup ♯]
      td sol

p As escalas de sétima da dominante são as usadas para a criação de escalas
  |  #[em bebop].

h3#dorico Modo dórico

p.text-center
  img(src="/img/modos-gregos/dorian.jpg" alt="Dorian")

p O primeiro dos modos menores é equivalente ao modo jônico evoluído a partir do
  |  segundo grau e era preferido na #[=""]
  a(href="https://pt.wikipedia.org/wiki/Dórida") Dóride
  | , na Grécia. Os árabes o chamam Maqam Rast, e é a escala principal daquela
  | escola.

p Como modo menor, é definido pela presença da terça menor, porém possui uma
  | sexta maior perturbando sua modalidade. É formado pela sobreposição de dois
  | tetracordes tom, semitom, tom:

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th ⅡM
      th Ⅲm
      th ⅣJ
      th ⅤJ
      th ⅥM
      th Ⅶm
  tbody
    tr
      td: strong Dó menor
      td dó
      td ré
      td mi#[sup ♭]
      td fá
      td sol
      td lá
      td si#[sup ♭]

    tr
      td: strong Fá menor
      td fá
      td sol
      td lá#[sup ♭]
      td si#[sup ♭]
      td dó
      td ré
      td mi#[sup ♭]

    tr
      td: strong Sol menor
      td sol
      td lá
      td si#[sup ♭]
      td dó
      td ré
      td mi
      td fá

    tr
      td: strong Lá menor
      td lá
      td si
      td do
      td ré
      td mi
      td fá#[sup ♯]
      td sol

h3#frigio Modo frígio

p.text-center
  img(src="/img/modos-gregos/phrygian.jpg" alt="Phrygian")

p O modo frígio consiste em modular a escala diatônica pela terça do modo jônico
  |  e era preferido na #[=""]
  a(href="https://pt.wikipedia.org/wiki/Frígia") Frígia
  | , região central da Anatólia (Turquia). Na escola árabe é chamada Maqam
  | Bayat.

p O modo frígio é caracterizado por possuir todos os intervalos justos ou
  | menores:

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th Ⅱm
      th Ⅲm
      th ⅣJ
      th ⅤJ
      th Ⅵm
      th Ⅶm
  tbody
    tr
      td: strong Dó menor
      td dó
      td ré#[sup ♭]
      td mi#[sup ♭]
      td fá
      td sol
      td lá#[sup ♭]
      td si#[sup ♭]

    tr
      td: strong Fá menor
      td fá
      td sol#[sup ♭]
      td lá#[sup ♭]
      td si#[sup ♭]
      td dó
      td ré#[sup ♭]
      td mi#[sup ♭]

    tr
      td: strong Sol menor
      td sol
      td lá#[sup ♭]
      td si#[sup ♭]
      td dó
      td ré
      td mi#[sup ♭]
      td fá

    tr
      td: strong Lá menor
      td lá
      td si#[sup ♭]
      td do
      td ré
      td mi
      td fá
      td sol

h3#eolico Modo Eólico

p.text-center
  img(src="/img/modos-gregos/aeolian.jpg" alt="Aeolian")

p O último dos modos menores é o relativo do modo jônico, assim chamado por ser
  | modulado a partir da relativa (sexto grau) da tônica jônica.

p Era o modo preferido na #[=""]
  a(href="https://pt.wikipedia.org/wiki/Eólia") Eólia
  | , litoral noroeste da Turquia. É chamado Maqam Nahuand na escola árabe.

p Possui apenas a pós-tônica (segundo grau) maior, todos os demais intervalos
  | são justos ou menores:

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th ⅡM
      th Ⅲm
      th ⅣJ
      th ⅤJ
      th Ⅵm
      th Ⅶm
  tbody
    tr
      td: strong Dó menor
      td dó
      td ré
      td mi#[sup ♭]
      td fá
      td sol
      td lá#[sup ♭]
      td si#[sup ♭]

    tr
      td: strong Fá menor
      td fá
      td sol
      td lá#[sup ♭]
      td si#[sup ♭]
      td dó
      td ré#[sup ♭]
      td mi#[sup ♭]

    tr
      td: strong Sol menor
      td sol
      td lá
      td si#[sup ♭]
      td dó
      td ré
      td mi#[sup ♭]
      td fá

    tr
      td: strong Lá menor
      td lá
      td si
      td do
      td ré
      td mi
      td fá
      td sol

h3#locrio O modo moderno: lócrio

p.text-center
  img(src="/img/modos-gregos/locrian.jpg" alt="Locrian")

p Havia seis modos gregos, um para cada grau da escala diatônica, exceto um:
  | a sensível do modo jônico.

p Foi assim porque a escala criada por esse grau não possui uma quinta justa, o
  | que compromete a tonalidade da escala.

p Ainda assim, teóricos da música criaram uma escala artifical a partir desse
  | grau, chamada modo lócrio, que ficou confinada aos estudo acadêmicos até o
  |  século XX, quando começou a ser usada no #[em jazz] e na música
  |  clássica moderna.

p Consiste em todos os graus menores e a quinta diminuta:

table.table
  thead
    tr
      th Tom
      th ⅠJ
      th Ⅱm
      th Ⅲm
      th ⅣJ
      th Ⅴ°
      th Ⅵm
      th Ⅶm
  tbody
    tr
      td: strong Dó diminuto
      td dó
      td ré#[sup ♭]
      td mi#[sup ♭]
      td fá
      td sol#[sup ♭]
      td lá#[sup ♭]
      td si#[sup ♭]

    tr
      td: strong Fá diminuto
      td fá
      td sol#[sup ♭]
      td lá#[sup ♭]
      td si#[sup ♭]
      td dó#[sup ♭]
      td ré#[sup ♭]
      td mi#[sup ♭]

    tr
      td: strong Sol diminuto
      td sol
      td lá#[sup ♭]
      td si#[sup ♭]
      td dó
      td ré#[sup ♭]
      td mi#[sup ♭]
      td fá

    tr
      td: strong Lá diminuto
      td lá
      td si#[sup ♭]
      td do
      td ré
      td mi#[sup ♭]
      td fá
      td sol

h3#escalas-exoticas Escalas exóticas

p A partir do estudo dos modos gregos da escala diatônica, surgiram outras
  | escalas, cujos intervalos não se encaixam na sequência diatônica em nenhuma
  | ordem, apesar de derivarem dela.

p Essas escalas são chamadas exóticas. As mais usadas são a clássica menor, a
  |  nordestina (lídio ♭7), as ciganas, a superlócria e alguns #[em maqamat]
  |  árabes um pouco diferentes.

p Há também escalas exóticas com mais ou menos de sete graus, como a escala de
  |  #[em blues] e as escalas #[em bebop].

p Mas esse será assunto para #[=""]
  a(href="/montegasppa/2016/06/escalas-exoticas-c.html") outro artigo
  | .

p.text-center
  img(src="/img/modos-gregos/jonia.jpg" alt="Jônia")
