img.pull-right(src=image alt="Made with secret alien technology")

p.mg-first Dando continuidade ao #[=""]
  a(href=`${public.kodumaro.blog.url}2017/11/lisp.html`) artigo anterior
  | , podemos abordar dois #[em patterns] interessantes: acumuladores e
  |  #[em promises].
