include ../../../_includes/list-group-item.pug

img.pull-right(src="/img/clave-sol.jpg" alt="")

p.mg-first Ouço recorrentemente as pessoas dizerem que só escutam gente morta,
  |  querendo dizer que o bom #[em rock] está apenas nas grandes bandas do
  |  passado.

p A meu ver isso revela pessoas que precisam de alguém para dizer a elas do que
  | gostar ou não, são incapazes de decidir sozinhas se gostam ou não de um som,
  | provavelmente por medo de gostar da “coisa errada”.

p Esse tipo de comportamento é duplamente destrutivo, primeiro porque limita
  | a apreciação da pessoa, impedindo-a de perceber que a música está sempre em
  | crescimento; segundo porque perpetua esse pensamento para as novas gerações
  | de roqueiros, criando um ciclo vicioso de adoração do passado e negação do
  | presente – ou seja, o contrário de tudo o que o Rock’n’Roll representa.

p Além disso, essa visão de que a era da boa música acabou é reflexo da péssima
  | mídia musical que temos no mundo todo, que tenta enterrar bons músicos,
  | difíceis de serem controlados, e encher o mercado de lixo, músicos ruins, 
  | fáceis de serem controlados por serem descartáveis.

p Na verdade devemos estar vivendo a era áurea da música com a divulgação na
  | Web. Músicos de todo o mundo podem divulgar seu trabalho sem depender das
  | grandes gravadores, que querem impedir isso a todo custo, mesmo que seja
  | convencendo as pessoas de que apenas a música do passado (controlada por
  | elas) é boa.

p Para provar meu ponto, farei uma lista de alguns canais do YouTube que mostram
  | que a boa música e o Rock’n’Roll estão mais vivos hoje do que nunca.

+ul
  a(href="https://www.youtube.com/channel/UCoLH6RkTGYdqW0qAfd5yO8Q"): +li
    | Amplifier (tópico)
  a(href="https://www.youtube.com/channel/UCapBE4qj6uqAAiIcq5skiVw"): +li
    | Andy McKee (tópico)
  a(href="https://www.youtube.com/channel/UCXIymrrnEACsu6-Sl2QFhew"): +li
    | The Dead Weather
  a(href="https://www.youtube.com/channel/UCylstOR8n268-jdMGwMfazw"): +li
    | Devin Townsend (tópico)
  a(href="https://www.youtube.com/channel/UC6SvF0tR6n5al0-3ieIxWcQ"): +li
    | Ewan Dobson (tópico)
  a(href="https://www.youtube.com/channel/UCebyBCG2i893i9hbo1mImpQ"): +li
    | The Fine Constant
  a(href="https://www.youtube.com/channel/UClTGzIExx8h5mNMWsbygzkA"): +li
    | The Gathering (tópico)
  a(href="https://www.youtube.com/channel/UC3Tl5sAPkBF3WlGWGYlpHDg"): +li
    | Gavin Harrison (tópico)
  a(href="https://www.youtube.com/channel/UCHJB_mpFHEjzrHgCO06a7Tg"): +li
    | Hang Massive
  a(href="https://www.youtube.com/channel/UCKsiywp0pqdeByhquz7KvIg"): +li
    | Indukti (tópico)
  a(href="https://www.youtube.com/channel/UCW5pFkwpq0YU1f3Sl-MnTaQ"): +li
    | maudling of the Well (tópico)
  a(href="https://www.youtube.com/channel/UCwPvEWZhv_7MVS4moNQ_Vdw"): +li
    | Maybeshewill (tópico)
  a(href="https://www.youtube.com/channel/UCGGhM6XCSJFQ6DTRffnKRIw"): +li
    | Muse
  a(href="https://www.youtube.com/channel/UCpdJq4M0yMdiD6zep6B-ZZQ"): +li
    | No-Man (tópico)
  a(href="https://www.youtube.com/channel/UCAFpAdZC7QqbsCThk04b2WQ"): +li
    | Omer Ephrat
  a(href="https://www.youtube.com/channel/UCPDNZZQOlPKYnL64i9cCXFA"): +li
    | Opeth (tópico)
  a(href="https://www.youtube.com/channel/UC3qtU6WmMaG6CSAjSJX4bNQ"): +li
    | OSI (tópico)
  a(href="https://www.youtube.com/channel/UCAUB8xZmHho16u6GKlnLhXA"): +li
    | Perfect Circle (tópico)
  a(href="https://www.youtube.com/channel/UCSiPjfAJBgbFlIUsxOWpK0w"): +li
    | Pomplamoose
  a(href="https://www.youtube.com/channel/UCc3TEf15ldupda3ifbVzNMA"): +li
    | Porcupine Tree (tópico)
  a(href="https://www.youtube.com/channel/UCKoPX4WugZyfKty8NE7kqiQ"): +li
    | Riverside (tópico)
  a(href="https://www.youtube.com/channel/UC-9mlH6az1Q_XUP3fw1N4Fg"): +li
    | Steven Wilson
  a(href="https://www.youtube.com/channel/UCaCZrFDymvozBTZOP-BY2kQ"): +li
    | Storm Corrosion (tópico)
  a(href="https://www.youtube.com/channel/UCW6FSIkA04g7pBvMXlnaKqg"): +li
    | Tool (tópico)
