.col-md-4
  .list-group
    h3.mg-title.list-group-item.active Mapa
    a.list-group-item.small(href="/") Início
    a.list-group-item.small(href="/about.html") Sobre
    a.list-group-item.small(href="/copying.html") Licença
    a.list-group-item.small(href=public.montegasppa.blog.url)
      != public.montegasppa.blog.title
    a.list-group-item.small(href=public.kodumaro.blog.url)
      != public.kodumaro.blog.title
    a.list-group-item.small(href=public.vortaro.url)
      != public.vortaro.title
    a.list-group-item.small(href=public.misc.url)
      != public.misc.title
