img.pull-right(src=image alg="T.E.A.")

p.mg-first Hoje é o #[=""]
  a(href="https://www.calendarr.com/brasil/dia-mundial-da-conscientizacao-do-autismo/")
    | Dia Mundial da Conscientização do Autismo
  | , e pergunto: o que temos em mãos? #[=""]
  a(href="https://www1.folha.uol.com.br/equilibrioesaude/2018/04/terapia-caseira-antiautismo-a-base-de-dioxido-de-cloro-traz-riscos.shtml")
    | Pais criminosos dando alvejante para os filhos beberem
  | , #[=""]
  a(href="http://www.bbc.com/portuguese/geral-40663622") movimento anti-vacina
  |  e estudos que objetivam normalizar as pessoas.

p Isso tudo me assusta bastantes, principalmente porque o ponto em comum entre
  |  todas essas barbaridades é a busca do ser humano por normalidade, o
  |  desrespeito (e até #[strong medo]) às diferenças. Tudo o que foge à caixa
  |  limitante da normalidade é tratado como doença: homossexualidade,
  |  neurodiversidade, até mesmo etnia e orientação política chegam a ser vistas
  |  como diferenças a serem eliminadas.

p O nome desse tipo de pensamento é #[=""]
  a(href="https://www.infoescola.com/genetica/eugenia/"): strong eugenia
  | .

p #[em Curar] o autismo significa eliminar parte do que faz de mim quem eu sou,
  |  #[strong destruir parte de meu filho]. A busca por eugenia significa
  |  transformar todos em robôs irracionais – não no sentido de não poderem
  |  raciocinar, mas no sentido de serem incapazes de ter abordagens laterais.

p #[strong Pensamento na caixa], não suporta o diferente.

p Uma prova desse preconceito eugenista está na #[=""]
  a(href="https://www.calendarr.com/brasil/dia-mundial-da-conscientizacao-do-autismo/")
    | própria página do Calendarr
  | , na frase: “com o intuito de alertar as sociedades e governantes sobre esta
  |  #[u(title="Autismo NÃO é doença!"): em doença], ajudando a derrubar
  |  preconceitos…” O primeiro preconceito é tratar autismo como doença.

p Assisti a #[=""]
  a(href="https://www.youtube.com/watch?v=Y-P6-z296eQ") reportagem do Fantástico
  |  e, apesar das pesquisas sejam perfeitamente válidas, o foco continua sendo
  |  mutilar a neurodiversidade, transformando o diferente em neurotípico.

p Um exemplo de como a eugenia permeia as pesquisas é como #[=""]
  a(href="https://twitter.com/Montegasppa/status/975109455401619456") as pessoas
    |  extrapolam a resposta imune ao glúten de alguns autistas
  |  pra uma suposta característica da condição.

p Ou como o pesquisador cita o fato de 30% dos autistas serem não-verbais como
  |  uma característica comum da condição. Sejamos lógicos: se 30% são
  |  não-verbais, então #[=""]
  strong 70% (muito mais da metade) têm capacidade de comunicação
  | , não podendo daí a não-verbalidade ser definida como uma característica do
  |  autismo. O que se pode dizer é que os autistas têm 30% de chance de não se
  |  comunicarem.

p Esses pequenos preconceitos, aparentemente inofencivos, estão intimamente
  |  vinculados à eugenia que permeia nossa cultura de tipificação.

p A #[strong conscientização] (objetivo da data) é a verdadeira cura. Precisamos
  |  abrir mão das ideias de perfeição para criarmos uma sociedade mais justa
  |  e inclusiva – não apenas para neurodiversos, mas também para todas as
  |  pessoas que sofrem discriminação: negros, homossexuais, ǻrabes, mulheres,
  |  índios, deficientes, etc.
