include ../../../_widgets/list-group-item.pug

img.pull-right(src=image alt="𝄞")

p.mg-first Vou dar uma pincelada sobre escalas anemitônicas e semitônicas,
  |  portanto esta será uma postagem muito sucinta. Os exemplos serão dados
  |  usando dó como nota de descanço, portanto façam as transposições que
  |  desejarem.

p Recomendo que, ao ler este artigo, tente executar cada uma das escalas,
  |  ascendente e descendentemente, depois brinque com a escala para
  |  familiarizar-se.


h3 Escalas anemitônicas

p Escalas anemitônicas são escalas que #[strong não] possuem intervalo de
  |  semitom. São em geral escalas de difícil execução, pois geralmente carecem
  |  de gravidade.

p O primeiro exemplo de escala anemitônica será a escala diminuta simples,
  |  formada pela simples sucessão de terças menores:

.text-center
  img(src="/img/escalas-a-e-s/diminuta-simples.png" alt="diminuta simples")
br/

p É uma escala bastante incomum e pouco usada, de poucas notas e sem gravidade.

p O segundo exemplo é a escala de segundas maiores:

.text-center
  img(src="/img/escalas-a-e-s/segundas.png" alt="segundas")
br/

p Essas duas escalas são extremamente teóricas e sem qualquer gravidade. Vamos a
  |  exemplos mais comuns.

p A terceira escala anemitônica aqui será a escala #[em yo], uma pentatônica
  |  japonesa muito usada, de baixa gravidade e sem indicação clara de modo
  |  (maior ou menor), porém muito expressiva e de sonoridade folclórica:

.text-center
  img(src="/img/escalas-a-e-s/escala-yo.png" alt="escala yo")
br/

p Uma escala relativa à #[em yo] é a pentatônica menor, muito usada no
  |  #[em rock]:

.text-center
  img(src="/img/escalas-a-e-s/pentatonica-menor.png" alt="pentatônica menor")
br/

p Nessa modulação, a pentatônica já apresenta um pouco mais de gravidade e
  |  definição modal.


h3 Escalas semitônicas

p Escalas semitônicas são aquelas que apresentam ao menos uma ocorrência de
  |  semitom, e são divididas em dois tipos: acossemitônicas e cossemitônicas.


h3 Escalas acossemitônicas

p São escalas que apresentam um ou mais intervalos de semitom não consecutivos.

p O exemplo mais simples de escala acossemitônicas é a escala diatônica:

.text-center
  img(src="/img/escalas-a-e-s/diatonica.png" alt="escala diatônica")
br/

p Um exemplo de escala acossemitônicas sem gravidade é a escala de diminutas
  |  sobrepostas, de difícil utilização, mas muito bonita se bem executada:

.text-center
  img(src="/img/escalas-a-e-s/diminutas-sobrepostas.png" alt="diminutas sobrepostas")
br/

p A próxima escala acossemitônicas é a escala #[em in] ou pentatônica
  |  #[em Sakura], também de origem japonesa, um pouco mais de gravidade que a
  |  escala #[em yo] e sem definição de modalidade:

.text-center
  img(src="/img/escalas-a-e-s/escala-in.png" alt="pentatônica Sakura")


h3 Escalas cossemitônicas

p São escalas que apresentam intervalos de semitom consecutivos, o que é chamado
  |  informalmente na música popular de “sequência cromática”.

p Podemos citar a escala superlócria #[em bebop]:

.text-center
  img(src="/img/escalas-a-e-s/superlocria-bebop.png" alt="superlócria bebop")
br/

p De fato #[strong todas] as escalas #[em bebop] são cossemitônicas.

p A última escala cossemitônicas deste artigo é a escala de #[em blues], que
  |  possui algumas peculiaridades de execução:

+ul
  +li A evolução da terça menor para a maior deve ser #[strong sempre] executada
    |  ascendentemente, mesmo quando a escala é executada descendentemente.
  +li A segunda deve ser evidada, executada apenas para dar mais expressividade
    |  eventualmente, geralmente em complemento à sexta.
  +li Devido a sua característica eventual, muitos autores não consideram a
    |  segunda parte da escala, mas apenas uma nota de apoio.
  +li O mesmo vale para a sétima sensível (7M), preferindo-se sempre a sétima da
    |  dominante. A sensível é usada como passagem entre a sétima da dominante e
    |  a tônica seguinte.

.text-center
  img(src="/img/escalas-a-e-s/blues.png" alt="escala de blues")


h3 Conclusão

p Nem de muito longe isso esgota o assunto, não passamos nem perto de citar a
  |  mínima amostragem de escalas anemitônicas e semitônicas.

p No entanto o objetivo deste artigo era demonstrar a diferença e as principais
  |  classificações, creio que isso foi alcançado.

p Provavelmente escreverei novo artigo com tablaturas das escalas aqui citadas.
