img.pull-right(src=image alt="Schecter C-8 Deluxe")

p.mg-first Complementando o #[=""]
  a(href=`${public.montegasppa.blog.url}2016/06/modos-gregos.html`)
    | artigo sobre modos gregos
  | , este foca em sua execução em violão e guitarra.

p Comentei no Facebook que escreveria um artigo que deveria tirar o trabalho de
  |  pseudo-professores. É este aqui.

p O motivo disso é que muitos professores de guitarra (não de música) continuam
  |  ensinando os modos gregos com desenhos (#[em shapes]) diferentes, como se
  |  fossem escalas diferentes, apesar de já admitirem que se tratam de modos da
  |  mesma escala diatônica. Pretendo aqui demonstrar #[strong por que] são
  |  modos da mesma escala e não escalas diferentes.

blockquote
  p Observação: os desenhos de braço de guitarra neste artigo são todos baseados
    |  na #[=""]
    a(href="https://en.wikipedia.org/wiki/Standard_tuning#Plucked_strings")
      | afinação padrão para violão de seis cordas
    | , que é E#[sub 2] A#[sub 2] D#[sub 3] G#[sub 3] B#[sub 3] E#[sub 4].


h3 Escola árabe: tetracordes e modo jônico

p Para facilitar a demonstração, vamos nos concentrar na visão árabe sobre a
  |  escala diatônica.

p Ao contrário dos gregos, que enxergam a escala como um todo, a escola árabe
  |  vê a escala diatônica como uma sobreposição de duas metades, cada uma
  |  composta por quatro graus e, por isso, chamadas tetracordes.

p A escala #[=""]
  a(href="https://en.wikipedia.org/wiki/Rast_(maqam)") Maqam Rast
  | , equivalente direta do modo jônico da escala diatônica, é entendida como
  |  dois tetracordes maiores, formados por tom-tom-semitom, sobrepostos,
  |  separados por um tom.

p Assim, o primeiro tetracorde é dó, ré, mi, fá:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/tetracorde-1.jpg" alt="c d e f")
br

p Para o segundo tetracorde, basta escorregar o dedo duas casa para cima e
  |  repetir o mesmo desenho, obtendo sol, lá, si, dó:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/tetracorde-2.jpg" alt="g a b c")
br

p Se repetirmos esse desenho – lembrando que a última nota do segundo tetracorde
  |  já a primeira nota da próxima execução do primeiro – teremos sempre mais
  |  uma oitava da escala diatônica:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/c-ionian.jpg" alt="c d e f g a b c")


h3 Mudando a tonalidade

p Uma das coisas bacanas dos instrumentos de corda é ser possível mudar o tom
  |  sem mudar o desenho do movimento das mãos, apenas alterando a região do
  |  braço do instrumento onde o desenho é executado.

p Por exemplo, execute o mesmo desenho duas casas abaixo e terá a mesma escala
  |  em si bemol maior:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/bes-ionian.jpg" alt="bes c d ees f g a bes")
br

p Mas voltemos ao dó maior jônico, pois servirá de referência para os demais
  |  modos.


h3 Modo dórico

p O modo dórico pode ser entendido como a escala diatônica executada usando o
  |  segundo grau do modo jônico como descanso.

p Ou seja: o ré menor dórico é #[strong exatamente] igual ao dó maior jônico,
  |  apenas usando o ré como descanso. Isso significa que podemos fazer #[=""]
  strong exatamente
  |  o mesmo desenho:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/dm-dorian.jpg" alt="d e f g a b c d")
br

p Para usar outro tom, basta executar o mesmo desenho em outra região do braço.
  |  Dó menor dórico, por exemplo, é exatamente igual ao si bemol maior jônico,
  |  apenas usando o dó como grau de descanso.


h3 Modo frígio

p O modo frígio é a escala diatônica executada usando o terceito grau do modo
  |  jônico como descanso.

p Isso significa que mi menor frígio é indêntico ao dó maior jônico, usando o mi
  |  como nota de descanso.

.text-center
  img(src="//cacilhas.info/img/modos-gregos/em-phrygian.jpg" alt="e f g a b c d e")
br

p As mesmas regras citadas acima valem aqui, como para todos os modos.


h3 Modo lídio

p O modo lídio usa o quarto grau do modo jônico como descanso, ou seja, a escala
  |  fá maior lídia é idêntica ao dó maior jônico, usando o fá como descanso:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/f-lydian.jpg" alt="f g a b c d e f")
br

p Repare que até agora – e para os demais modos – estamos usando #[=""]
  strong exatamente
  |  o mesmo desenho, apenas mudando o grau de descanso.


h3 Modo mixolídio

p O modo mixolídio, famoso por sua sétima da dominante, é exatamente o modo
  |  jônico, mas usando seu quinto grau como descanso – ou, no linguajar
  |  técnico, #[=""]
  strong modulada pela dominante
  | .

p Assim o sol maior mixolídio equivale ao dó jônico:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/g-mixolydian.jpg" alt="g a b c d e f g")


h3 Modo eólico

p Um dos mais belos modos gregos é o relativo menor, chamado modo eólico, que
  |  nada mais é que a diatônica modulada pela relativa, ou seja, pelo sexto
  |  grau em relação ao modo jônico.

p Então o lá menor eólico equivale ao dó maior jônico:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/am-aeolian.jpg" alt="a b c d e f g a")


h3 Modo lócrio

p Por último temos o modo artificial lócrio, que consiste na diatônica modulada
  |  pelo sétimo grau em relação ao modo jônico.

p Isso significa que o si menor lócrio (ou si diminuto lócrio para alguns)
  |  consiste no dó jônico usando o si como nota de descanso:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/bm-locrian.jpg" alt="b c d e f g a b")


h3 Conclusão

p O desenho usado aqui foi apenas ilustrativo, por ser o mais simples de ser
  |  estendido, tanto para os agudos quanto para os graves, mas qualquer outro
  |  desenho pode ser usado. Conhecendo a posição das notas da escala diatônica
  |  ao longo de todo o braço do violão ou guitarra, é possível imediatemente
  |  executar #[strong todos] os modos gregos, sem a necessidade de reaprender
  |  a mesma escala pra cada um dos sete modos.


h3 Bônus: escala superlócria

p A escola superlócria é uma #[=""]
  a(href=`${public.montegasppa.blog.url}2016/06/escalas-exoticas-c.html`)
    | escala exótica
  | , ou seja, sem equivalente na diatônica por simples modulação, mas ainda
  |  assim fortemente aparentada do modo jônico.

p A escala superlócria equivale ao modo jônio aumentando sua tônica em meio tom.

p Ou seja, a escala superlócria em dó sustenido menor é muito parecida com o
  |  dó maior jônico, apenas alterando seu grau principal:

.text-center
  img(src="//cacilhas.info/img/modos-gregos/cis-superlocrian.jpg" alt="cis d e f g a b cis")
