include ../../../_includes/list-group-item.pug

img.pull-right(src="/img/clave-sol.jpg" alt="")

br/

p.mg-first Dando continuidade ao artigo #[=" "]
  a(href=`${public.montegasppa.blog.url}2016/07/rock-is-dead.html`)
    em Rock is dead
  | , segue outra lista de canais interessantes de música #[strong viva]:

br/
br/

+ul
  a(href="https://www.youtube.com/channel/UCyjuFsbclXyntSRMBAILzbw"): +li
    | 2Cellos
  a(href="https://www.youtube.com/channel/UCBvvDkUutlYUwXRGYKSfDNQ"): +li
    | Arandu Arakuaa
  a(href="https://www.youtube.com/channel/UCHyP2ptJtiqXZTN6RIwkIdA"): +li
    | Blackfield (tópico)
  a(href="https://www.youtube.com/channel/UCcw4bbvUIIvasrvHf5yqddA"): +li
    | Caravela Escarlate
  a(href="https://www.youtube.com/channel/UCtGG8ucQgEJPeUPhJZ4M4jA"): +li
    | Chris Hadfield
  a(href="https://www.youtube.com/user/OfficialCoheed"): +li
    | Coheed and Cambria
  a(href="https://www.youtube.com/channel/UCBWBe4obT-4JiJgLA0eSqHA"): +li
    | Computer vs. Banjo (tópico)
  a(href="https://www.youtube.com/channel/UCbI1O6bOZWPsgCwf7ljy4yw"): +li
    | Demians (tópico)
  a(href="https://www.youtube.com/channel/UCVMVCihjegsohocVvNZVeEg"): +li
    | Earthside
  a(href="https://www.youtube.com/user/ElectricGoatCombo"): +li
    | Electric Goat Combo
  a(href="https://www.youtube.com/channel/UCIbLzksmAZOuuEecgoAbzTg"): +li
    | Fates Warning (tópico)
  a(href="https://www.youtube.com/channel/UCXM19wtEMEmBe1TrAfY45Dw"): +li
    | Hyperstory (tópico)
  a(href="https://www.youtube.com/channel/UCXuc4N_UKi5IXNGtHZY8qQA"): +li
    | Jack Conte
  a(href="https://www.youtube.com/channel/UC90Q9PtcwCXnhfoQT8KC5cA"): +li
    | Mostly Autumn (tópico)
  a(href="https://www.youtube.com/channel/UCvi-Fq5RuWP2HeOM7U0xgIw"): +li
    | My Terrible Friend
  a(href="https://www.youtube.com/channel/UCjid-uZZE56XqI6dmhrsqTQ"): +li
    | Project RnL
  a(href="https://www.youtube.com/results?search_query=robert+fripp+string+quintet"): +li
    | Robert Fripp String Quintet
  a(href="https://www.youtube.com/channel/UC1rNRRr08Ao5iE9j3ZgMxiQ"): +li
    | Spock’s Beard (tópico)
  a(href="https://www.youtube.com/user/VioletaDeOutonoBand"): +li
    | Violeta de Outono
  a(href="https://www.youtube.com/channel/UC6S020pVnm_8KwzJkCSvjJA"): +li
    | Zack Kim (tópico)
