img.pull-right(src=image alg="Enlightenment")

p.mg-first The beauty is white. Accept it. You have to know the worldwide
  |  society is white-driven. Who wants to get in on it must try to be white…
  |  emotionally, psychologically, physically…

p The black beauty is #[strong subversive]. If you won’t accept it, you’ll keep
  |  trying to whiten the black in order to call it #[em beautiful].

p The beauty is straight, the gay is subversive.

p The beauty is hetero, the sexual freedom is subversive.

p The beauty is normal, the exceptional is subversive.

p The beauty is typical, the atypical is subversive.

p The beauty is stupid, the wise is subversive.

p The beauty is male, the woman is subversive.

p The beauty is unaware, the knowledge is subversive.

p The beauty is narrow, the consciousness is subversive.

p The beauty is mean, the kindness is subversive.

p The beauty is shallow, the deep is subversive.

p The beauty is selfish, the altruism is subversive.

p The beauty lies on the Superego’s tyranny, the shadow is subversive.

p
  em Il buono, il brutto, il cattivo.
  | &nbsp;
  strong Embrace the SUBVERSION.

+medium-link
