<script language="javascript">
//<@[CDATA[
	document.title += " :: Apresentação";
//]]></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="mg-title">Apresentação</h2>
    </div>
    <div class="panel-body">
        <p class="mg-first">
            Meu nome é ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας e este é
            meu <em>site</em> pessoal.
        </p>
        <p>
            Minha intenção neste espaço é concentrar coisas de minha
            extinta página, como Konsulta Vortaro e meu trabalho
            musical, e trazer meu <em>blog</em>
            <a href="http://montegasppa.blogspot.com.br/">Reflexões de
            Monte Gasppa e Giulia C.</a> para cá.
        </p>
        <p>
            Também pretendo <em>reblogar</em> as publicações do
            <a href="http://kodumaro.blogspot.com.br/">Kodumaro</a>
            aqui, sem desativar o <em>blog</em> original.
        </p>
        <p>
            Aos poucos irei preenchendo as lacunas aqui e em breve
            estarei com o <em>site</em> ressuscitado!
        </p>
    </div>
</div>
