<div class="col-md-4">
    <div class="list-group">
        <h3 class="mg-title list-group-item active">Mapa</h3>
        <a class="list-group-item small" href="/">Home</a>
        <a class="list-group-item small" href="/?url=/about">Apresentação</a>
    </div>
</div>

<div class="col-md-4" role="button"
     onclick="javascript:window.location = '/?url=/about';">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="mg-title">Apresentação</h3>
        </div>
        <div class="panel-body">
            <p class="lead">Sobre este <em>site</em>.</p>
        </div>
    </div>
</div>
