<script src="/js/site-map.js"></script>

<div class="col-md-4">
    <div class="list-group">
        <h3 class="mg-title list-group-item active">Mapa</h3>
        <a class="list-group-item small" href="/">Início</a>
        <a ng-repeat="page in controller.getSiteMap()"
           class="list-group-item small" ng-href="{{page.url}}"
           ng-bind-html="page.title | trusted"></a>
    </div>
</div>

<a ng-repeat="page in controller.getHighlight()" ng-href="{{page.url}}"
     class="col-md-4 mg-nou" role="button">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="mg-title" ng-bind-html="page.title | trusted"></h3>
        </div>
        <div class="panel-body">
            <p class="lead" ng-bind-html="page.content | trusted"></p>
        </div>
    </div>
</a>
