img.pull-right(src=image alt="Think")

p.mg-first I’ve read conflicting news about Covid-19 protocols, mostly
  |  contradicting #[=""]
  a(href="https://www.who.int/") WHO
  | ’s official reports. I decided to collect and share some data.

+ul

  a(href="https://www.who.int/news-room/detail/04-07-2020-who-discontinues-hydroxychloroquine-and-lopinavir-ritonavir-treatment-arms-for-covid-19")
    +li
      | WHO accepted the recommendation from the Solidarity Trial’s
      |  International Steering Committee to #[strong discontinue] the trial’s
      |  #[strong hydroxychloroquine] and the lopinavir/ritonavir arms.

  a(href="https://www.nejm.org/doi/full/10.1056/NEJMoa2016638")
    +li University of Minesotta’s study concludes the #[=""]
      strong hydroxychloroquine did not prevent illness
      |  compatible with Covid-19.

  a(href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(20)31180-6/fulltext")
    +li The Lancet retracted the chloroquine multinational registry analysis,
      |  #[strong NOT because some data bias], but due to insufficient
      |  #[strong public] data (most data were #[strong proprietary]). Then WHO
      |  went onto new studies.

  a(href="https://www.medrxiv.org/content/10.1101/2020.06.22.20137273v1.full.pdf")
    +li Dexamethasone seems to have positive effects on preliminary reports.

  a(href="https://www.tandfonline.com/doi/full/10.1080/13102818.2020.1775118")
    +li Ivermectin has being performed well against Covid-19.

  a(href="https://noticias.uol.com.br/ultimas-noticias/reuters/2020/05/18/a-oms-pazuello-diz-que-brasil-ajusta-protocolo-contra-covid-19-com-base-em-evidencias-e-nao-cita-crise.htm"
    title="Portuguese article (pt-BR)")
    +li Brazilian interim Health Minister, Eduardo Pazuello,
      |  claimed the Brazilian government has more property to deal with the
      |  pandemic than the WHO. 🤦

  a(href="https://jornalnoroeste.com.br/noticia/saude/live-de-alexandre-garcia-com-medicos-ja-teve-mais-de-1-1-milhao-de-visualizacoes"
    title="Portuguese article (pt-BR)")
    +li Brazilian (again) journalist Alexandre Garcia showed a live with
      |  physicists talking about a successful empirical prophylaxis including
      |  ivermectin, vitamin D, zinc, hidroxychloroquine, and some other
      |  medicines. However, the journalist insisted in attaching the results
      |  exclusively to the ivermectin, while some Bolsominion physicists did
      |  it to the hidroxychloroquine, despite all chemical interactions and
      |  human body’s processes.

  a(href="https://www.bbc.com/news/world-us-canada-52407177")
    +li Should I mention Trump?

p We’re witnessing a research #[=""]
  u(title="I like this word (“milieu”), I just can’t say it.") milieu
  | ’s #[=""]
  a(href="https://www.statnews.com/2020/07/06/data-show-panic-and-disorganization-dominate-the-study-of-covid-19-drugs/")
    | great panic
  | , leading to a wide misinformation.

+medium-link
