@font-face
  font-family "Default Fancy"
  src url("/misc/fonts/default-fancy.ttf") format("truetype"),
      url("/misc/fonts/default-fancy.woff") format("woff"),
      url("/misc/fonts/default-fancy.woff2") format("woff2")
  font-weight normal
  font-style normal


$alert_color = #bbbb55
$link_color = #337ab7
$grid_color = #dddddd


body
  font-family Roboto, Helvetica, sans-serif;


code
  font-family "Roboto Mono", monospace;


blockquote
  font-family Kavivanar, Futura, Arial, sans-serif
  font-size small
  font-weight normal

  strong
    font-weight bolder


summary
  padding-bottom 8pt

  &::-webkit-details-marker
    display none

  &:before
    content "+ "
    color $link_color
    font-family monospace
    font-weight bold

  .badge
    float right

details[open] > summary:before
  content "- "


.mg-title
  &:first-letter
    font-family "Default Fancy"


.mg-first
  &:first-letter
    font-family "Default Fancy"
    font-size 180%
    vertical-align text-top
    float left
    margin-right 8px


.mg-highlighted
  &:hover
    text-decoration none

  p.lead
    min-height 5em !important


.mg-alert
  color $alert_color


.mg-sc
  font-variant small-caps


.mg-close
  letter-spacing -1px


.mg-box-grid
  td
    border-right 1px solid $grid_color !important


.mg-grid
  td
    border-right 1px solid $grid_color !important

    &:last-child
      border-right none !important


.mg-hidden-link
  color white

  &:hover
    color $link_color


.collapse-expand-buttons
  padding-left 2pt


.quote
  font-family Kavivanar, Futura, Arial, sans-serif
  margin 2em 2em 2em 2em

  strong
    font-weight bolder


#footer
  position fixed
  left 0px
  bottom 0px
  width 100%
  height 35px !important
  padding 8px 12px 0px 12px
  text-align right

.licon
  top 2px
  padding 2px 2px 2px 2px
  position relative
  display inline-block
  font-style normal !important
  font-size 12px !important
  width 16px
  height 16px

.icon-asd
  top 0
  padding 2px 4px 2px 0px
  color blue

  &:before
    content "\1F499"

.icon-cacilhas
  background-image url("/img/icons/favicon.ico")

.icon-educaedu
  background-image url("/img/icons/educaedu.ico")

.icon-he
  background-image url("/img/icons/highexistence.ico")

.icon-kodumaro
  background-image url("/img/icons/kodumaro.ico")

.icon-montegasppa
  background-image url("/img/icons/montegasppa.ico")

.icon-patreon
  background-image url("/img/icons/patreon.ico")

.icon-wordpress
  background-image url("/img/icons/wordpress.ico")
