@font-face
  font-family "Default Fancy"
  src url("/misc/fonts/default-fancy.ttf") format("truetype"),
      url("/misc/fonts/default-fancy.woff") format("woff"),
      url("/misc/fonts/default-fancy.woff2") format("woff2")
  font-weight normal
  font-style normal


$alert_color = #bbbb55
$link_color = #337ab7
$grid_color = #dddddd
$hover_bg_color = #f5f5f5
$divider = "/img/divider.gif"


body
  font-family Roboto, Helvetica, sans-serif


code
  font-family "Roboto Mono", monospace


tt
  font-family "Roboto Mono", monospace


blockquote
  font-family Kavivanar, Futura, Arial, sans-serif
  font-size small
  font-weight normal

  strong
    font-weight bolder


hr
  display block
  border none
  height 10px
  bg-size cover auto
  background-image url($divider)
  background-repeat no-repeat
  background-position center


summary
  padding-bottom 8pt

  &::-webkit-details-marker
    display none

  &:before
    content "+ "
    color $link_color
    font-family monospace
    font-weight bold

  .badge
    float right

details[open] > summary:before
  content "- "


.mg-title
  &:first-letter
    font-family "Default Fancy"


.mg-first
  &:first-letter
    font-family "Default Fancy"
    font-size 180%
    vertical-align text-top
    float left
    margin-right 8px


.showcase
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-wrap wrap
  -ms-flex-wrap wrap
  flex-wrap wrap
  overflow hidden

  .mg-highlighted
    min-width 360px !important
    float left
    flex-grow 1
    display -webkit-flex
    display -ms-flexbox
    display flex

    &:hover
      text-decoration none

    .panel-default:hover
      background-color $hover_bg_color

    p.lead
      min-height 5em !important
      text-align justify


.panel-body p
      text-align justify

.tags-map
  select:hover
    background-color $hover_bg_color

.text-center
  text-align center !important

.text-right
  text-align right !important

.mg-alert
  color $alert_color


.mg-sc
  font-variant small-caps


.mg-close
  letter-spacing -1px


.mg-box-grid
  td
    border-right 1px solid $grid_color !important


.mg-grid
  td
    border-right 1px solid $grid_color !important

    &:last-child
      border-right none !important


.mg-hidden-link
  color white

  &:hover
    color $link_color


._404
  background-image url('/img/404.jpg')
  background-repeat no-repeat
  background-position center
  background-size 348px 214px
  margin 0px 0px 0px 0px
  padding 0px 0px 0px 0px
  width 348px !important
  height 214px !important

.collapse-expand-buttons
  padding-left 2pt


.quote
  font-family Kavivanar, Futura, Arial, sans-serif
  margin 2em 2em 2em 2em

  strong
    font-weight bolder


#footer
  position fixed
  left 0px
  bottom 0px
  width 100%
  height 35px !important
  padding 8px 12px 0px 12px
  text-align right


.hoverable
  .hover
    display: none
  &:hover
    .normal
      display: none
    .hover
      display: inline


.licon
  top 2px
  padding 2px 2px 2px 2px
  position relative
  display inline-block
  font-style normal !important
  font-size 12px !important
  width 16px
  height 16px

.icon-asd
  top 0
  padding 2px 4px 2px 0px
  color blue

  &:before
    content "\1F499"

.icon-cacilhas
  background-image url("/img/icons/favicon.ico")

.icon-educaedu
  background-image url("/img/icons/educaedu.ico")

.icon-fridas
  background-image url("/img/icons/todas-fridas.ico")

.icon-guitar
  top 0
  padding 2px 4px 2px 0px

  &:before
    content "\1F3B8"

.icon-he
  background-image url("/img/icons/highexistence.ico")

.icon-kodumaro
  background-image url("/img/icons/kodumaro.ico")

.icon-montegasppa
  background-image url("/img/icons/montegasppa.ico")

.icon-music
  top 0
  padding 2px 4px 2px 0px

  &:before
    content "\1F3B6"

.icon-hondaj
  background-image url("/img/icons/hondaj.ico")

.icon-patreon
  background-image url("/img/icons/patreon.ico")

.icon-prognose
  background-image url("/img/icons/patreon.ico")

.icon-rock
  top 0
  padding 2px 4px 2px 0px

  &:before
    content "\1F918"

.icon-saekla
  background-image url("/img/icons/saekla.ico")

.icon-wordpress
  background-image url("/img/icons/wordpress.ico")
