$code = #cc6600
$badge_color = $code


body
  background-image url(/img/kodumaro-bg.jpg) !important
  background-repeat repeat !important
  background-attachment fixed !important
  background-position initial !important
  background-origin initial !important
  background-clip initial !important


.panel-heading
  background-image url(/img/kodumaro-title-bg.png) !important
  background-repeat repeat !important


h3
  color $code !important


li,
p,
tr
  code
    color $code !important
    background-color inherit !important


h3,
a
  code
    color inherit !important
    background-color inherit !important


.tag
  color: black !important
  padding: 0px 2px 0px 2px !important
  border: 1px solid gray !important
  border-radius: 5px !important


.label-default
  background-color $badge_color !important


.badge
  background-color: $badge_color !important
