@font-face
  font-family "Default Fancy"
  src url("/fonts/default-fancy.ttf") format("truetype"),
      url("/fonts/default-fancy.woff") format("woff"),
      url("/fonts/default-fancy.woff2") format("woff2")
  font-weight normal
  font-style normal

body
  font-family Futura, "Trebuchet MS", Arial, sans-serif
  font-size 10pt
  font-weight normal
  background-color #97b3c9
  color white
  text-shadow #4b5964 1px 1px 1px

.title
  width 100%
  height 64pt
  text-indent 100%
  white-space nowrap
  overflow hidden
  background-image url(/misc/vortaro.png)
  background-position center top
  background-repeat no-repeat

.vortaro
  text-align center
  padding 0% 20% 0% 20%
  width 60%
  height 30em

  iframe
    border none
    width 100%
    height 30 em

.readme
  margin 20pt 10% 0% 10%
  width 80%
  border-style outset 2pt

  h1,
  h2
    &:first-letter
      font-family "Default Fancy"

  h1
    text-align center

  a
    text-decoration none
    color cyan

    &:hover
      text-decoration underline
