p.mg-first No #[=""]
  a(href=`${public.montegasppa.blog.url}2017/04/oito-cordas.html`) último artigo
  |  comentei sobre a afinação que pretendia fazer na guitarra de oito cordas.
  |  Aqui vou fazer uma revisão.

p A afinação terminou assim:

table.table
  thead
   tr
     th 8ª
     th 7ª
     th 6ª
     th 5ª
     th 4ª
     th 3ª
     th 2ª
     th prima

  tbody
    tr
      td 49Hz
      td 65,4Hz
      td 98Hz
      td 130,8Hz
      td 196Hz
      td 261,6Hz
      td 329,6Hz
      td 392Hz

    tr
      td [G1]
      td [C2]
      td [G2]
      td [C3]
      td [G3]
      td [C4]
      td [E4]
      td [G4]

    tr
      td .080"
      td .046"
      td .034"
      td .024"
      td .016"
      td .010"
      td .009"
      td .008"

img.pull-right(src=image alt="Schecter C-8 Deluxe")

p O motivos para esta afinação continuam com pouca mudança: ➀ eu aproveitava
  |  muito pouco os graves proporcionados pelas cordas em [E1] e [A1]; ➁ percebi
  |  que é bastante chato encontrar-me nas variações de casas do desenho das
  |  escalas ao longo de oito cordas.

p Eu pretendia inverter as duas cordas mais agudas, mantendo os pares de cordas
  |  dó-sol, jogando o mi para a prima, mas isso inviabilizou alguns arpejos.

p O resultado é uma combinação de facilidade melódica com recursos harmônicos
  |  interessantes.

p Melodicamente falando, as cordas 7ª-6ª, 5ª-4ª, 3ª-prima formam pares com
  |  oitavas completas, enquanto a 8ª corda complementa o par mais grave com
  |  meia escala para notas de passagem.

p Harmonicamente todas os graus do acorde maior ficam à mão com apenas uma
  |  pestana, onde a 2ª corda facilita a construção de acordes maiores. Além
  |  disso, as notas complementares e de passagem ficam todas sempre duas casas
  |  a frente do acorde atual.

p Isso ainda torna muito conveniente o uso das pentatônicas #[=""]
  a(href="https://en.wikipedia.org/wiki/Yo_scale") Yo
  |  e #[=""]
  a(href="https://pt.wikipedia.org/wiki/Escala_pentatônica#Pentat.C3.B4nica_menor")
    | menor
  | , que são a base mecânica para as escalas diatônicas e algumas exóticas.

p O único inconveniente é que, na corda mais grave de cada relação de par em
  |  quintas, é preciso alcançar casas mais distantes para algumas notas, como
  |  o fá sustenido a partir do dó. No entanto o problema é gerenciável.

p Estas são minhas primeiras impressões. Já estou à vontade para criar novas
  |  melodias e harmonias aproveitando as peculiaridades dessa afinação,
  |  a #[=""]
  a(href="https://en.wikipedia.org/wiki/Open_C_tuning") #[em open]-C
  | , falta agora desenvolver memória muscular para tocas as músicas antigas
  |  da #[=""]
  a(href="https://www.patreon.com/saekla") banda
  | .
