img.pull-right(src="/img/schecter-c8.jpg" alt="Schecter C-8 Deluxe")

p.mg-first Num canal do #[=""]
  a(href="https://www.youtube.com/") YouTube
  |  sobre violão e guitarra, vi uma aula sobre o #[=""]
  a(href="https://pt.wikipedia.org/wiki/Bolero_(Ravel)") Bolero de Ravel
  |  no violão. Fiquei curioso e resolvi assistir.

p O professor começou falando sobre a estrutura do Bolero, sua repetição ao
  |  longo dos instrumentos.

p Então, na hora de começar a tocar, ele disse que, como não há contraponto de
  |  melodias diferentes, ele ia fazer uma “versão própria” do Bolero e
  |  começou a tocar no violão.

p Soava a qualquer coisa menos Bolero de Ravel. Na verdade soava a qualquer
  |  demonstração de guitarrista por aí. A #[em soul], #[em rock], #[em pop],
  |  qualquer coisa menos o Bolero.

p Então lembrei do perfeito #[=""]
  a(href="https://youtu.be/QNzDH1Xib9U") vídeo
  |  do #[=""]
  a(href="https://www.youtube.com/channel/UC8xkNdpZU1g2RkL-ao7HOGA") Marcos De Ros
  |  (recomendo) sobre #[=""]
  a(href="https://www.youtube.com/channel/UCiyDXNsExWcKTDv_EsBJ_Dw") Allan Holdsworth
  | .

p O que De Ros pontuou é que Holdsworth foi importantíssimo para a história da
  |  guitarra porque ele não tocava como um guitarrista. Suas influências
  |  melódicas foram os sopros, o que eleva sua música acima de qualquer outro
  |  guitarrista.

p O ponto em questão é que a grande maioria dos guitarristas são guitarristas
  |  antes de serem musicistas: aprendem a #[strong tocar guitarra] em vez de
  |  #[strong tocar música]. O que distingue Allan Holdsworth é que ele foi
  |  musicista antes de guitarrista.

p Este artigo é uma crítica aos guitarristas: você que está aprendendo a tocar
  |  guitarra, saia do mundinho pequeno de guitarristas, procure a música, a
  |  musicalidade. Fuja das aulas de guitarra e procure referências musicais em
  |  outros instrumentistas.
