script(async="async"
  src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

ins.adsbygoogle(
  style="display:inline-block;width:728px;height:90px;"
  data-ad-client=public.google.adSense
  data-ad-slot="7936078120")

script.
  (adsbygoogle = window.adsbygoogle || []).push({})
