iframe(
  src=`https://bandcamp.com/band_follow_button_deluxe/${public.bandcamp.id}`
  width=300
  height=56
  scrolling='no'
  frameboarder=0
  style='border: none; width: 100%; overflow: hidden;'
  allowtransparency=true
)
