meta(charset="utf-8")/
meta(http-equiv="X-UA-Compatibile" content="IE=edge")/
meta(http-equiv="Pragma" content="no-cache")/
meta(http-equiv="Cache-Control" content="no-cache")/
meta(name="viewport" content="width=device-width, initial-scale=1")/
meta(name="description" content="")/
meta(name="author" content=public.main.author)/
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Kavivanar")/
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto&subset=latin-ext")/
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:i,bold&subset=latin-ext")/
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Mono")/
link(rel="stylesheet" href="/css/bootstrap.min.css")/
link(rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css")/
link(rel="stylesheet" href="/css/bootstrap-theme.min.css")/
link(rel="stylesheet" href="/css/theme.css")/
link(rel="stylesheet" href="/css/cacilhas.css")/

- let shownTitle = (title || "").replace(/<[^>]+>/g, "")

block blog-head
  title #{public.main.title} !{shownTitle}
  link(rel="icon" href="/img/favicon.ico")/

script(src="/js/ie-emulation-modes-warning.js")
script(src="/js/jquery.min.js")
script(src="/js/handle-old-url.js")
script(src="/js/anchors.js")

include ./google.pug
