- var montegasppaArticles = []
- var kodumaroArticles = []
- var articles = []

each yearDir, yearSlug in public.montegasppa
  if yearDir && /^\d{4}$/.test(yearSlug)
    each monthDir, monthSlug in yearDir
      if monthDir && /^\d\d$/.test(monthSlug)
        each page, slug in monthDir
          unless page.hidden
            - var article = {}
            - article.url = public.montegasppa.blog.url + yearSlug + "/" + monthSlug + "/" + slug + ".html"
            - article.title = "Reflexões… :: " + page.title
            - article.content = page.content
            - article.release = new Date(page.release)
            - montegasppaArticles.push(article)
- montegasppaArticles.sort((a, b) => b.release - a.release)

each yearDir, yearSlug in public.kodumaro
  if yearDir && /^\d{4}$/.test(yearSlug)
    each monthDir, monthSlug in yearDir
      if monthDir && /^\d\d$/.test(monthSlug)
        each page, slug in monthDir
          unless page.hidden
            - var article = {}
            - article.url = public.kodumaro.blog.url + yearSlug + "/" + monthSlug + "/" + slug + ".html"
            - article.title = public.kodumaro.blog.title + " :: " + page.title
            - article.content = page.content
            - article.release = new Date(page.release)
            - kodumaroArticles.push(article)
- kodumaroArticles.sort((a, b) => b.release - a.release)

each i in [0, 1, 2, 3, 4]
  if montegasppaArticles[i]
    - articles.push(montegasppaArticles[i])
  if kodumaroArticles[i]
    - articles.push(kodumaroArticles[i])

each article in articles
  a(class=["col-md-4", "mg-highlighted"] href=article.url role="button")
    div(class=["panel", "panel-default"])
      .panel-heading
        h3.mg-title!= article.title
      .panel-body
        p.lead!= article.content
