.col-md-4
  .list-group
    h3(class=["mg-title", "list-group-item", "active"]) Mapa
    a(class=["list-group-item", "small"] href="/") Início
    a(class=["list-group-item", "small"] href="/about.html") Sobre
    a(class=["list-group-item", "small"] href="/copying.html") Licença
    a(class=["list-group-item", "small"] href=public.montegasppa.blog.url)!= public.montegasppa.blog.title
    a(class=["list-group-item", "small"] href=public.kodumaro.blog.url)!= public.kodumaro.blog.title
