include ../_widgets/list-group-item.pug

h3!= title

+ul
  each page in pages.sort((a, b) => b.release - a.release)
    a(href=`${page.path}.html`)
      +li
        small
          | [
          != moment(page.release).format('YYYY/MM')
          | ] #[=""]
          if page.path.includes('montegasppa')
            i.licon.icon-montegasppa
          else if page.path.includes('kodumaro')
            i.licon.icon-kodumaro
          else
            i.glyphicon.glyphicon-link
          | &nbsp;
        != page.title
