img.pull-right(src=image alt="Autistic head puzzle")

p.mg-first!= content

p In fact, I had ever known it: my mother found out when I was three, but she
  |  chose to pretend I’m not.

p Wise decision.

p At that time, autistic kids was hospitalised, or even tied to heaters or #[=""]
  a(href="https://www.smh.com.au/national/nsw/autistic-boy-died-are-being-bound-to-chair-and-showered-in-cold-water-court-20151111-gkwc17.html")
    | chairs
  | . My mother tried to stimulate my development by herself. She had no
  |  background, no resources, no specialised knowledge, but she tried.

p Thanks God I’m cognitively high gifted too, so my autism passed unnoticed.
  |  Otherwise, I’d be banging my head against the walls by now.

p Nevertheless, I’ve been victim of prejudice all my life long. People don’t
  |  realise I’m autistic, but they #[strong feel] something is #[em wrong]. I’m
  |  a freak, a nerd at best (formerly #[em nerd] didn’t have a positive
  |  connotation, like it has today). My own father used to say that he didn’t
  |  expect me to become anything great. He would like me to be an engineer, but
  |  he never think anything like that could come true.

p And I have beaten against the walls since forever. Every simple social task
  |  seems like a hard climb, a job interview almost never ends well. People
  |  think I can’t speak, that I’m not able to make me understood. I fail where
  |  someone less skilled succeeds. Every step I’ve done, I did harder than it
  |  is for others.

p And it still remains so.

p As a programmer, I #[em see] the program unlike anyone else: people mind the
  |  code; for me, the code is just a representation, the program actors’
  |  description. I literally #[em see] in my mind the program actors
  |  interacting, each one in its own spatial position and move, with its own
  |  color and weight, its physical interface that can fit or not into another
  |  actor’s interface.

p The upshot from my seeing way is that people simply can’t understand how I
  |  think – so they assume I can’t think (or I hardly think).

p A friend told me he thinks I’m sabotaging myself. It’s half true.

p After recurrent failures due to people find me a freak, I began to believe’em.

p Even so I keep trying. I have a good job, but I should be refusing job offers,
  |  and choosing better ones, not suffering about them. I hope someday I’ll
  |  find some place where I really fit.

+medium-link
