.text-center: img(src=image alt="Linear thought")

br/

p.mg-first
  a(href="https://www.ted.com/talks/temple_grandin_the_world_needs_all_kinds_of_minds")
    | Temple Grandin tells us
  |  about the different kinds of minds, unveiled by the Autism research.

p She talks about photo-realistic visual thinkers, pattern thinkers and the
  |  verbal mind (the most common). I’m definitely #[strong not] a verbal mind.

p I’m very good with patterns, I recognise patterns quickly, I solve math
  |  problems by using patterns approach instead of Arithmetic.

p Nonetheless I’m not fully a pattern thinker. I think in dimensions, shapes,
  |  weights and colours. Numbers are multidimensional weighted shapes, music
  |  and programming resources are too, each one having color and interface.

p My thoughts are not linear. I go back and forth several times, from side to
  |  side, top-down and back. When I’m writing I’m not linear: I wrote this very
  |  text revisiting and updating every part several times, from beginning to
  |  end. Even speaking I do so.

p That’s the main problem.

p Since I need multiple rounds over the same parts to conclude my speech, the
  |  traditional way to talk doesn’t work. My phrases come up unmeaning, the
  |  words don’t come easily.

p It’s a harsh problem even in my native language, hence in other languages it
  |  becomes totally disabling.

p That’s how my mind works, it’s not worse than others, and it’s useless trying
  |  to change it. Each one has the #[em modus operandi] of one’s own mind.
  |  Neurodiverse minds just are a way far different from the neurotypical ones
  |  – but unfortunately the society #[strong is] neurotypical and
  |  #[strong noninclusive].

+medium-link
