include ../../../_widgets/list-group-item.pug

p.mg-first The “state of art” of western musical scales are the #[=""]
  a(href="https://en.wikipedia.org/wiki/Bebop_scale") bebop
  |  ones. Beautiful and fulfilled, the bebop scales represent the pinnacle of
  |  tonal music.

p They consist of an heptatonic ♭7&nbsp;scale, plus the #[=""]
  a(href="https://en.wikipedia.org/wiki/Leading-tone") leading note
  | . Historically they are presented descending (eighth to first).

p The simpler bebop scale is the bebop Mixolydian, which is grounded on the
  |  diatonic scale’s #[=""]
  a(href="https://en.wikipedia.org/wiki/Mixolydian_mode") Mixolydian mode
  |  (Ⅷ, Ⅶm, ⅥM, Ⅴ, Ⅳ, ⅢM, ⅡM, Ⅰ) getting the extra leading note: Ⅷ, ⅦM,
  |  Ⅶm, ⅥM, Ⅴ, Ⅳ, ⅢM, ⅡM, Ⅰ.

p Looking up close, you can see that each degree pair starts with a note from
  |  the tonic #[=""]
  a(href="https://en.wikipedia.org/wiki/Major_seventh_chord") Δ chord
  | : Ⅷ / Ⅶm / Ⅴ / ⅢM / Ⅰ. Another remarkable feature is the chromatic
  |  passing from Ⅷ through ⅥM.

p The next bebop scale is a minor mode: the bebop Dorian. The #[=""]
  a(href="https://en.wikipedia.org/wiki/Dorian_mode") Dorian mode
  |  degrees are Ⅷ, Ⅶm, ⅥM, Ⅴ, Ⅳ, Ⅲm, ⅡM, Ⅰ, so its bebop version is: Ⅷ,
  |  ⅦM, Ⅶm, ⅥM, Ⅴ, Ⅳ, Ⅲm, ⅡM, Ⅰ.

h3 Gravity

p The great improvement bebop scales bring is the #[em gravity] increasing. For
  |  example, an amazing scale is the #[=""]
  a(href="https://www.all-piano-scales.com/melodic-minor-scale-modes/super-locrian-mode/f-super-locrian/")
    | super-Locrian
  |  exotic scale. It presents itself as Ⅷ, Ⅶm, Ⅵm, Ⅴ-, Ⅳ-, Ⅲm, Ⅱm, Ⅰ. But
  |  this incredibly beautiful scale has a weakness: lack of gravity. Our
  |  western ears simply can’t accept the tonic degree as ending.

p
It can be fixed simply adding the leading note, so the bebop super-Locrian is:
  |  Ⅷ, ⅦM, Ⅶm, Ⅵm, Ⅴ-, Ⅳ-, Ⅲm, Ⅱm, Ⅰ, and the problem is solved!

h3 Discernibleness

p Another problem happens to two scales: the #[=""]
  a(href="https://en.wikipedia.org/wiki/Phrygian_dominant_scale") Phrygian
    |  dominant scale
  |  (a.k.a. Freygish or #[em hitzaz]) and the minor harmonic scale.

p The Phrygian dominant scale comes from the #[=""]
  a(href="https://en.wikipedia.org/wiki/Phrygian_mode#Modern_Phrygian_mode")
    | Phrygian scale
  | , just raising the third degree: Ⅷ, Ⅶm, Ⅵm, Ⅴ, Ⅳ, ⅢM, Ⅱm, Ⅰ.

p The minor harmonic scale is produced from the #[=""]
  a(href="https://en.wikipedia.org/wiki/Aeolian_mode") Aeolian mode
  | , by raising the seventh degree: Ⅷ, ⅦM, Ⅵm, Ⅴ, Ⅳ, Ⅲm, ⅡM, Ⅰ.

p If you take a look at the #[=""]
  u(title="½ 1½ 1 1 ½ 1 1") intervals
  | , you may notice that they are the pretty same scale, so how to discern one
  |  from another?

p Simply by making them bebop!

+ul
  +li The Phrygian dominant scale leads to the so-called bebop
    |  Mixolydian&nbsp;♭9♭13: Ⅷ, ⅦM, Ⅶm, Ⅵm, Ⅴ, Ⅳ, ⅢM, Ⅱm, Ⅰ;
  +li The minor harmonic leads to the bebop Aeolian: Ⅷ, ⅦM, Ⅶm, Ⅵm, Ⅴ, Ⅳ,
    |  Ⅲm, ⅡM, Ⅰ.

p Then we got two different well-ended scales.

hr/

p Not even by far it would fully cover the subject, but I hope this post can be
  |  useful.

hr/

p:small Originally published on #[=""]
  a(href="https://medium.com/@cacilhas/bebop-scales-ce85fbb12574") Medium
  | .
