img.pull-right(src=image alt="Autism")

p.mg-first Sometime ago I read a curious text in a Facebook page, where the
  |  author was repeating two slogans: “autism without sentimentalism” and
  |  “I love my son, not his autism”. It’s so wrong that hurts.

p In order to break the path and understand the issue, first we must understand
  |  the autistic parents’ grief.

h3 The ideal kid deconstructing

p Every parent ideates their kids, how they’ll be, their choices, who they can
  |  become. However, that ideation is always an illusion: over our
  |  psychologically unarmed kids we project our own wishes and dreams, and we
  |  hope they are nothing but our continuance – who denies it just make it
  |  worse, lying to oneself, feeding this heinous behaviour.

p This unreal idea goes being deconstructed throughout all the children’s growth
  |  time long, becoming teenagers and finally adults later, when they arise
  |  against the psychological bondage, into a self identity.

h3 The grief

p In case of autistic kids, the parents can’t take the growth time to assimilate
  |  that the ideal kid doesn’t exist, that there’s a unique singular person in
  |  front of them.

p As soon as the parents get the autism prognosis, the ideal kid “dies” straight
  |  away, ’cause the neuropediatrician is telling them that their kid is rare,
  |  unique and singular, and will never reach their expectations, growing to be
  |  totally divergent.

p I repeat, it #[strong kills] the ideal son, leaving the parents along with
  |  that unique being, that they would take all growth time to know – and
  |  suddenly it all falls from the sky over them.

p Remains the Autism.

h3 My son: the Autism

p The fact is that the child and the autism are #[strong inseparable]: what we
  |  call “autism” is part of the child – more than that, #[the em main part]!
  |  It means the child is different, divergent, maybe even subversive (I hope
  |  so).

p
  strong There is no such thing as autism.
  |  We just give bounding names to what we don’t understand, to what scapes
  |  from our #[=""]
  a(href="http://erikengdahl.se/autism/isnt/") miserable normality box
  | .

p So, when someone says “I love my son, not his autism”, he (or she) doesn’t
  |  note he’s saying he loves that dead ideal son, for whom he mourns, but he
  |  doesn’t love the real son he got.

p Therefore, #[strong never] say something like that. If you feel like that, I
  |  recommend to revise your concepts and gonna see a psychologist.

p Perhaps being autistic helps me seeing it, but I can say unreservedly: #[=""]
  strong I love my whole son, including what people call autism.

hr/

p:small Originally published #[=""]
  a(href=`${public.montegasppa.blog.url}/2018/08/amo-meu-filho.html`) here
  | , then reblogged on #[=""]
  a(href="https://medium.com/@cacilhas/i-love-my-son-not-the-autism-%EF%B8%8F-bf0b419235f2")
    | Medium
  | .
