img.pull-right(src=image alt="Idea lamp")

p.mg-first We spend all life long trying to get more.

p We go for more money, more goods, more sex, more power… and the currency we
  |  use is #[strong time]. We sell time to get money to buy things.

p So we basically trade time for things.

p However, as time passes away, we realise that all we was going for has always
  |  been only more time, it’s all about time.

p Time to share, time to live. But the time simply flows away, like a river,
  |  while we are spending time in hope of getting time.

p Makes no sense.

p But we need to run out of time to figure it out – to miss the time.

p That’s why companies prefer young workers: they believe they have all the time
  |  in the world, and can spend some in trade of #[em more].

p What more? Our lifetime is extremely short, we have no extra time to trade.
  |  Elders know this, so leech companies don’t like’em.

p Don’t sell your time, don’t give your soul away.
