.text-center: img(src=image alt="Normal")

br/

p.mg-first The normality idea must be uprooted from the society, otherwise the
  |  human evolution will freeze, leading thereafter the human race to
  |  extinction in few generations.

p I don’t want my son to be #[em normal]. I want him to be active and to add to
  |  the mankind. The normality’s yield potential is far below from diversity’s
  |  one.

p Therefore he needs to be included. The inclusion depends on two factors:

ol
  li First on himself to understand and accept he is different, but it’s okay,
    |  no matter what #[em normal] people say.
  li Second on the society to accept the differences, the #[=""]
    a(href="https://en.wikipedia.org/wiki/Neurodiversity") diverseness
    | . It’s an everyday work of every one of us to change our prejudiced
    |  culture.

p I’m up into make grow a better son to the world, I hope the world is going to
  |  become a better place, where he’ll get the chance to be that better person.

hr/

p: small Originally published #[=""]
  a(href=`${public.montegasppa.blog.url}/2017/10/normalidade.html`) here
  | , then reblogged on #[=""]
  a(href=medium_url) Medium
  | .
