img.pull-right(src=image alt="Heim?")

p.mg-first Apenas gostaria de comunicar que, aos meus 43 anos de idade,
  |  finalmente perdi o respeito pela inteligência do ser humano.

p Não é um ato de rebeldia, mas de respeito próprio.

p Passei minha vida toda com vergonha de ser quem sou, autista (ou #[em nerd],
  |  como eu definia), alto-habilidoso cognitivo, arrogante. Escondi minha
  |  percepção o quanto pude (ao ponto de tentar #[=""]
  a(href=`${public.montegasppa.blog.url}/2017/12/entre-lobos.html`) esconder meu
    |  Q.I.
  |  na investigação com a psicóloga), tive medo, mas principalmente (reitero)
  |  #[strong vergonha].

p Fui ensinado a vida toda que eu deveria ser #[em normal], igual aos outros.
  |  Percebia as pessoas dizendo asneiras, mas me fazia de burro, pois se eu não
  |  concordasse (ou ao menos calasse), seria o #[em esquisito]. Se eu apontasse
  |  qualquer coisa errada, é porque eu sou arrogante, como se arrogância fosse
  |  sinônimo de presunção.

p Porém presunção é bem vista quando alimenta o senso comum.

p Até mesmo outros superdotados falam asneiras: raros são os AH cognitivos.
  |  Então se parte do princípio que, se o sujeito é um gênio matemático ou
  |  da medicina – ou seja, faz #[strong hiperfoco] nessas áreas – tem
  |  autoridade e propriedade para opinar sobre qualquer outro assunto. As
  |  pessoas #[em normais] batem palmas para maluco que não faz a menor ideia
  |  do que está falando, mas é “mais inteligente” e ainda assim reafirma a
  |  intuição comum.

p Um aviso aos navegantes: quando a pessoa é realmente inteligente naquele
  |  assunto, a tendência é que ela diga coisas sem sentido, que fogem ao senso
  |  comum, pois #[=""]
  strong o senso comum geralmente está errado
  | .

p Vide #[=""]
  a(href="https://www.biography.com/people/albert-einstein-9285408") Einstein
  | , #[=""]
  a(href="https://www.biography.com/people/erwin-schrdinger-9475545") Schrödinger
  | , #[=""]
  a(href="https://www.biography.com/people/stephen-hawking-9331710") Hawking
  | , #[=""]
  small: tt [update]
  a(href="https://brasil.elpais.com/brasil/2018/03/06/cultura/1520352987_936609.html")
    | Noam Chomsky
  small: tt [/update]
  | …

p Por isso eu perdi o respeito pela (falta de) inteligência do ser humano,
  |  minha resolução para 2019 é me respeitar mais, respeitar mais minha
  |  capacidade cognitiva, não importa se vão me chamar de arrogante ou o quanto
  |  as pessoas superestimem a humildade (eufemismo para #[=""]
  strong subordinação intelectual
  | ).
