img.pull-right(src=image alt="Iwa")

p.mg-first I just stopped publishing in Portuguese, and translated all my
  |  website’s base structure to English. No multilanguage support.

p Why did I do that?

p I’m not pretending to be a native English speaker, not even denying my
  |  lusophone origin. I’ve simply #[strong surrendered].

p My site has a very few readers, and the reason for it lies on the recent
  |  events in Brazil.

p I was focusing my posts on the Brazilian audience, but for the last three
  |  years the Brazilian people has proved to be mostly ordinary, lowly
  |  intelligent, unaware, and fascist. So I was talking to dead minds.

p Therefore, I just gave up, and I decided to talk to a wider audience.

p I really don’t like English. I don’t like its grammar, its spelling, its
  |  phonetics (how it sounds and the differences between written and said),
  |  but, unfortunately, nowaday the language to reach people is the English.

p In addition, I’ve started publishing my posts in the #[=""]
  a(href=public.partners.medium.url) Medium
  | , which is a world-wide platform.

p I hope this will clarify the issue.
