
img.pull-right(src=image alt="Aborto")

p.mg-first O segundo assunto que vem me incomodando é o desrespeito com a vida
  |  que representa a criminalização do aborto.

p Há basicamente duas #[strong falácias] usadas contra a legalização do aborto:
  |  1️⃣ ser a favor da legalização é ser a favor do aborto; 2️⃣ a maioria dos
  |  abortos é espontâneo, não justificando a legalização.

h3 Ser a favor da legalização é ser a favor do aborto?

p Resposta curta: #[=""]
  strong NÃO

p Sendo o aborto criminalizado, as mulheres que pretendem abortar vão abortar
  |  ilegalmente.

p Se o aborto for legalizado, as mulheres procurarão meios legais para abortar.
  |  Consequentemente os procedimenos serão fiscalizados:

+ul
  +li Permitindo mais dignidade para essas mulheres.

  +li Permitindo que sejam coletados dados oficiais sobre o comportamento de
    |  quem aborta, o que nos levaria a um entendimento maior dos casos,
    |  permitindo assim melhores políticas de #[strong combate] ao aborto.

  +li Permitindo oferecer a essas mulheres acompanhamento psicológico, inclusive
    |  para tentar dissuadi-las da ideia (quando fizer sentido).

  +li Permitindo diminuir #[=""]
    a(href="https://theintercept.com/2017/03/16/qual-o-preco-que-o-brasil-paga-pela-criminalizacao-do-aborto/")
      | gastos com saúde pública
    |  no atendimento de emergências das consequências de abortos ilegais.

p No mais, há uma sensação de que #[=""]
  a(href="https://www1.folha.uol.com.br/fsp/cotidian/ff080919.htm")
    | o número de abordos cai
  |  onde são legalizados, mas pode ser uma falsa relação devido a #[=""]
  a(href="https://g1.globo.com/bemestar/noticia/numero-de-abortos-cai-no-mundo-puxado-por-paises-desenvolvidos-com-legalizacao.ghtml")
    |  países mais desenvolvidos legalizarem o aborto
  |  – talvez o índice de desenvolvimento seja o fator determinante.

p Por exemplo, em Portugal #[=""]
  a(href="https://www.nexojornal.com.br/expresso/2017/02/13/O-que-aconteceu-ap%C3%B3s-10-anos-de-aborto-legalizado-em-Portugal")
    | o número de abortos caiu após a legalização
  | .

p Há alguns artigos na Web alegando que a legalização aumenta o número de
  |  aborto, porém um pouco de inteligência invalida cada um deles: são todos
  |  #[em sites] conservadores ou ligados a grupos conservadores; não trazem
  |  dados reais ou restringem-se ao primeiro ano da legalização, não
  |  acompanhando a evolução nos anos seguintes.

p Assim sendo, #[strong atendo-se aos fatos], na pior das hipóteses o número de
  |  abortos #[strong não] muda com a legalização, mas resolve todos os demais
  |  problemas associados, enquanto a proibição #[=""]
  a(href="https://nacoesunidas.org/oms-proibicao-nao-reduz-numero-de-abortos-e-aumenta-procedimentos-inseguros/")
    | não diminui o número de abortos
  |  como alegado por aqueles que não querem pensar fora de suas caixinhas,
  |  apenas empurra para a ilegalidade mulheres que já se encontram
  |  psicologicamente fragilizadas.

h3 A maioria dos abortos é espontâneo

p Há uma tremenda desonestidade intelectual em usar este argumento para
  |  criminalizar o aborto.

p Não faz o menor sentido colocar na mesma estatística abortos espontâneos e
  |  induzidos porque uma coisa não interfere na outra.

p Eu tenho a sensação que você gostaria que eu falasse mais sobre essa relação,
  |  mas não há o que falar porque ela #[strong não existe].

p O que eu posso fazer é, toda vez que algum charlatão mau-caráter falar em
  |  aborto espontâneo, explicar que alhos não têm nada a ver com bugalhos.
