img.pull-right(src=image alt="Autismo")

p.mg-first Há uma página em “defesa” dos autistas no Facebook, não lembro o
  |  nome, mas repete muito o bordão “Autismo sem Romantismo”, cujo autor repete
  |  à exaustão que “ama seu filho, não o autismo nele”. Chega a ser sofrido ter
  |  de explicar o quanto isso é #[strong errado].

p Para construirmos o caminho para o entendimento da questão, precisamos antes
  |  entender o #[=""]
  a(href="https://lagartavirapupa.com.br/o-segundo-luto-do-autismo/") luto
  |  pelo qual pais de crianças autistas passam.

h3 A desconstrução do filho ideal

p Todo pai e mãe idealiza o filho, como ele será, quais suas escolhas ou opções,
  |  quem ele será ou poderá ser como pessoa. Porém essa #[=""]
  a(href="https://www.priberam.pt/dlpo/idea%C3%A7%C3%A3o") ideação
  |  é invariavelmente uma #[strong ilusão]: nós projetamos sobre nossos
  |  psicologicamente indefesos filhos nossas próprias aspirações, nossos sonhos
  |  e desejos, e esperamos que eles sejam nada além de extensões de nós mesmos
  |  – quem nega isso só piora a situação mentindo pra si mesmo, o que alimenta
  |  esse comportamento nefasto.

p No entanto a desconstrução desse ideal irreal se dá ao longo de todo o
  |  desenvolvimento da criança em adolescente e finalmente para adulto, quando
  |  se rebela contra a dependência psicológica em busca de uma identidade
  |  própria.

h3 O luto

p No caso de crianças autistas, os pais não têm todo o crescimento da criança
  |  para digerir o fato de que o filho ideal não existe, e que há um ser humano
  |  único e singular diante deles.

p Assim que os pais recebem o diagnóstico (ou ainda o prognóstico) de autismo,
  |  o filho ideal “morre” imediatamente, pois o que o psicopediatra está
  |  dizendo é que o filho deles é incomum, único e singular, e jamais alcançará
  |  as aspirações dos pais, sendo uma criatura totalmente divergente.

p Repetindo, isso #[strong mata] o filho ideal, deixando os pais com aquele ser
  |  único que eles teriam um vida para perceber – e de repente isso lhes cai no
  |  colo.

p Agora resta o Autismo.

h3 Meu filho, O Autismo

p O fato é que o Autismo e a criança são #[strong indissociáveis]: o que
  |  chamamos de “autismo” é parte da criança – mais que isso, parte
  |  determinante! Significa que a criança é diferente, divergente, talvez até
  |  subversiva (oxalá).

p
  strong Não existe essa coisa de autismo.
  |  Apenas damos nomes limitantes àquilo que não entendemos, que foge à #[=""]
  a(href="http://erikengdahl.se/autism/isnt/") miserável caixa da normalidade
  | .

p Então, quando alguém diz “amo meu filho, não o autismo dele/nele”, não percebe
  |  o que está dizendo, mas “meu filho” é na verdade aquele ideal morto pelo
  |  qual está de luto, enquanto “autismo dele/nele” é o filho de fato, aquele
  |  que se apresenta.

p Daí a tradução dessa afirmação medonha, descartadas as máscaras, é:

p — Amo o filho que idealizei, não o que tenho.

p Por isso #[strong jamais] diga isso, e, se você pensa assim, recomendo rever
  |  seus conceitos e procurar um psicólogo.

p Talvez ser autista me ajude com isso, mas eu posso dizer sem reservas: #[=""]
  strong amo meu filho integralmente, incluindo o que as pessoas rotulam de
    |  autismo
  | .
