img.pull-right(src=image alt="Allan Kardec")

p.mg-first Entre os maiores opositores da legalização do aborto estão os
  |  espíritas, mas seus argumentos estão saturados de contradições.

p O argumento espírita contra a legalização do aborto é que, segundo o Livro dos
  |  Espíritos, o espírito a encarnar se liga ao feto logo na concepção. Este
  |  argumento contradiz o próprio Espiritismo em dois pontos.

h3 Quando o Espiritismo é a resposta

p Segundo #[=""]
  a(href="https://pt.wikipedia.org/wiki/Allan_Kardec") Allan Kardec
  | , o Espiritismo só pode ser buscado como resposta quando se esgotam todos os
  |  argumentos de ordem científica ou social.

p No caso do aborto, há considerações a serem feitas muito antes de apelarmos
  |  para respostas fantásticas, a começar com as consequências sociais e de
  |  saúde pública.

p Do ponto de vista da saúde pública, as mulheres que pretendem abortar vão
  |  abortar, mesmo que seja proibido. Portanto a proibição apenas criminaliza
  |  essas pessoas, sem melhorar em nada a situação. Isso significa que apelar
  |  para o argumento espírita desconsiderando a saúde pública não passa de
  |  #[strong fanatismo religioso], coisa que o Espiritismo se diz contra.

p Do ponto de vista social, a legalização do aborto permite sua fiscalização e
  |  intervenção psicológica, permitindo que as grávidas possam ser dissuadidas
  |  da ideia sem intimidação. Isso significa que o argumento espírita
  |  desconsiderando as consequências sociais presta um #[strong desserviço]
  |  que impede a intervenção respeitosa e saudável.

h3 Evolução do feto

p Se ainda assim o espírita for fanático demais, desconsiderando todos os
  |  argumentos, precisaremos apelar para o ataque, demonstrando que o próprio
  |  Espiritismo se desmente.

p É conhecimento biológico moderno que o feto passa literalmente por todas as
  |  etapas evolutivas que a própria espécie sofreu.

p Então o feto inicia como um feto pisciano, passa a um feto reptiliano, para
  |  finalmente se transformar em um feto mamífero, que se desenvolve para um
  |  nasciturno.

p Para que o espírito possa se ligar ao feto na concepção, é preciso que ele
  |  possa ligar-se a corpos de outras espécies, o que é chamado
  |  #[strong metempsicose].

p Bem, segundo o Espiritismo, a metempsicose é #[strong impossível],
  |  contradizendo a própria afirmação.

p
  a(href="https://pt.wikipedia.org/wiki/Divaldo_Pereira_Franco") Divaldo Franco
  |  afirma que o diferencial do Espiritismo enquanto religião é que ele não tem
  |  compromisso com o erro: assim que a ciência prova algo que contradiga
  |  alguma crença do Espiritismo, o Espiritismo se adapta e se corrige de
  |  acordo com a nova informação.

p Porém na prática isso só acontece #[strong quando é conveniente]. Quando os
  |  espíritas estão muito apegados a uma crença (principalmente aquelas de
  |  origem nas obras básicas), se a ciência a contradiz, eles simplesmente
  |  ignoram – #[=""]
  strong como é o caso da ligação entre espírito e feto
  | . Ou #[strong não] acontece na concepção, ou a metempsicose é possível.
