img.pull-right(src=image alt="Feminismo")

p.mg-first Gostaria de começar afastando um fantasma deste debate: homem
  |  #[strong não] pode protagonizar o Movimento Feminista. É machismo o homem
  |  tomar a posição central da mulher no movimento #[strong da mulher].

p É a mesmíssima lógica do caucasiano querer fazer palanque na defesa de negros
  |  contra o racismo, ou da cultura árabe contra o antiarabismo; ou, a parte
  |  que me afeta, é #[strong preconceito] médicos neurotípicos se sentirem no
  |  direito de invalidar o méritos dos #[em aspies] falarem pelos autistas,
  |  como se os neurotípicos fossem melhor qualificados.

p Dito isso e considerando que o leitor entendeu meu ponto de vista, quero
  |  continuar o discurso deste artigo explicando por que homem pode sim ser
  |  feminista – SE não tentar tomar o papel da mulher.

h3 O que é Feminismo?

p Cada um tem uma impressão muito pessoal do significado da palavra “feminismo”,
  |  desde um conceito quase compatível com o patriarcalismo até a visão #[=""]
  a(href="https://www.significados.com.br/femismo/") femista
  | . Porém, para que haja comunicação e um movimento prático de mudança, é
  |  preciso que haja uma definição mais formal e objetiva.

p Assim podemos definir o Feminismo como #[=""]
  a(href="https://www.significados.com.br/feminismo/")
    | a crença na igualdade entre os sexos
  | , ou ainda a crença que a diferença entre sexos é horizontal, não vertical.

h3 Diferença horizontal

p Na prática, diferença horizontal é a mesma coisa que #[strong igualdade]:
  |  significa que os “diferentes” são na verdade iguais, apenas com
  |  necessidades próprias. Enquanto diferença vertical significa que um é
  |  melhor que outro (está acima do outro).

p Mas o que são essas necessidades? Bem, eu geralmente acho tão óbvio que não
  |  carece de explicação, porém geralmente essa minha percepção está errada, e
  |  explicações são necessárias.

p Homem vai ao urologista, mulher ao ginecologista. PRONTO, #[strong acabou].

p O sexo da pessoa #[strong não pode] ser usado para determinar
  |  #[strong mais nada], nem salário, nem competência, nem inteligência, nem
  |  destreza.

p Então, segundo o Feminismo, homens e mulheres são #[strong iguais] e devem ser
  |  tratados como tal.

h3 Mas como assim homem feminista?

p Se Feminismo é a crença na igualdade entre os sexos, não importa (ou não
  |  deveria importar) o sexo de quem crê: se você acredita que homens e
  |  mulheres são iguais em direitos, você #[strong é] feminista sim.

p Aliás a própria ideia de que homem não pode ser feminista é incompatível com
  |  o Feminismo.

p Dito de forma mais clara: achar que o sexo determina se a pessoa é ou não
  |  competente para alcançar uma ideia é incoerente com a ideia de que o sexo
  |  de uma pessoa não pode determinar sua competência.

p Mas veja: isso #[strong não] significa que o homem tenha o direito de tomar
  |  o lugar de protagonista da mulher num movimento que diz respeito aos
  |  direitos #[strong da mulher]! O papel do homem feminista termina aqui: até
  |  onde ele aceita que as mulheres são iguais a ele, e que o sexo não pode ser
  |  usado como fator de avaliação.

p Aliás não só sexo: nem sexo, nem gênero, nem orientação sexual.

h3 Mas e mulher machista?

p Machismo consiste em acreditar que o homem é superior à mulher unicamente por
  |  ser homem.

p Se a pessoa acredita que o homem é superior, ela é maxista, não importa se é
  |  homem, mulher, hétero, homossexual, assexuado ou formiga operária.

p Então mulher que acredita que mulher é inferior ao homem por ser mulher é
  |  machista sim. Não adianta tapar o sol com a peneira.

p Para expurgarmos o machismo da sociedade – assim como outros preconceitos –
  |  precisamos antes de mais nada olhar para ele com clareza, sem romantismos.
  |  As coisas são o que são, e precisamos reconhecer como elas são para
  |  podermos mudá-las.

h3 TL;DR

p Em resumo, homem pode ser feminista no sentido estrito da palavra (quem
  |  crê na igualdade entre sexos), porém só pode participar do movimento como
  |  #[strong apoio], jamais roubando o protagonismo.
