
img.pull-right(src=image alt="Esperanto")

p.mg-first Este artigo foi publicado originalmente na versão no #[=""]
  a(href="http://montegasppa.blogspot.com/2007/08/ghoughphtheightteeau.html")
    | Blogger
  |  deste mesmo #[em blog] há mais de dez anos. Antes disso veio do #[=""]
  a(href="http://www.npoint.com.br/sementeira/bi03.html")
    | Projeto Sementeira Esperanto
  | .

hr/

p O Inglês atualmente é usado como língua internacional por pura dominação
  |  cultural, assim como foi o Latim, pois o Inglês é uma língua totalmente
  |  ineficiente como ferramenta de comunicação intercultural.

p Há diversos fatores que indicam isso, como indissociabilidade cultural,
  |  armadilhas de trocadilhos, excesso de fonemas e relação carente entre a
  |  forma escrita e a forma falada.

p Mais importante que os fatores que tornam o Inglês inapto para a comunicação
  |  intercultural são as consequências de seu uso: imposição cultural,
  |  desaparecimento gradativo de línguas nativas e consequentemente de suas
  |  respectivas culturas, tornando assim a Humanidade culturalmente cada vez
  |  mais pobre.

p Ou seja, o conhecimento humano vai-se perdendo pouco a pouco pela influência
  |  de uma cultura dominante.

p Isso se dá não pelo uso de uma ferramenta de comunicação interlinguística,
  |  mas pelo fato da ferramenta usada para tanto ser totalmente inecifiente
  |  para esse fim específico.

p Nada contra o Inglês! Acho uma língua interessante e a mais adequada como base
  |  para a criação de linguagens de programação, mas não é uma língua própria
  |  para a comunicação intercultural.

p Dito isso, vou-me ater agora a uma característica específica da língua inglesa
  |  que por si só já tornaria a língua inapta para o uso internacional: relação
  |  carente entre as formas escrita e falada.

p Ou seja, em inglês o que se escreve e o que se fala são coisas diferentes, com
  |  muito pouca ou nenhuma relação.

p Vamos a um exemplo curioso, tirado do #[=""]
  a(href="http://www.npoint.com.br/sementeira/bi03.html")
    | Projeto Sementeira Esperanto
  | :

p A palavra potato também poderia ser escrita como #[em ghoughphtheightteeau].

p Não entendeu? Veja só…

+ul
  +li Na palavra #[em hiccough] o GH é lido como o P em #[em Potato].
  +li Na palavra #[em dough] o OUGH é lido como o primeiro O em #[em pOtato].
  +li Na palavra #[em phthisic] o PHTH é lido como o primeiro T em #[em poTato].
  +li Na palavra #[em neighbor] o EIGH é lido como o A em #[em potAto].
  +li Na palavra #[em gazette] o TTE é lido como o segundo T em #[em potaTo].
  +li Na palavra #[em beau] o EAU é lido como o segundo O em #[em potatO].

p Pronto! Fazendo agora a substituição das estruturas gráficas de acordo com sua
  |  pronúncia na palavra #[em potato] obtemos:

p.text-center GH-OUGH-PHTH-EIGH-TTE-EAU → ghoughphtheightteeau 😕

p Essa é apenas uma demonstração bastante simples, que não tem a menor intenção
  |  de desmerecer o Inglês, aliás até demonstra sua riqueza cultural, mas
  |  também demonstra sua ineficiência como ferramenta de comunicação.

p Leia #[=""]
  a(href="http://www.esperantoforadatoca.blogspot.com/") Esperanto Fora da Toca
  | .

hr/

p.text-right: small PS: Você pode ter reparado que ora usei Inglês com
  |  maiúscula, ora inglês com minúscula. Quando usei Inglês (maiúscula) quis
  |  referir-me ao Inglês enquanto entidade abstrata viva.
