img.pull-right(src=image alt="Homo sapiens neanderthalensis")

p.mg-first Há dois assuntos que vem me incomodando ultimamente, então resolvi
  |  escrever um artigo sobre cada.

p Este primeiro será sobre o #[em Homo sapiens].

p Tem umas pessoas que batem no peito se sentido muito superiores por terem
  |  #[em sangue puro europeu]. Bem, sabem aqueles documentário mostrando o
  |  #[em Homo sapiens] com sua tez alva e traços nórdicos chegando à Europa e
  |  conquistando o continente? Então… não foi bem assim.

p Esse tal de #[em Homo sapiens], ser superior, era #[=""]
  strong(title="Sentiu-se ofendido em saber que seus antepassados eram negros, seu leite azedo? É porque você é RACISTA.")
    | negão
  | .

p Sei que às vezes eu me limito a reclamar, mas não gosto de fazer isso, então
  |  vou tentar deixar este artigo um pouco mais informativo.

p O #[=""]
  a(href="https://phys.org/news/2017-06-scientists-oldest-homo-sapiens-fossils.html")
    | homem moderno
  |  (#[em Homo sapiens sapiens]) surgiu a uns
  |  #[u(title="Talvez 200 mil.") 160 mil anos], e dividiu boa parte desse
  |  período com outras espécies humanas – pois é! Esqueça aquela árvore linear
  |  bonitinha onde uma espécie evolui a outra…

p Originário da África, o homem moderno é originalmente #[strong negro], tendo
  |  se adaptado às regiões mais frias ao perder um pouco de melanina, mas sendo
  |  ainda exatamente a mesma espécie.

p Isso quer dizer que, se fosse possível isolar um grupo de africanos em uma
  |  região fria e de pouca luz à mercê da evolução natural, em algumas gerações
  |  teríamos caucasianos. Da mesma forma, se você pudesse isolar caucasianos em
  |  uma região quente e ensolarada nas mesmas condições, em algumas gerações
  |  teríamos negros.

p Os primeiros #[em Homo sapiens sapiens] são chamados #[=""]
  a(href="https://escola.britannica.com.br/levels/fundamental/article/homem-de-Cro-Magnon/483198")
    | homens de Cro-Magnon
  |  e também #[=""]
  a(href="https://www.merriam-webster.com/dictionary/troglodyte") troglotidas
  | , por viverem em cavernas, mas somos essencialmente iguais a eles em todos
  |  os aspectos físicos.

p O #[=""]
  a(href="https://www.publico.pt/2017/03/13/ciencia/noticia/cranio-de-400-mil-anos-e-o-fossil-humano-mais-antigo-descoberto-em-portugal-1765063")
    | homem de Neandertal
  |  (#[em Homo sapiens neanderthalensis]), ou neandertal para abreviar, outra
  |  subespécie de #[em Homo sapiens] (aqui caberia o termo “raça”), surgiu
  |  antes (há uns 400 mil anos) e desapareceu há uns 29 mil anos,
  |  compartilhando o planeta conosco por mais de 130 mil anos.

p O #[=""]
  a(href="http://www.avph.com.br/homoerectus.htm"): em Homo erectus
  | , outra espécie humana, surgiu bem antes, há quase 2 milhões de anos, tendo
  |  convivido com o #[em Homo habilis] e o australopiteco, e desapareceu dos
  |  registros há uns 50 mil anos, tendo convivido com o neandertal por 350 mil
  |  anos e com o homem moderno por mais de 110 mil anos. Houve diversas
  |  subespécies, entre as mais conhecidas o homem de Java.

p Os #[=""]
  a(href="https://brasil.elpais.com/brasil/2014/11/14/ciencia/1415970185_422849.html")
    em hobbits
  |  (#[em Homo floresiensis]) surgiram há 700 mil anos e desapareceram há 50
  |  mil, tendo convivido conosco por mais de 110 mil anos.

p Os #[=""]
  a(href="https://www2.palomar.edu/anthro/homo2/mod_homo_1.htm") gigantes
  |  (#[em Homo heidelbergensis]) surgiram há 500 mil anos. Algumas pessoas
  |  acreditam que eles devam ter coexistido com o homem moderno, porém os
  |  registros paleontológicos de sua existência desaparecem há 250 mil anos,
  |  pelo menos 50 mil anos antes do homem moderno surgir.

p O #[em idaltu] (#[em Homo sapiens idaltu]) viveu entre 160 e 154 mil anos
  |  atrás, tendo convivido com o homem moderno.

p Isso significa que o homem moderno conviveu com ao menos quatro, talvez cinco
  |  outras espécies humanas, mas restamos apenas nós.
