img.pull-right(src=image alt="LGBT")

p.mg-first A transfobia está relacionada a uma variação da misogina de modo
  |  pouco óbvio, porém muito poderoso.

p A transfobia surge da sensação que o “macho-α” sente de ter sido ou de poder
  |  ter sido enganado ao ver uma mulher que, segundo sua visão estreita de
  |  mundo, na verdade é um homem, ou ainda de ver uma “mulher” que foge a seu
  |  #[em direito de macho] ao “fingir-se” de homem.

p Perceba que o macho-α se sentiu atraído em um caso por uma pessoa por quem ele
  |  julga não poder sentir-se dessa forma por ter nascido do mesmo sexo que
  |  ele próprio, daí o sentimento de enganação, de traição. Ele não vê a mulher
  |  transgênero como mulher.

p Isso acontece porque ele, “Homem”, se vê com direito sobre todas as mulheres
  |  (talvez não as que já possuem #[em dono], ou sua mãe e sua irmã),
  |  considerando-as #[em coisas], objeto para sua satisfação.

p Essa forma perversa de encarar as diferenças entre sexos é mais do que
  |  simples paternalismo, mas extrapala em direção ao ódio às mulheres, que,
  |  segundo ele, nem merecem a condição de “seres humanos”.

p O nome disso é #[strong misoginia].

p Algo similar se dá na relação com o homem transgênero: o macho-α se vê
  |  subtraído de seu pretenso direito de macho de abusar física e/ou
  |  psicologicamente da mulher inferior quando ela se passa por homem.

p Aqui temos a misoginia ainda mais violenta manifestando-se como transfobia.

p No fim das contas tudo se reduzir ao machismo em sua forma mais odienta: o
  |  #[em machinho] que se sente superior por ter um falo entre as pernas e por
  |  isso no direito social de abusar daquele(a)s que considera inferior; traído
  |  por outro que renegou seu pênis ou pela “coisa” que ousou se passar por seu
  |  semelhante.
