img.pull-right(src=image alt="Educaedu Brasil")

p.mg-first Vi um artigo interessante da #[=""]
  a(href=ref_urls.author)!= author
  |  sobre sete programas de bolsa de estudo no Brasil no #[=""]
  a(href=ref_urls.original_post) Educaedu Brasil
  |  e vou citar #[strong alguns trechos] aqui.

p O artigo sugere sete bolsas de estudo para quem está com dificuldade em
  |  financiar sua faculdade:

h3 PROUNI

blockquote
  p O PROUNI é o programa de bolsas de estudo mais conhecido do país.
    |  Desenvolvido pelo Governo Federal, oferece bolsas para instituições de
    |  ensino particulares do país todo. Para concorrer às bolsas do Prouni
    |  o estudante precisa obter mais de 450 pontos na prova do ENEM e não zerar
    |  na redação. A renda familiar #[em per capita] também é levada em
    |  consideração e o mais importante é ter cursado todo o ensino médio em
    |  escola pública.

h3 Educa mais Brasil

blockquote
  p Diferentemente do Prouni, o Educa Mais Brasil é um programa realizado por
    |  iniciativa privada. Também tem como objetivo principal a inclusão de
    |  jovens brasileiros de baixa renda em instituições particulares. Oferece
    |  bolsas de estudo que vão do ensino fundamental ao superior e podem
    |  variar entre 30 e 70% sobre o valor total da mensalidade.

h3 Programa Senac de Gratuidade

blockquote
  p O Senac em 2008 decidiu criar o  PSG, no qual trabalha promovendo
    |  a inclusão social dos brasileiros através de bolsas de estudo para
    |  cursos com mais de 160 horas de duração em diferentes áreas de
    |  conhecimento no país todo. O PSG foi pensado para pessoas com poucos
    |  recursos financeiros e exige apenas que o aluno tenha renda mensal
    |  máxima de 2 salários mínimos por pessoa na família, além de não estar
    |  matriculado em curso igual ou no mesmo período no Senac, entre outras
    |  especificações.

h3 Quero Bolsa

blockquote
  p No programa quero bolsa o estudante pode fazer uma busca para encontrar
    |  um curso de graduação ou pós pelo preço que puder pagar, o programa
    |  atualmente tem parceria com mais de 1200 faculdades particulares do
    |  Brasil todo e os descontos podem chegar a 75% do valor da mensalidade.

  p O candidato pode solicitar bolsas para cursos de todas as áreas do
    |  conhecimento nas seguintes modalidades de ensino: cursos livres, cursos
    |  técnicos, graduação e pós graduação.

h3 Mais Bolsa

blockquote
  p O Mais Bolsa é realizado pelo Governo Federal e oferece bolsas de estudo
    |  com até 50% de desconto em mais de 15 mil escolas e faculdades
    |  conveniadas com o programa no Brasil todo. O candidato pode escolher
    |  uma graduação, pós-graduação, cursos de educação básica, técnicos ou
    |  idiomas. É só escolher o tipo de curso e modalidade.

h3 Santander Universidades

blockquote
  p O programa Santander Universidade é mantido pelo banco Santander e oferece
    |  seis tipos de bolsas aos estudantes brasileiros que querem estudar no
    |  exterior. O programa tem parceria com mais de 1.200 instituições do
    |  mundo todo e tem como objetivo principal oferecer ao estudante
    |  experiências como troca de informações e contato com outras culturas e
    |  idiomas.

h3 Fundação Estudar

blockquote
  p É um programa criado em 1991 tendo como objetivo principal melhorar
    |  o desempenho de jovens promissores do país todo. Os bolsistas deste
    |  programa além de recebem o apoio financeiro necessário para seu
    |  desenvolvimento pessoal e profissional para estudar nas melhores
    |  universidades do mundo, recebem também mentoria e podem participar de
    |  diversas atividades pensadas para seu desenvolvimento profissional.

  p Para participar, o candidato deve ter entre 16 e 34 anos, e deve estar em
    |  processo de aceitação ou matriculado na universidade desejada em uma das
    |  quatro categorias de bolsa oferecidas pela fundação.

hr/

p Leia o #[strong artigo completo] seguindo #[=""]
  a(href=ref_urls.original_post) este #[em link]
  | .
