img.pull-right(src=image alt="Tesla")

- let like_this = "Por “assim” entenda toda e qualquer característica atípica minha."

p.mg-first Vivo ouvindo que não posso colocar tudo na conta do Autismo, mas na
  |  verdade não sou #[=""]
  u(title=like_this) assim
  |  por ser autistas, sou autista por ser assim. O fato é que ser “igual” é tão
  |  importante para a sociedade que “
  u(title="diferente") ser assim
  | ” é considerado #[=""]
  u.hoverable
    span.normal mau
    span.hover O Mal
  | .

p Certa vez disseram para #[=""]
  a(href="https://psmag.com/magazine/jacob-barnett-30-under-30") Jake Barnett
  |  que ele daria um ótimo supervilão de quadrinhos, mas ele ficou extremamente
  |  ofendido e magoado.

p Não deveria. Vindo da cultura neurotípica, ele deveria ter ficado lisonjeado.
  |  No #[=""]
  a(href="http://drnikolatesla.tumblr.com/post/164990338628/superman-the-mad-scientist-in-the-very-first")
    | primeiro episódio de Superman
  | , o supervilão era ninguém menos que o incompreendido #[=""]
  a(href="https://www.biography.com/people/nikola-tesla-9504443") Nikola Tesla
  | . Como todo diferente, Tesla foi subestimado, incompreendido e destratado.

p Esta é uma característica preponderante do pensamento neurotípico: todo
  |  diferente é temido e, se possível, destruído. Então autistas e superdotados
  |  se tornam supervilões.

p: strong Pior para a humanidade.

p Foi graças aos “supervilões” que as primeiras tecnologias (
  a(href="https://pt.wikipedia.org/wiki/Ponta_lítica") ponta de lança de pedra
    |  lascada
  | , por exemplo) surgiram, permitindo a humanidade atingir os níveis
  |  tecnológico e social atuais.

p Uma lição deixada passar em #[=""]
  a(href="https://www.dccomics.com/graphic-novels/watchmen-1986/watchmen")
    | Watchmen
  |  é que, quando o supervilão vence, toda a sociedade ganha. Os #[=""]
  a(href="http://cinegnose.blogspot.com/2017/05/a-construcao-do-super-heroi-amoral-nas.html")
    | super-heróis
  |  combatem os supervilões. Quando os supervilões caem, os #[=""]
  a(href="https://noticias.uol.com.br/politica/ultimas-noticias/2016/12/13/pec-que-congela-gastos-do-governo-por-20-anos-e-aprovada-em-votacao-final.htm")
    | vilões medíocres
  |  prosperam, pois é #[strong para eles que os super-heróis trabalham]. Aliás
  |  toda sociedade neurotípica é formada de vilões medíocres em potencial,
  |  inclusive os super-heróis (não que os neurodiversos estejam livres disso).

p Precisarmos de heróis é um sinal de vilania (medíocre), o medo do diferente
  |  prejudica o progresso benéfico, e aqueles que vilanizam o que não alcançam
  |  são os verdadeiros vilões a atrasar a humanidade.
