p.mg-first Cantata nยบ 140 (Wachet auf, ruft uns die Stimme) de #[=""]
  a(href="https://pt.wikipedia.org/wiki/Johann_Sebastian_Bach") Bach
  | , por #[=""]
  a(href="https://www.youtube.com/channel/UCs7RG_oYRvfRIOmveJfPg4w") Steve Howe
  | .

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/cpd3GK_vBhU"
                               frameborder="0"
                               allowfullscreen=true)
