img.pull-right(src=image alg="Lula Raivoso")

p.mg-first A Esquerda está construindo um monstro. Não a própria pessoa ou
  |  figura histórica, mas sua memória.

p A #[=""]
  a(href="https://www.netflix.com/") Netflix
  |  já fez muita coisa boa, mas também muita merda – e nunca foi alvo de
  |  boicote da Esquerda no Brasil. Até mexer com o #[=""]
  a(href="https://pt.wikipedia.org/wiki/Luiz_Inácio_Lula_da_Silva") Lula
  | …

p Com #[strong Sua Graça Imaculada] ninguém mexe! Não mesmo! Como se o Lula
  |  fosse infalível, ou não tivesse o direito a mácula, como qualquer ser
  |  humano.

p O fato é que estão construindo um monstro. Enquanto Lula estiver vivo, ele,
  |  Lulinha paz-e-amor, Mr. Deixa Disso, não permitirá que esse monstro
  |  cresça. Porém ele já está idoso, não vai ficar pra semente.

p Depois de sua saída triunfal da vida para a história, convertendo-se em
  |  mártir, sua memória se tornará um monstro raivoso e sem cabeça.

p Isso me assusta, pois hoje os atos de barbárie são quase exclusividade da
  |  Direita conservadora, de nossa Ultradireita fascista, mas quando o monstro
  |  tiver sua cabeça cortada, sua existência descontrolada justificará as
  |  piores crueldades imagináveis.

p Lula é macaco velho, sabe se defender. É claro que mesmo assim precisa da
  |  ajuda do povo para manter-se íntegro e representá-lo, porém toda essa
  |  comoção, esse reação passional, é prelúdio desse ódio maniqueísta que está
  |  por vir.
