img.pull-right(src=image alt="𝄵")

p.mg-first!= content
  |  Uma música pode usar compassos de tamanhos diferentes ao longo de sua
  |  execução.

p Quando esses compassos se alternam sempre na mesma ordem, por exemplo
  |  3 tempos / 2 tempos / 3 tempos / 2 tempos…, isso é chamado compasso
  |  complexo ou #[=""]
  a(href="https://pt.wikipedia.org/wiki/Compasso_(música)#Compasso_complexo_ou_compasso_composto_irregular")
    | amálgama
  | .

p Algumas amálgamas são bem comuns e são escritas simplesmente como a soma de
  |  seus elementos:

table.table
  tbody
    tr
      td.text-right #[sup 2]/#[sub 4] + #[sup 3]/#[sub 4]
      td = #[sup 5]/#[sub 4]
    tr
      td.text-right #[sup 3]/#[sub 4] + #[sup 4]/#[sub 4]
      td = #[sup 7]/#[sub 4]

p Qualquer amálgama pode ser escrita desta forma, porém amálgamas mais complexas
  |  costumam ser assinadas como a operação explícita de soma de suas partes,
  |  separando os subcompassos com barras tracejadas.

p Por exemplo, #[=""]
  a(href="https://www.youtube.com/watch?v=yMMz2VwbhVI") Schism
  |  usa em boa parte de sua progressão o compasso
  | #[sup 5]/#[sub 8]+#[sup 7]/#[sub 8].

p Em uma música minha, #[=""]
  a(href="https://www.youtube.com/watch?v=C79x6hliPYo") La dame urbain n’est pas
  | , eu uso no crescente o compasso #[sup 12]/#[sub 8]+#[sup 2]/#[sub 4].

p Já quando a combinação dos compassos resultaria em um compasso muito grande,
  |  com muitos tempos, é normal assinar cada compasso com seu tempo devido. É
  |  o que acontece com #[=""]
  a(href="https://www.youtube.com/watch?v=_7xMfIp-irg") All You Need is Love
  | , com compasso #[sup 2]/#[sub 2]+#[sup 2]/#[sub 2]+#[sup 3]/#[sub 4].

p A combinação de #[=""]
  a(href=`${public.montegasppa.blog.url}2018/10/composto.html`)
    | compassos compostos
  | , almálgamas, alteração de compassos e tempos de uma parte para outra de
  |  uma composição tem o potencial de enriquecer a obra, tratando o próprio
  |  compasso como um elemento musical.
