img.pull-right(src=image alt="𝄵")

p.mg-first Aprendemos que compassos são formas de organizar metricamente as
  |  frases musicais. Assim agrupamos os #[em tique-taques] a cada dois, três
  |  ou quatro tempos.

p Porém são muito mais que isso: compassos são uma das ferramentas básicas da
  |  composição musical.

p Isso significa que uma música não precisa ter todos os tempos agrupados da
  |  mesma forma e que as diferenças entre grupos fazem parte da riqueza
  |  mecânica da composição.

p Também significa que cada tempo não precisa sempre ser dividido em dois
  |  subtempos, é possível também dividir cada tempo em frações de três, #[=""]
  u(title="quiálteras") cinco ou mais
  |  partes iguais.

p Quando cada tempo é subdividido em três subtempos, chamamos de compasso
  |  composto.

p A transformação de um compasso simples em outro composto segue a mesma relação
  |  matemática da razão entre suas segmentações: compassos simples têm cada
  |  tempo subdividido em dois, compassos compostos em três, portanto a relação
  |  é 3:2.

p Basta multiplicar o tempo do compasso por 3:2 para obter seu equivalente
  |  composto. Todo compasso não-composto possui um equivalmente composto, mesmo
  |  as #[=""]
  a(href=`${public.montegasppa.blog.url}2018/10/amalgama.html`) amálgamas
  | :

table.table
  thead
    tr #[th.text-right Simples] #[th Composto]

  tbody
    tr #[td.text-right #[sup 2]/#[sub 4]] #[td #[sup 6]/#[sub 8]]
    tr #[td.text-right #[sup 3]/#[sub 4]] #[td #[sup 9]/#[sub 8]]
    tr #[td.text-right #[sup 4]/#[sub 4]] #[td #[sup 12]/#[sub 8]]
    tr #[td.text-right #[sup 5]/#[sub 4]] #[td #[sup 15]/#[sub 8]]

p E assim por diante.

p O compasso composto dá um sabor diferente à melodia. Por exemplo, o seguinte
  |  exercício de escala:

p.text-center: img(src="//cacilhas.info/img/composto/simples.jpg")

p Tente agora o mesmo exercício multiplicando o compasso por 3:2
  |  (#[sup 4]/#[sub 4] × #[sup 3]/#[sub 2] = #[sup 12]/#[sub 8]):

p.text-center: img(src="//cacilhas.info/img/composto/composto.jpg")

p Você experimentará uma “cor” completamente nova. Um estilo musical que abusa
  |  dos compassos compostos é o #[=""]
  a(href="https://pt.wikipedia.org/wiki/Blues") Blues
  | .
