
p.mg-first O #[=""]
  a(href="https://www.youtube.com/canaldoslow") Canal do Slow
  |  é um canal sério sobre ciência e história, sempre fortemente embasado em
  |  fontes respeitadas para comunicar informação com uma linguagem bastante
  |  leve. O Estêvão Slow é integrante do canal de ciência acessível #[=""]
  a(href="https://www.youtube.com/channel/UC3Ooj_iDWELBumIEDejyNHQ") Bláblálogia
  | .

p No dia 20 deste mês o canal publicou um vídeo posicionando o momento eleitoral
  |  do Brasil em seu contexto histórico-político mundial, que é de extrema
  |  relevância para o entendimento do comportamento dos eleitores, não apenas
  |  no Brasil, mas também nos Estados Unidos e Reino Unido.

p Compartilho aqui seu vídeo, citando as fontes logo abaixo.

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/VUTiRx9wD34"
                               frameborder="0"
                               allowfullscreen=true)

br/

+ul
  a(href="https://www.forbes.com/profile/james-simons/#1916b45f1b61")
    +li Sobre James Simon, Forbes
  a(href="https://www.bloomberg.com/news/articles/2016-11-21/how-renaissance-s-medallion-fund-became-finance-s-blackest-box")
    +li Sobre a empresa Medallion
  a(href="https://www.forbes.com/sites/nathanvardi/2017/05/08/inside-the-employment-agreement-of-secretive-hedge-fund-renaissance-technologies/#4297e74b75e6")
    +li Forbes sobre a Medallion
  a(href="https://www.medallionfunds.com/")
    +li #[em Site] da Medallion
  a(href="https://www.breitbart.com/")
    +li Breitbart: #[em site] oficial
  a(href="http://www.latimes.com/nation/politics/trailguide/la-na-trailguide-updates-what-is-the-alt-right-a-refresher-1479169663-htmlstory.html")
    +li Críticas a página Breitbart, Los Angeles Times
  a(href="https://www.huffpostbrasil.com/entry/breitbart-headlines_us_5829ba13e4b060adb56f1bdb")
    +li Algumas das “pérolas” publicadas no Breitbart News
  a(href="https://www.newsweek.com/2016/12/02/robert-mercer-trump-donor-bannon-pac-523366.html")
    +li O bilionário que encheu os bolsos da Breitbart News e de Trump
  a(href="https://sclgroup.cc/home")
    +li #[em Site] oficial da SCL
  a(href="https://www.washingtonpost.com/politics/after-working-for-trumps-campaign-british-data-firm-eyes-new-us-government-contracts/2017/02/17/a6dee3c6-f40c-11e6-8d72-263470bf0401_story.html?noredirect=on&utm_term=.74bdec9dbda9")
    +li Sobre algumas atuações internacionais da SCL
  a(href="https://www.forbes.com/profile/robert-mercer/#3cee61ee7f9b")
    +li Robert Mercer, Forbes
  a(href="https://www.nytimes.com/2017/11/02/business/robert-mercer-renaissance.html")
    +li Robert Mercer preocupa investidores pelo seu posicionamento político, e
      |  diz que irá se afastar do cargo, mas se manter próximo da empresa
  a(href="https://www.washingtonpost.com/politics/cruz-campaign-credits-psychological-data-and-analytics-for-its-rising-success/2015/12/13/4cb0baf8-9dc5-11e5-bce4-708fe33e3288_story.html?utm_term=.b8cfe5076f0c")
    +li Campanha de Cruz cresceu com utilização de “Análise de Dados
      |  Psicológicos”
  a(href="https://www.theguardian.com/news/2018/mar/17/cambridge-analytica-facebook-influence-us-election")
    +li Cambridge Analytica rouba dados de mais de 50 milhões de perfis do
      |  Facebook
  a(href="https://www.amazon.com/Time-Magazine-February-Steve-Bannon/dp/B01N1881VH")
    +li Revista Time: “Bannon, The Graeat Manipulator”
  a(href="https://www.independent.co.uk/news/world/americas/us-elections/donald-trump-breitbart-steve-bannnon-white-house-chief-of-staff-a7410731.html")
    +li Trump escolhe Bannon para ser seu estrategista na Casa Branca
  a(href="https://us.macmillan.com/books/9781250158079")
    +li Livro “Filre and Fury: Inside the Trump White House”
  a(href="https://www.theguardian.com/us-news/2018/jan/05/trump-book-highlights-michael-wolff-fire-fury")
    +li Alguns detalhes importantes presentes no livro “Fire and Fury”
  a(href="https://www.nytimes.com/2018/01/03/us/politics/trump-bannon.html")
    +li A briga entre Trump e Bannon
  a(href="https://www.washingtonpost.com/news/morning-mix/wp/2018/01/05/trump-lashes-out-at-sloppy-steve-says-he-never-authorized-access-for-michael-wolffs-phony-book/?noredirect=on&utm_term=.264a7f27f3a0")
    +li Steve Bannon ou Sloopy Steve?
  a(href="https://economictimes.indiatimes.com/tech/internet/facebook-ceo-mark-zuckerberg-testifies-before-us-congress-highlights/articleshow/63704337.cms")
    +li Facebook é julgado pela corte americana
  a(href="https://brasil.elpais.com/brasil/2018/05/02/internacional/1525285885_691249.html")
    +li Cambridge Analytica é fechada por denúncia de roubo de dados
  a(href="https://www.theguardian.com/politics/2017/feb/26/robert-mercer-breitbart-war-on-media-steve-bannon-donald-trump-nigel-farage")
    +li Robert Mercer e Steve Bannon declaram guerra contra mídia tradicional
  a(href="https://edition.cnn.com/2016/11/18/politics/steve-bannon-donald-trump-hollywood-reporter-interview/")
    +li Steve Bannon, “#[strong Darkness is Good]” CNN
  a(href="https://www.youtube.com/watch?v=tAFiaraA3Bk")
    +li #[em Trailer] do documentário “Generation Zero”, de autoria do Bannon
  a(href="https://www.theguardian.com/technology/2017/may/07/the-great-british-brexit-robbery-hijacked-democracy")
    +li O caso Brexit e o “sequestro” da democracia
  a(href="https://brasil.elpais.com/brasil/2018/03/26/internacional/1522058765_703094.html?rel=mas")
    +li Brexit não teria acontecido sem a Cambridge Analytica
  a(href="https://www.nytimes.com/2018/03/19/us/cambridge-analytica-alexander-nix.html")
    +li Sobre a gravação escondida com diretores da Cambridge Analytics, e
      |  detalhes “sujos”
  a(href="https://www.bloomberg.com/news/articles/2018-07-30/petition-to-bar-steve-bannon-from-entering-u-k-gathers-support")
    +li Ingleses fazem petição para proibir a entrada de Bannon na Inglaterra
  a(href="https://www.thedailybeast.com/inside-bannons-plan-to-hijack-europe-for-the-far-right")
    +li Os planos de Bannon para a Europa
  a(href="ttps://www1.folha.uol.com.br/colunas/clovisrossi/2018/09/internacional-extremista-a-vista.shtml?loggedpaywall")
    +li Bannon na Europa e o foco no extremismo internacional
  a(href="https://www.dw.com/en/italys-matteo-salvini-links-with-bannons-far-right-movement-ahead-of-eu-vote/a-45417657")
    +li Líder ultraconservador italiano, Matteo Salvini, envolvido com Bannon
  a(href="https://www.forbes.com/sites/stratfor/2017/08/17/the-apocalyptic-vision-of-stephen-k-bannon/")
    +li A visão apocalíptica de Bannon para o mundo
  a(href="https://epoca.globo.com/filho-de-bolsonaro-diz-que-marqueteiro-de-trump-vai-ajudar-seu-pai-22963441")
    +li Entrevista da Época com Eduardo Bolsonaro sobre encontro com Bannon
  a(href="https://noticias.uol.com.br/ultimas-noticias/rfi/2018/07/25/facebook-apaga-contas-do-mbl-antes-das-eleicoes-violacao-dos-padroes.htm")
    +li Facebook apaga contas do MBL: violação de padrões
  a(href="https://www.facebook.com/help/2687943754764396?ref=shareable")
    +li Sobre a última invasão de mais de 30 milhões de contas do Facebook
  a(href="https://tecnoblog.net/263646/facebook-ataque-29-milhoes-pessoas/")
    +li Facebook diz que #[em hackers] acessaram dados pessoais de 20 milhões de
      |  pessoas
  a(href="https://oglobo.globo.com/brasil/time-digital-de-bolsonaro-distribui-conteudo-para-1500-grupos-de-whatsapp-23134588")
    +li Time digital de Bolsonaro distribuiu conteúdo para 1.500 grupos de
      |  WhatsApp
  a(href="https://www.youtube.com/watch?v=g4DepZZVco0")
    +li Vídeo do Pirula sobre o WhatsApp
  a(href="https://www.aljazeera.com/indepth/opinion/2017/08/brazil-venezuela-170809062345175.html")
    +li O Brasil pode virar uma Venezuela 2?
  a(href="https://www.dropbox.com/s/7a2jjlcqtv6ch20/Venezuela.pdf?dl=0")
    +li Estudo da FGV sobre a Venezuela
  a(href="https://www.economist.com/leaders/2018/08/11/the-danger-posed-by-jair-bolsonaro")
    +li The Economist sobre Bolsonaro
  a(href="https://www.theguardian.com/world/2018/apr/19/jair-bolsonaro-brazil-presidential-candidate-trump-parallels")
    +li The Guardian sobre Bolsonaro
  a(href="https://www.nytimes.com/2018/08/24/opinion/brazil-flirts-with-a-return-to-the-dark-days.html")
    +li New York Times sobre Bolsonaro
  a(href="https://www.theatlantic.com/international/archive/2018/10/brazil-election-democracy-jair-bolsonaro-lula-haddad/572470/")
    +li The Atlantic sobre Bolsonaro
  a(href="https://www.americasquarterly.org/content/looming-military-coup-brazil")
    +li Americas Quartely sobre Bolsonaro
  a(href="https://www.economist.com/printedition/covers/2018-09-20/ap-e-eu-la-me-na-uk")
    +li The Economist sobre Bolsonaro
  a(href="https://ricerca.repubblica.it/repubblica/archivio/repubblica/2018/05/29/bolsonaro-il-leader-xenofobo-e-anti-gay-che-da-lassalto-brasile16.html?ref=search")
    +li La Republica sobre Bolsonaro
  a(href="https://www.thetimes.co.uk/article/dangerous-populist-vows-to-make-brazil-safe-again-sgmmp6spg")
    +li The Times sobre Bolsonaro
