.text-center: img(src=image alt="Prognose"
                  style="border-radius: 80pt;")

br/

p.mg-first Uma de minhas músicas preferidas é #[=""]
  a(href="https://www.patreon.com/posts/about-end-17095148") End Credits
  | . Eu a escrevi inicialmente com a ideia de fazer uma apresentação de minha
  |  banda anterior, #[=""]
  a(href="https://open.spotify.com/artist/17ztrEzLSzYOp8MySGqFHy?si=IjuRobixQYSd3JAI0WwtcA")
    | Sækla Saklōrum
  | , mas ela evoluiu de formas que eu não esperava.

p Eu havia publicado um #[=""]
  a(href="https://www.youtube.com/watch?v=sm5x1hLbPmM"): em playthru
  |  há uns meses, porém na época a guitarra final havia sido gravada
  |  desafinada. Depois publiquei #[=""]
  a(href="https://www.youtube.com/watch?v=JxVsCi1MxJo") um vídeo
  |  meu fazendo a correção.

p No dia 9 deste mês, publiquei no #[=""]
  a(href="https://www.patreon.com/posts/end-credits-21965049") Patreon
  |  a música inteira com a guitarra corrigida. Segue ela aqui também!

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/BqkRUbppOrE"
                               frameborder="0"
                               allowfullscreen=true)
