img.pull-right(src=image alt="Heim?")

p.mg-first!= content
  |  Não estou falando sobre não opiniar quanto a algo que não se tenha
  |  informação suficiente para tanto. Falo em pesquisar, se informar, e mesmo
  |  assim continuar em cima do muro.

p Por exemplo: dizer que #[=""]
  a(href="https://pt.wikipedia.org/wiki/Darwinismo") Darwinismo
  |  e #[=""]
  a(href="https://pt.wikipedia.org/wiki/Criacionismo") Criacionismo
  |  mereçam o mesmo respeito, que são visões equivalentes, mas opostas. #[=""]
  strong Não.

p Ou dizer que #[=""]
  a(href="https://pt.wikipedia.org/wiki/Terra_plana") Terraplanismo
  |  precise ser levado a sério. #[=""]
  strong Não.

p O nome disso é #[=""]
  a(href="https://pt.wikipedia.org/wiki/Falsa_equivalência")
    | falácia da falsa equivalência
  | : o “isentão” apresenta com equivalentes dois argumentos que não são,
  |  aproveitando-se de uma virtual similaridade.

p O Darwinismo é uma #[=""]
  a(href="https://brasilescola.uol.com.br/biologia/a-metodologia-cientifica.htm")
    | teoria científica
  |  validada, enquanto o Criacionismo não passa de #[strong achismo]
  |  corroborado apenas por ignorância histórica.

p O mesmo vale para o Terraplanismo: evidências de que a Terra é um #[=""]
  a(href="https://www.google.com/search?tbm=isch&sa=1&q=terra+vista+do+espaço")
    | esférica
  |  não podem ser ignoradas, mesmo assim algumas pessoas preferem acreditar
  |  que tudo não passa de uma grande conspiração.

p E se você acha que é #[em apenas uma teoria], sugiro jogar-se do alto de um
  |  prédio para provar que a #[strong Teoria] da Gravidade é #[=""]
  em apenas uma teoria
  | .

p No meio disso tudo há “#[strong O Isentão]”: o sujeito que, mesmo se
  |  esclarecendo, prefere ficar em cima do muro.

p É muito mais comum na política. Atualmente, por exemplo, #[=""]
  a(href=`${public.montegasppa.blog.url}${nav.prev.path}.html`)
    | cientistas sérios
  |  se posicionam com embasamento sólido, enquanto #[=""]
  a(href="https://www.youtube.com/watch?v=m21nLBzeJ5Q")
    | canais nutela
  |  forçam uma falsa equivalência entre as partes.

p O que motiva “o isentão” a ficar em cima do muro é nada além de
  |  #[strong medo]. Há basicamente três tipos de medo que o manipulam:

p 1️⃣ #[strong Medo de represália]: quando você se posiciona, mesmo com
  |  embasamento no lugar de achismo, quem se sente “agredido” por sua posição
  |  (geralmente o opressor numa relação de opressão) tende a retalhar seu
  |  posicionamento para evitar que outras pessoas se esclareçam também.

p 2️⃣ #[strong Medo de ser manipulado]: normalmente o isentão não possui
  |  capacidade cognitiva para discenir as informações que recebe. Ele vê
  |  outras pessoas igualmente incompetentes sendo manipuladas, então ele não vê
  |  outra alternativa para parecer inteligente além de não se posicionar. O que
  |  ele não percebe é que, em não se posicionando, também está se tornando
  |  massa de manobra a favor do opressor.

p 3️⃣ #[strong Medo do confronto]: qualquer pessoa que se posiciona terá suas
  |  posições naturalmente confrontadas. É então que o embasamento se mostra
  |  importante, uma vez que achismo não sobrevive a confrontos. Porém o isentão
  |  não possui capacidade para entender as informações que ele obteve, daí não
  |  tem nenhum embasamento de fato. Ao não se posicionar, não há o que ser
  |  confrontado – ou assim ele crê.

p Quero reiterar que absolutamente #[strong ninguém] tem a obrigação de opinar
  |  ou se posicionar sobre algo sem o conhecimento necessário para tanto,
  |  porém se isentar para #[strong fingir] inteligência é uma #[=""]
  strong desonestidade intelectual
  |  ainda maior do que se posicionar por achismo.
