p.pull-right: img(src=image alt="Um totalitarista")

p.mg-first!= content

p Em meio a muitas camisetas brancas, tenho algumas poucas coloridas e
  |  #[strong uma] camiseta preta. Hoje vesti esta camiseta preta para levar
  |  meu filho à gastropediatra.

p Não tive intenção alguma, apenas peguei uma camiseta aleatória – e desta vez
  |  foi a preta.

p Porém camisetas pretas têm sido usadas pelos círculos mais violentos e
  |  animalescos de fascistas que apoiam Bolsonaro, o “Hitler bananas”.

p Logo na saída de casa percebi que pessoas que me tratam com total desprezo,
  |  que geralmente ignoram minha existência, me cumprimentraram com certa
  |  satisfação – pessoas com quem eu mesmo faço questão de não ter contato
  |  algum.

p Chegando à gastro, meu filho gosta de contar. Toda vez que ele chegava ao
  |  número 17, alguém vinha alegre dizer “Ele já sabe em quem votar!”, ou
  |  alguma imbecilidade equivalente.

p Fosse apenas isso já seria perturbador o suficiente, mas teve mais…

p Chico estava correndo pelo #[em shopping] comigo correndo atrás. Em um momento
  |  ele correu para fora do #[em shopping], e fui atrás dele.

p Lá fora havia uma senhora negra, de óculos, um pouco gordinha. Ela não reparou
  |  no Chico correndo a minha frente, mas me viu a passos largos indo na
  |  direção dela. A reação da senhora foi dar #[strong três passos para trás].
  |  Não foi um, não foram dois… foram TRÊS passos! E fazendo cara de pânico.

p Essa é a reação que um homem branco vestido de preto causa em uma senhora
  |  negra.

p O #[=""]
  a(href="https://www.significados.com.br/fascismo/") Fascismo
  |  dominou o Brasil, o que ficou claro pela assustadora quantidade de 46%
  |  de votos fascistas no primeiro turno domingo passado. Vamos a uma pequena
  |  lista pra ajudar a identificar o Fascismo em seus primeiros sinais,
  |  adatada do texto de uma placa vendida aos visitantes do #[=""]
  a(href="https://oglobo.globo.com/boa-viagem/washington-dc-tem-um-dos-melhores-museus-sobre-holocausto-18570986")
    | Museu do Holocausto em Washington
  | , escrita por #[=""]
  a(href="https://voxpopulisphere.com/2017/08/23/lawrence-britt-14-characteristics-of-fascism/")
    | Lawrence W. Britt
  | :

ol
  li Nacionalismo forte e crescente;
  li Desprezo pelos Direitos Humanos;
  li Escolha ou criação de um inimigo como causa unificadora;
  li Exautação do militarismo;
  li Sexismo desenfreado (homem deve agir como “homem”, e mulher não deve se
    |  meter em “assuntos de homem”);
  li Controle das mídias de massa (igrejas evangélicas, por exemplo);
  li Obsessão por segurança nacional (dispersão do medo);
  li Confusão entre governo / política e religião;
  li Proteção das grandas corporações;
  li O poder dos trabalhadores é suprimido;
  li Deprezo pelo conhecimento, por intelectuais e pelas artes;
  li Obsessão por crime (criminalização de tudo de que discordam) e punição;
  li Corrupção e nepotismo desenfreado;
  li Eleições fraudulentas.
