p.mg-first
  a(href="https://www.facebook.com/flavia.bolognani.5") Flavia Bolognani
  |  compartilhou uma #[]
  a(href="https://www.facebook.com/photo.php?fbid=1307403205970967") publicação
  |  da #[]
  a(href="https://www.facebook.com/scssissysampaio") Sissy Sampaio
  |  para nos lembrar do quão incoerente é o posicionamento político dessa
  |  classe média alienada:

p.text-center: img(src="/img/sacrificio/sissy-sampaio.jpg")

p O texto puro:

blockquote
  p A presidenta DilmaRousseff fez pequenos “cortes” para tentar equilibrar a
    | economia.
  p Em seu discurso, pedia paciência à população, que logo tudo ficaria bem. O
    | que a população fez? Foi para a rua pedir a saída dela. Foi para a
    | internet chamá-la de vaca, puta, assassina, incopetente, terrorista. A
    | mulher saiu. O golpista entrou. Agora, ele pede SACRIFÍCIO da população. 
    | Um sacrifício que durará 20 anos. E o que a população fodida faz? Grita:
    | chora mais, petista; chupa, pt… Só pode ser doença. Uma doença causada
    | pela manipulação midiática.
