img.pull-right(src="/img/schecter-c8.jpg" alt="Schecter C-8 Deluxe")

p.mg-first Há algumas semanas tomei uma decisão muito séria quanto a meu
  | crescimento musical: não vou mais me prender por regras e padrões, vou fazer
  |  música e desenvolver minha técnica de acordo com o que #[strong eu]
  |  considerar mais adequado. Afinal, depois de uma vida inteira estudando
  | música e mais de 20 anos de guitarra, acho que tenho direito disso.

p Minha primeira decisão foi de usar mais 
  a(href="https://pt.wikipedia.org/wiki/Palheta") palheta
  | : as limitações ao prender os dedos não compensam suas vantagens. O problema
  | é que minhas unhas são muito fracas, as cordas da guitarra as cortam.

p A solução que encontrei foi o uso de 
  a(href="http://www.dicio.com.br/dedeira/") dedeiras
  | . Posso dizer que, depois de mais de 20 anos usando palheta, estou apanhando
  | bastante das dedeiras. Têm sido meu maior desafio até agora.

p Mas este artigo não trata de dedeiras.

p Outra decisão que tomei é que a afinação padrão (
  a(href="http://gtdb.org/eadgbe") EADGBE
  | ) não me atende. Já há alguns anos tenho usado afinação 
  a(href="https://pt.wikipedia.org/wiki/Drop_D"): em drop-D
  | , mas também chegou um ponto em que não tem sido mais suficiente.

p Uma afinação que proporciona uma sonoridade muito interessante é a 
  a(href="https://pt.wikipedia.org/wiki/DADGAD") afinação celta
  | , muito usada na música #[em folk] irlandesa.

p No entanto a afinação celta diminui um pouco o alcance dos agudos. Procurei
  | sugestões de afinação alternativa que compensasse essa carência.

p Encontrei nas guitarras de 8 cordas a saída.

p Eu achava que a afinação padrão para guitarras de 8 cordas fosse a usada por
  | metaleiros, que consiste na afinação tradicional para as 6 cordas
  | inferiores, acrescentando duas graves, um si e um fá sustenido: F♯BEADGBE.

p Descobri que há duas outras afinações consideradas #[em padrão]: a afinação
  |  para jazz, que são cinco 5 cordas agudas da guitarra e 3 graves do
  | contrabaixo: EADADGBE; e a afinação para música clássica, parecida com a
  | afinação de 6 cordas no meio, apenas trocando o si por dó, e acrescentando
  | um lá mais grave e outro mais agudo: AEADBCEA.

p Essa afinação para música clássica, usada por 
  a(href="https://pt.wikipedia.org/wiki/Egberto_Gismonti") Egberto Gismonti
  | , era a que eu procurava!

p Então vendi minha guitarra, uma 
  a(href="http://www.tagima.com.br/produtos/guitarra/MLP100.php")
    | Tagima MLP 100 Memphis cereja
  | , e comprei uma 
  a(href="http://www.schecterguitars.com/guitars/c-7-deluxe-804-806-2014-06-30-detail")
    | Schecter C-8 Deluxe preta cetim
  | . Como esperado, ela veio com a afinação para #[em heavy metal] (
  | F♯BEADGBE
  | ). Retirei a corda grave, subi a 7ª corda para a posição da 8ª, comprei um 
  a(href="https://www.ernieball.com/guitar-strings/electric-guitar-strings/slinky-rps-nickel-wound-electric-guitar-strings#P02241")
    | encordoamento híbrido 9-46
  | , e uma corda .008 como a prima.

p Depois afinei as 6 do meio com a afinação celta, a prima em sol e a 8ª em lá:
  |  ADADGADG: A (55Hz) – #[em Dad-Gad] – G (392Hz). Ainda pretendo trocar a 8ª
  |  corda (.052) por uma .056 (a do contrabaixo com a mesma afinação é .070).

p A sonoridade dessa experiência tem sido bastante interessante, e algumas
  | músicas ficaram surpreendentemente mais fáceis de se tocar. Veremos onde
  | isso vai nos levar.

p: small Ref.: 
  a(href="https://en.wikipedia.org/wiki/Eight-string_guitar#Notable_Players")
    | Wikipedia :: Eight-string guitar :: Notable Players
