p.mg-first The Shadow is an unconscious complex that is defined as the repressed
  | and suppressed aspects of the conscious self. There are constructive and
  | desctructive types of shadow. Carl Jung emphasized the importance of being
  | aware of shadow material and incorporating it into conscious awareness, lest
  | one project these attributes onto others.

p The human being deals with the reality of the Shadow in four ways:

ol
  li Denial
  li Projection
  li Integration
  li Transmutation

blockquote
  p There are three totally different kinds of humans on the Earth, meaning that
    | they perceive the one reality in three different ways, interpreted
    | differently.

  p The first kind of human has chromosome composition of 42+2. They comprise a
    | unity consciousness that does not see anything outside themselves as being
    | separate from themselves. To them, there is only one energy – one life,
    | one beingness that moves everywhere. Anything happening anywhere is within
    | them, as well. They are like cells in the body. They are all connected to
    | a single consciousness that moves through all of them. These are the
    | aboriginals in Australia. There might be a few African tribes left like
    | this.

  p Then, there is our level, comprising 44+2 chromosomes. We are a disharmonic
    | level of consciousness that is used as a steppingstone from the 42+2 level
    | to the next level, 46+2… These two chromosomes change everything.

  p (Drunvalo Melchizadek)

div(class=["embed-responsive", "embed-responsive-16by9"])
  iframe.embed-responsive-item(src="https://www.youtube.com/embed/f8aT9oRp95A"
                               frameborder="0"
                               allowfullscreen=true)
