img.pull-right(src=image alt="Punk")

p.mg-first Recentemente respondi a um #[=""]
  a(href="http://pt.quizur.com/quiz/voce-se-encaixa-em-qual-tribo-urbana-pZ")
    em quiz
  |  que me reconheceu como #[em punk]. Isso me fez refletir sobre minha
  |  relação com o movimento.

p Para poder começar a falar de minha relação com o Punk, é preciso antes fazer
  |  algumas considerações sobre o movimento.


h3 O Movimento Punk

p
  a(href="https://pt.wikipedia.org/wiki/Cultura_punk") Punk
  |  é um movimento artístico-político-cultural nascido na Inglaterra no final
  |  na década de ’70. Surgiu como um movimento contra o Status Quo, contrário
  |  à tradição. Caracteríza-se primordialmente pela busca do #[=""]
  a(href="https://pt.wikipedia.org/wiki/Faça_você_mesmo") DIY
  | . É essencialmente anti-autoritário, imediatista, anti-consumista e
  |  contrário a toda forma de conformidade.

p Artisticamente, o Punk propõe o foco não na arte, mas no aprendizado
  |  autodidata como fim em si. Isso significa que a arte #[em punk] não admite
  |  técnica ou especialização.

p A triste consequência desse posicionalmento é que necessariamente todo
  |  artista #[em punk] está condenado ao fracasso – conforme ele vai se
  |  aprimorando, ou deixa de ser #[em punk], ou deixa de ser artista, ou troca
  |  de área. Assim a arte #[em punk] depende sempre de novos artistas para
  |  sobreviver.

p O grupo de música #[em punk] mais expressivo e que mais marcou o movimento
  |  foram os #[=""]
  a(href="https://pt.wikipedia.org/wiki/Sex_Pistols") Sex Pistols
  | , cujo #[em slogan] era #[=""]
  a(href="https://www.theguardian.com/music/2010/feb/18/john-lydon-pink-floyd")
    | I hate Pink floyd
  | , que expressava sua aversão ao sofisticado, à técnica.

p Fiéis ao movimento, os Sex Pistols se dissolveram assim que começaram a
  |  atingir alguma maturidade musical – caso contrário não poderiam continuar
  |  sendo “#[em punk]”.


h3 De volta ao assunto

p Minha relação com o movimento Punk é bem complexa, até mesmo complicada. Faço
  |  música progressiva, tenho formação musical desde a infância, mas ainda
  |  assim gosto de música #[em punk] e me identifico com o movimento.

p Isso soa contraditório? E é.

p Não posso ser um músico #[em punk], minha bagagem técnica me invalida. No
  |  entanto adiciono elementos #[em punk] em minha música sempre que posso.

p Isso não significa copiar a sonoridade de bandas #[em punk]. “Elementos
  |  #[em punk]” significa usar os princípios do movimento: DIY e autodidatismo.

p Estou sempre tentando utilizar recursos e elementos musicais novos, que não
  |  domino, e aprendo no processo de arranjo e produção. Você poderá ouvir
  |  isso em nosso novo projeto, #[=""]
  a(href="patreon.com/saekla") O Nimbo
  | . São nove músicas (até agora cinco prontas, duas quase e duas no esqueleto)
  |  progressivas, com um toque altamente experimental, que pretendemos lançar
  |  ainda este ano.


h3 Sækla Saklōrum

p O projeto é progressivo, tudo o que o musicista #[em punk] mais abomina(va),
  |  porém altamente experimental, que reflete a influência #[em punk] minha e
  |  de outros membros do grupo.

p Os integrantes somos #[=""]
  a(href="https://www.facebook.com/saekla/photos/a.219064175270862.1073741828.185570451953568/219064185270861/?type=1&theater")
    | eu
  | , #[=""]
  a(href="https://www.facebook.com/saekla/photos/a.219064175270862.1073741828.185570451953568/219064298604183/?type=1&theater")
    | Adriene de Souza
  | , #[=""]
  a(href="https://www.facebook.com/saekla/photos/a.219064175270862.1073741828.185570451953568/219064285270851/?type=1&theater")
    | Clara la Marca
  | , #[=""]
  a(href="https://www.facebook.com/saekla/photos/a.219064175270862.1073741828.185570451953568/219064291937517/?type=1&theater")
    | Leonel Domingos
  | , #[=""]
  a(href="https://www.facebook.com/saekla/photos/a.219064175270862.1073741828.185570451953568/219064338604179/?type=1&theater")
    | Victor Baptista
  |  e #[=""]
  a(href="https://www.facebook.com/saekla/photos/a.219064175270862.1073741828.185570451953568/219064365270843/?type=1&theater")
    | Walter Cruz
  | . Você encontra nossas atribuições no #[=""]
  a(href="https://www.numberonemusic.com/cacilhas/members") N1M
  | .

p Devemos agradecimento ao #[=""]
  a(href="https://www.facebook.com/david.paiva.503") David Lino
  |  da #[=""]
  a(href="http://caravelaescarlate.blogspot.com.br/") Caravela Escalate
  |  por sua excelente participação especial no arranjo e execução do
  |  contrabaixo na música Cabalistique. Talvez tenhamos outra participação
  |  especial, mas ainda não confirmada.

p Espero que você goste! 😉
