img.pull-right(src=image alt="Slavery")

p.mg-first
  a(href="http://www.aclrc.com/myth-of-reverse-racism") Reverse Racism
  |  is the idea that oppressed people get grown prejudice agaist their
  |  oppressors applied to the ethnical bias.

p That idea fails in a set of misunderstood concepts and mistakes.

p Prejudice comes from pre-judgment, a judgment taken #[strong before]
  |  (#[em pre-]) the factual knowledge.

p When a white person’s affraid of being struck by an unknown black person
  |  based only in his/her skin colour, that fear has no support, nothing to
  |  justify.

p However, when black people are affraid of white violence, that fear is due to
  |  half a thousand years of slavery, physical, psychologic and cultural
  |  violence, kidnapping and rape.

p That’s not #[strong pre]judice, ’cause it’s not #[em a priori]. It’s
  |  #[strong: em a posteriori], fruit from cause.

p You can see the very same situation with misandry, normalphobia, antifapath,
  |  Christophobia, and so on. Those are lies created by oppressive people in
  |  order to mislead others to accept the #[=""]
  a(href="https://www.logicallyfallacious.com/logicalfallacies/False-Equivalence")
    | False Equivalence
  | .

p The False Equivalence Fallacy defrauds a non-existent equivalence between
  |  oppressor and oppressed, as if the fear of white people keeping
  |  stretching black people #[strong as they’ve always been done] is the same
  |  fear of black people begining to stretch white people
  |  #[strong as they’ve never done].

p As if the women’s fear of being raped by a man, as always happens, is the
  |  same fear that a man’ll be sexually abused.

p
  strong Every man is a potential rapist.
  |  We have the tools for that. Empathise and know how a woman sees us and
  |  why.

p I’m autistic, and I was psychologically wiped out all my life. Whence I got
  |  rage against #[=""]
  a(href="https://www.history.com/topics/germany/eugenics") eugenics
  | . My hatred of fascists is #[em a posteriori], and I extend it to
  |  misogynists, racists, homophobics, atheophobics, and all kinds of who has
  |  wrecked other’s life by prejudice – aware or not.

p
  a(href="https://en.wikipedia.org/wiki/Paradox_of_tolerance") The intolerant
    |  must not be tolerated, the Fascism has no right to be.
  |  Prejudice is #[em a priori], when #[em a posteriori] it’s #[=""]
  |  #[strong self-defense] – you just can’t compare isolated exceptions to
  |  the norm.


