img.pull-right(src=image alt="")

p.mg-first Depois de um mês fora, volto a poder publicar!

p Deixe que eu explico: eu usava o projeto #[=""]
  a(href="http://harpjs.com/") Harp
  |  para gerar as páginas deste sítio. Porém, em algum momento, depois de uma
  | atualização, o Harp simplesmente parou de funcionar na minha máquina. Tentei
  | recompilá-lo de todas as formas possíveis, em todas as versões disponíveis.

p Pior do que isso, alguém da comunidade achou que seria uma boa ideia se
  |  retirassem do ar todas as versões anteriores que funcionavam no OS X. Tipo:
  | #[=""]
  em works on my machine
  | , então que se foda o resto do universo.

p Para quem vem de outras comunidades de programação é muito frustrante o
  |  mundo #[=""]
  a(href="https://nodejs.org/") Node.js
  | , pois esse tipo de atitude é constrangedoramente comum e recorrente.

p De qualquer forma, para resolver o problema, escrevi um #[em script] próprio
  |  que usa o #[=""]
  a(href="https://pugjs.org/") Pug
  |  e o #[=""]
  a(href="http://stylus-lang.com/") Stylus
  |  diretamente para gerar as páginas, me libertando da necessidade do Harp.

p Isso significa que novas publicações já podem acontecer!
