img.pull-right(src="/img/fullstack.jpg" alt="")

p.mg-first Este artigo teria mais a ver com o #[=""]
  a(href=public.kodumaro.blog.url) #[=public.kodumaro.blog.title]
  |  do que com as #[=""]
  a(href=public.montegasppa.blog.url) #[=public.montegasppa.blog.title]
  | , no entanto estas são opiniões pessoais #[strong minhas], portanto, minhas
  |  “reflexões”.

p O novo #[em hype] é o desenvolvedor #[em full-stack]. Esta razoavelmente nova
  |  denominação se refere aos desenvolvedores com competências em todas as
  |  áreas de desenvolvimento: infraestrutura, interpretadores/compiladores,
  |  #[em back-end] e #[em front-end], termo eventualmente usado para um
  |  subconjunto, geralmente #[em back-end] e #[em front-end].

p Se você pesquisar no #[=""]
  a(href="https://www.google.com.br/search?q=fullstack") Google
  | , encontrará uma incomensurável lista de odes ao desenvolvedor
  |  #[em full-stack].

p Mas não estou aqui para fazer coro com esse mantra irracional.

p O desenvolvedor #[em full-stack] é como um pato: nada, anda, voa e canta –
  |  porém não nada direito, não anda direito, não voa direito, nem canta
  |  direito.

p Imagine um médico #[em full-stack]: ele é “especialista” em cardiologia,
  |  oncologia, pediatria, dermatologia, proctologia, urologia, ginecologia,
  |  otorrinolaringologia, anestesiologia, genética, gastroenterologia,
  |  radioterapia, endocrinologia, geriatria, oftalmologia, nutrição,
  |  pneumologia e psiquiatria. Como é bem sabido, se tudo é “especial”, nada
  |  o é.

p Na melhor das hipóteses, esse médico #[em full-stack] é um ótimo cardiologista
  |  (ou oncologista, ou pediatra, ou nutricionista, etc.), e é um grandíssimo
  |  meia-boca frustrado em todo o resto.

p Esse é o desenvolvedor #[em full-stack].

p O desenvolvedor é um bom #[em front-end], ou um bom #[em back-end], que se
  |  vê pressionado pelo mercado a ser proficiente em áreas fora de sua
  |  competência.

p Porém, pela repetição e pressão das empresas e comunidades, ele acredita que é
  |  obrigado a chupar cana, comer farofa e assobiar ao mesmo tempo. Assim ele
  |  divide seu tempo em tentar aprender mais coisas do que é capaz em vez de
  |  se dedicar aos conhecimentos que lhe trarão crescimento profissional.

p Ao não conseguir, ele começa a dedicar mais tempo do que deveria à profissão,
  |  sacrificando sua vida pessoal e tornando-se um #[em workaholic] – que é a
  |  condição #[strong patológica] de obsessão/compulsão pelo trabalho.

p É aí as empresas acham que lucram: transformam potenciais bons profissionais,
  |  que se tornam caros ao realizar seu potencial, em máquinas descartáveis
  |  dedicadas ao trabalho, que gerarão muito retorno para a empresa em curto ou
  |  médio prazo, e, quando se tornariam caros, podem ser substituídos pela
  |  nova geração de “salvadores da informática”.

p Isso também não significa que você desenvolvedor #[em back-end] precise ser
  |  uma mula em #[em front-end], ou que você de #[em front-end] seja um total
  |  analfabeto de infraestrutura. É apelas uma questão de foco, conhecimentos
  |  multidisciplinares são complementares e ajudam a manter uma visão ampla
  |  sobre tecnologia.

p Minha recomendação é: não caia nesse conto do vigário! Invista em sua
  |  carreira, acredite em seu potencial e nunca permita que os outros ditem o
  |  que você deve ou não fazer – nem de carreira, nem em sua vida pessoal.
  |  Aliás, #[em get a life]!